<div class="sheet-section-armor">

  <div class="sheet-row">

    <div class="sheet-col-1">
      <h4 class="sheet-center">Armor Class </h4>
      <p class="sheet-small-note">Add any equipment, effects or items here that give a benefit to your Armor Class (AC).  This includes Armor, shields and any magical items or spells.  Use the checkboxes to indicate whether each row is is worn/equipped.  If you have a class feature that also boosts your AC then add that here too.</p>
    </div>
  </div>

  <div class="sheet-row sheet-padb">

    <div class="sheet-col-1-7 sheet-right sheet-small-label">&nbsp;</div>

    <div class="sheet-col-1-7 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="number" name="attr_acCalc" readonly="readonly"><br>AC (worn armor)</div>

    <div class="sheet-col-1-7 sheet-right sheet-small-label">&nbsp;</div>

    <div class="sheet-col-1-7 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="number" name="attr_armorCheck" readonly="readonly"><br>Total Check Penalty</div>

    <div class="sheet-col-1-7 sheet-right sheet-small-label">&nbsp;</div>

    <div class="sheet-col-1-7 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="number" name="attr_armorSpeed" readonly="readonly"><br>Total Speed Reduction</div>

    <div class="sheet-col-1-7 sheet-right sheet-small-label">&nbsp;</div>
  </div>

  <div class="sheet-row">

    <div class="sheet-col-1">

      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-24 sheet-center sheet-small-label sheet-vert-bottom">Worn?</div>
        <div class="sheet-col-5-24 sheet-center sheet-small-label sheet-vert-bottom">Name</div>
        <div class="sheet-col-1-24 sheet-center sheet-small-label sheet-vert-bottom">AC</div>
        <div class="sheet-col-1-24 sheet-center sheet-small-label sheet-vert-bottom">Bonus</div>
        <div class="sheet-col-1-24 sheet-center sheet-small-label sheet-vert-bottom">Total AC</div>
        <div class="sheet-col-1-6 sheet-center sheet-small-label sheet-vert-bottom">Fumble Die</div>
        <div class="sheet-col-1-8 sheet-center sheet-small-label sheet-vert-bottom">Check Penalty</div>
        <div class="sheet-col-1-12 sheet-center sheet-small-label sheet-vert-bottom">Speed Reduction</div>
        <div class="sheet-col-1-4 sheet-center sheet-vert-bottom"><span class="sheet-new-feature"> ❗ </span><span class="sheet-small-label">Notes</span></div>
      </div>

      <!-- BEGIN ARMOR repeating row -->
        <fieldset class="repeating_armor">
          <div class="sheet-row">
            <div class="sheet-col-1-24 sheet-vert-middle sheet-checkbox-row"><input type="checkbox" name="attr_armorActive"></div>
            <div class="sheet-col-5-24"><input type="text" name="attr_armorName"></div>
            <div class="sheet-col-1-24"><input type="number" name="attr_armorAcBase" value="0" step="1"></div>
            <div class="sheet-col-1-24"><input type="number" name="attr_armorMagicBonus" value="0" step="1"></div>
            <div class="sheet-col-1-24"><input class="sheet-center" type="number" name="attr_armorTotalAc" value="@{armorAcBase} + @{armorMagicBonus}" disabled="disabled"></div>
            <div class="sheet-col-1-6">
              <select name="attr_armorFumbleDie">
                <option value="0" selected="selected">--</option>
                <option value="d4">d4</option>
                <option value="d8">d8</option>
                <option value="d12">d12</option>
                <option value="d16">d16</option>
              </select>
            </div>
            <div class="sheet-col-1-8">
              <select name="attr_armorCheck">
                <option value="0" selected="selected">--</option>
                <option value="-1">-1</option>
                <option value="-2">-2</option>
                <option value="-3">-3</option>
                <option value="-4">-4</option>
                <option value="-5">-5</option>
                <option value="-6">-6</option>
                <option value="-7">-7</option>
                <option value="-8">-8</option>
              </select>
            </div>
            <div class="sheet-col-1-12">
              <select name="attr_armorSpeed">
                <option value="0" selected="selected">No</option>
                <option value="-5">-5</option>
                <option value="-10">-10</option>
              </select>
            </div>
            <% # the attribute name `armorSpecial` is retained here for compatibility with the other DCC sheet %>
            <div class="sheet-col-1-4"><input value="" type="text" name="attr_armorSpecial" placeholder="Ex: +1 AC vs Dragons"></div>
          </div>
        </fieldset>

    </div>

  </div>

  <hr>
</div>
