<div class="sheet-section-lankhmar">
  <div class="sheet-row">
    <div class="sheet-col-1">
      <h4 class="sheet-center">Lankhmar</h4>
      <p class="sheet-small-note">Lankhmar stuff goes here</p>
    </div>
  </div>

  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">
      Place of Origin
    </div>
    <div class="sheet-col-1-4 sheet-right">
      <input class="sheet-center" type="text" name="attr_lankhmar_place_of_origin" placeholder="Place of Origin">
    </div>
  </div>

  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">
      Neighbourhood / Quarter
    </div>
    <div class="sheet-col-1-4 sheet-right">
      <input class="sheet-center" type="text" name="attr_neighbourhood" placeholder="Neighbourhood">
    </div>
  </div>

  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">
      Hangout
    </div>
    <div class="sheet-col-1-4 sheet-right">
      <input class="sheet-center" type="text" name="attr_hangout" placeholder="Hangout">
    </div>
  </div>

  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">
      Path
    </div>
    <div class="sheet-col-1-4 sheet-right">
      <input class="sheet-center" type="text" name="attr_path" placeholder="Thief/Spell Path">
    </div>
  </div>

  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">
      Patron Die
    </div>
    <div class="sheet-col-1-4 sheet-right">
      <button class="sheet-center" type="action" name="act_lankhmar-patron-die">
        Patron Die
      </button>
    </div>
  </div>

</div>
