<div class="sheet-core-header sheet-padb">
  <div class="sheet-row">
    <div class="sheet-col-1-4 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" placeholder="Player Name" name="attr_playerName"><br>Player Name</div>
    <div class="sheet-col-1-8 sheet-center">&nbsp;</div>
    <div class="sheet-col-1-4 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" placeholder="Character Name" name="attr_character_name"><br>Character Name</div>
    <div class="sheet-col-1-8 sheet-small-label sheet-center"><input class="sheet-underlined sheet-center" type="text" placeholder="Race" name="attr_race"><br>Race</div>
    <div class="sheet-col-1-8 sheet-center">
      <%= render partial: "shared/widgets/action_die_selector", indent: 3, locals: { attr_name: "attr_ActionDie", default: "d20" } %>
      <br/>
      <span class="sheet-new-feature sheet-large-label" title="New! Easily select your action die from here. Doesn't apply to weapons/spells. Mostly applies to class skills. This may change in the future">â—<span class="sheet-small-label">Current action die</span></span>
    </div>
    <div class="sheet-col-1-8 sheet-center sheet-margin-top"><p class="sheet-last-updated">Sheet last updated<br>19 February 2022</p></div>
  </div>
</div>
