<select name="<%= context.attr "attackRange", include_name_prefix: false %>"
        title="Short range: no penalty&#10;Medium range: -2 on attack roll&#10;Long ranged: -1d on attack roll">
  <option value="Short">Short</option>
  <option value="Medium">Med</option>
  <option value="Long">Long</option>
</select>
