<select name="<%= attr.name("CritThreat") %>"
   title="Your critical threat range goes up, if your dice on the dice chain goes up.  For those dual wielding, your primary hand gets a critical threat at 16.  If you are a halfling, both weapons get a critical threat at 16.">
  <option value="30">30</option>
  <option value="29">29-30</option>
  <option value="28">28-30</option>
  <option value="27">27-30</option>
  <option value="24">24</option>
  <option value="23">23-24</option>
  <option value="22">22-24</option>
  <option value="21">21-24</option>
  <option value="20" selected="selected">20</option>
  <option value="19">19-20</option>
  <option value="18">18-20</option>
  <option value="17">17-20</option>
  <option value="16">16</option>
</select>
