<select name="<%= context.attr "AttackWielded" %>" title="How is the weapon being wielded">
  <option value="Primary Hand" selected="selected">Primary Hand</option>
  <option value="Two Handed">2 Handed</option>
  <option value="Off Hand">Off Hand</option>
  <option value="Off Hand (Halfling)">Off Hand (Half)</option>
</select>
