<select
  name="<%= context.attr "WeaponType" %>"
  title="Select Thrown or Missile weapon">
  <option value="Thrown">Thrown</option>
  <option value="Missile" selected="selected">Missile</option>
</select>
