<rolltemplate class="sheet-rolltemplate-DccTabbed">
  <div class="sheet-RollTemp-wrapper">

  <!--Backgrounds-->
  {{#rollTotal() background 0}}
    <div class="sheet-RollTemp-BgHugh">
  {{/rollTotal() background 0}}
  {{#rollTotal() background 1}}
    <div class="sheet-RollTemp-BgShana">
  {{/rollTotal() background 1}}
  {{#rollTotal() background 2}}
    <div class="sheet-RollTemp-BgAlamanter">
  {{/rollTotal() background 2}}
  {{#rollTotal() background 3}}
    <div class="sheet-RollTemp-BgSezrakan">
  {{/rollTotal() background 3}}
  {{#rollTotal() background 4}}
    <div class="sheet-RollTemp-BgFarrah">
  {{/rollTotal() background 4}}
  {{#rollTotal() background 5}}
    <div class="sheet-RollTemp-BgChuck">
  {{/rollTotal() background 5}}


      <div class="sheet-RollTemp-header{{#combat}} sheet-combat{{/combat}}{{#spell}}  sheet-spell{{/spell}}{{#stat}} sheet-stat{{/stat}}{{#save}} sheet-save{{/save}}{{#class}} sheet-class{{/class}}">
          <div class="sheet-RollTemp-title">{{title}}</div>
          <div class="sheet-RollTemp-name">{{name}} {{stuff}} {{stuff2}}</div>
          <div class="sheet-RollTemp-line"></div>
          {{#hint}}
            <div class="sheet-RollTemp-hint-image" title="{{hint}}"></div>
          {{/hint}}
      </div>

      <div class="sheet-main-content">



          <!--Weapon based attacks-->
              {{#attack}}
                  <div class="sheet-row">
                    <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">Wielded</div>
                    <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{wielded}}</div>
                    {{#notes}}
                      <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">Notes</div>
                      <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{notes}}</div>
                    {{/notes}}
                    <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-5-13 sheet-padl sheet-RollTemp-rollname">Hits AC:</div>
                    <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{attack}}</div>
                  </div>

                  {{#^rollWasFumble() attack}}
                  {{#damage}}
                      <div class="sheet-row">
                          <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Damage :</div>
                          <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{damage}}</div>
                      </div>
                  {{/damage}}
              {{/^rollWasFumble() attack}}

              {{#rollWasCrit() attack}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-4-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Crit :</div>
                        <div class="sheet-col-9-13 sheet-padl sheet-padr sheet-RollTemp-critsuccess">{{crit}} on Crit Table {{crittable}}</div>
                    </div>
                {{/rollWasCrit() attack}}

                {{#rollWasFumble() attack}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Fumble :</div>
                        <div class="sheet-col-8-13 sheet-padl sheet-RollTemp-critfail">{{fumble}} on Fumble Table</div>
                    </div>
                {{/rollWasFumble() attack}}

              {{/attack}}

              {{#attackWithDeed}}
                <div class="sheet-row">
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">Wielded</div>
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{wielded}}</div>
                  {{#notes}}
                    <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">Notes</div>
                    <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{notes}}</div>
                  {{/notes}}
                  <div class="sheet-col-1-1">&nbsp;</div>
                  <div class="sheet-col-5-13 sheet-padl sheet-RollTemp-rollname">Deed Die:</div>
                  <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{deedroll}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                  <div class="sheet-col-5-13 sheet-padl sheet-RollTemp-rollname">Hits AC:</div>
                  <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{attackWithDeed}} (incl. deed)</div>
                </div>

                {{#^rollWasFumble() attackWithDeed}}
                  {{#damage}}
                    <div class="sheet-row">
                      <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Damage :</div>
                      <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{damage}}</div>
                    </div>
                  {{/damage}}
                {{/^rollWasFumble() attackWithDeed}}

                {{#rollWasCrit() attackWithDeed}}
                  <div class="sheet-row">
                    <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-4-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Crit :</div>
                    <div class="sheet-col-9-13 sheet-padl sheet-padr sheet-RollTemp-critsuccess">{{crit}} on Crit Table {{crittable}}</div>
                  </div>
                {{/rollWasCrit() attackWithDeed}}

                {{#rollWasFumble() attackWithDeed}}
                  <div class="sheet-row">
                    <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Fumble :</div>
                    <div class="sheet-col-8-13 sheet-padl sheet-RollTemp-critfail">{{fumble}} on Fumble Table</div>
                  </div>
                {{/rollWasFumble() attackWithDeed}}
              {{/attackWithDeed}}

              {{#rangedattack}}
                <div class="sheet-row">
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">Attack Range</div>
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{range}}</div>
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">{{rangedtype}}</div>
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{type}}</div>
                  {{#notes}}
                    <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">Notes</div>
                    <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{notes}}</div>
                  {{/notes}}
                  <div class="sheet-col-1-1">&nbsp;</div>
                      <div class="sheet-col-5-13 sheet-padl sheet-RollTemp-rollname">Hits AC:</div>
                      <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-textresult">{{rangedattack}}</div>
                  </div>

                  {{#^rollWasFumble() rangedattack}}
                  {{#damage}}
                      <div class="sheet-row">
                          <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Damage :</div>
                          <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{damage}}</div>
                      </div>
                  {{/damage}}
              {{/^rollWasFumble() rangedattack}}

              {{#rollWasCrit() rangedattack}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-4-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Crit :</div>
                        <div class="sheet-col-9-13 sheet-padl sheet-padr sheet-RollTemp-critsuccess">{{crit}} on Crit Table {{crittable}}</div>
                    </div>
                {{/rollWasCrit() rangedattack}}

                {{#rollWasFumble() rangedattack}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Fumble :</div>
                        <div class="sheet-col-8-13 sheet-padl sheet-RollTemp-critfail">{{fumble}} on Fumble Table</div>
                    </div>
                {{/rollWasFumble() rangedattack}}

              {{/rangedattack}}

              {{#rangedAttackWithDeed}}
                <div class="sheet-row">
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">Attack Range</div>
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{range}}</div>
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">{{rangedtype}}</div>
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{type}}</div>
                  {{#notes}}
                    <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">Notes</div>
                    <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{notes}}</div>
                  {{/notes}}
                  <div class="sheet-col-1-1">&nbsp;</div>
                  <div class="sheet-col-5-13 sheet-padl sheet-RollTemp-rollname">Deed Die:</div>
                  <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{deedroll}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                  <div class="sheet-col-5-13 sheet-padl sheet-RollTemp-rollname">Hits AC:</div>
                  <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{rangedAttackWithDeed}} (incl. deed)</div>

                  {{#^rollWasFumble() rangedAttackWithDeed}}
                  {{#damage}}
                      <div class="sheet-row">
                          <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Damage :</div>
                          <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{damage}}</div>
                      </div>
                  {{/damage}}

                  {{#^rollWasFumble() attackWithDeed}}
                    {{#damage}}
                      <div class="sheet-row">
                        <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Damage :</div>
                        <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{damage}}</div>
                      </div>
                    {{/damage}}
                  {{/^rollWasFumble() attackWithDeed}}

                  {{/^rollWasFumble() rangedAttackWithDeed}}

                  {{#rollWasCrit() rangedAttackWithDeed}}
                    <div class="sheet-row">
                      <div class="sheet-col-1-1">&nbsp;</div>
                      <div class="sheet-col-4-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Crit :</div>
                      <div class="sheet-col-9-13 sheet-padl sheet-padr sheet-RollTemp-critsuccess">{{crit}} on Crit Table {{crittable}}</div>
                    </div>
                  {{/rollWasCrit() rangedAttackWithDeed}}

                {{#rollWasFumble() rangedAttackWithDeed}}
                  <div class="sheet-row">
                    <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Fumble :</div>
                    <div class="sheet-col-8-13 sheet-padl sheet-RollTemp-critfail">{{fumble}} on Fumble Table</div>
                  </div>
                {{/rollWasFumble() rangedAttackWithDeed}}

              {{/rangedAttackWithDeed}}

              {{#backstab}}
                <div class="sheet-row">
                  <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  {{#notes}}
                    <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">Notes</div>
                    <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{notes}}</div>
                  {{/notes}}
                  <div class="sheet-col-1-1">&nbsp;</div>
                  <div class="sheet-row">
                        <div class="sheet-col-5-13 sheet-padl sheet-RollTemp-rollname">Hits AC:</div>
                        <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{backstab}}</div>
                    </div>
                </div>

                {{#^rollWasFumble() backstab}}
                  {{#damage}}
                      <div class="sheet-row">
                          <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Damage :</div>
                          <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{damage}}</div>
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-4-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Crit :</div>
                          <div class="sheet-col-9-13 sheet-padl sheet-padr sheet-RollTemp-critsuccess">{{crit}} on Crit Table {{crittable}}</div>
                      </div>
                  {{/damage}}
              {{/^rollWasFumble() backstab}}

                {{#rollWasFumble() backstab}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Fumble :</div>
                        <div class="sheet-col-8-13 sheet-padl sheet-RollTemp-critfail">{{fumble}} on Fumble Table</div>
                    </div>
                {{/rollWasFumble() backstab}}

            {{/backstab}}

            {{#rangedbackstab}}
                <div class="sheet-row">
                  <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">Attack Range</div>
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{range}}</div>
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">Ranged Type</div>
                  <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{type}}</div>
                  {{#notes}}
                    <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-info">Notes</div>
                    <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{notes}}</div>
                  {{/notes}}
                  <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-5-13 sheet-padl sheet-RollTemp-rollname">Hits AC:</div>
                        <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{rangedbackstab}}</div>
                    </div>
                </div>

                {{#^rollWasFumble() rangedbackstab}}
                  {{#damage}}
                      <div class="sheet-row">
                          <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Damage :</div>
                          <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{damage}}</div>
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-4-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Crit :</div>
                          <div class="sheet-col-9-13 sheet-padl sheet-padr sheet-RollTemp-critsuccess">{{crit}} on Crit Table {{crittable}}</div>
                      </div>
                  {{/damage}}
              {{/^rollWasFumble() rangedbackstab}}

                {{#rollWasFumble() rangedbackstab}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Fumble :</div>
                        <div class="sheet-col-8-13 sheet-padl sheet-RollTemp-critfail">{{fumble}} on Fumble Table</div>
                    </div>
                {{/rollWasFumble() rangedbackstab}}

            {{/rangedbackstab}}

            {{#monsterattack}}
                  <div class="sheet-row">
                      <div class="sheet-col-5-13 sheet-padl sheet-RollTemp-rollname">Hits AC:</div>
                      <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{monsterattack}}</div>
                  </div>

                  {{#^rollWasFumble() monsterattack}}
                  {{#damage}}
                      <div class="sheet-row">
                          <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Damage :</div>
                          <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{damage}}</div>
                      </div>
                  {{/damage}}
              {{/^rollWasFumble() monsterattack}}

              {{#rollWasCrit() monsterattack}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-4-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Crit :</div>
                        <div class="sheet-col-9-13 sheet-padl sheet-padr sheet-RollTemp-critsuccess">{{crit}} on Crit Table {{crittable}}</div>
                    </div>
                {{/rollWasCrit() monsterattack}}

                {{#rollWasFumble() monsterattack}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Fumble :</div>
                        <div class="sheet-col-8-13 sheet-padl sheet-RollTemp-critfail">{{fumble}} on Fumble Table</div>
                    </div>
                {{/rollWasFumble() monsterattack}}

              {{/monsterattack}}

              {{#special}}
                  <div class="sheet-row">
                      <div class="sheet-col-12-13 sheet-padl sheet-RollTemp-rollname">Special Attack:</div>
                      <div class="sheet-col-12-13 sheet-padr sheet-RollTemp-textboxBlue">{{special}}</div>
                  </div>

                  {{#specialdmg}}
                    <div class="sheet-row">
                        <div class="sheet-col-15-23 sheet-padl sheet-padr sheet-RollTemp-rollname">Special Damage :</div>
                        <div class="sheet-col-8-23 sheet-padr sheet-RollTemp-rollresult">{{specialdmg}}</div>
                    </div>
                {{/specialdmg}}
              {{/special}}

          <!-- Mighty Deed -->
            {{#deeddie}}
                <div class="sheet-row">
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-6-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-7-13 sheet-padr sheet-RollTemp-rollresult">{{deeddie}}</div>
                </div>
                {{#rollWasCrit() deeddie}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">{{successtext}}
                    </div>
                {{/rollWasCrit() deeddie}}
            {{/deeddie}}

          <!-- Smite -->
            {{#smite}}
                <div class="sheet-row">
                  <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-flarecombat">{{deity}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-4-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-9-13 sheet-padr sheet-RollTemp-rollresult">{{smite}}</div>
                </div>
            {{/smite}}

          <!-- Initiative -->
            {{#INIT}}
                <div class="sheet-row">
                    <div class="sheet-col-6-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Initiative : </div>
                    <div class="sheet-col-7-13 sheet-padr sheet-RollTemp-rollresult">{{INIT}}</div>
                </div>
            {{/INIT}}

          <!-- Hit Die -->
            {{#HD}}
                <div class="sheet-row">
                  <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-7-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-6-13 sheet-padr sheet-RollTemp-rollresult">{{HD}}</div>
                </div>
            {{/HD}}

        <!-- Turn Unholy -->
            {{#turnunholy}}
                <div class="sheet-row">
                  <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-flareclass">{{deity}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-8-15 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-7-15 sheet-padr sheet-RollTemp-rollresult">{{turnunholy}}</div>
                </div>
                {{#rollWasFumble() turnunholy}}
                <div class="sheet-row">
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">{{deity}} disapproves of your actions!</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Roll for Disapproval.</div>
                </div>
                {{/rollWasFumble() turnunholy}}
                {{#^rollWasFumble() turnunholy}}
                  {{#rollLess() turnunholy 12}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Turn Check Failed!</div>
                          <div class="sheet-col-23-24 sheet-RollTemp-fail">Increase Disapproval Rating by 1.</div>
                      </div>
                  {{/rollLess() turnunholy 12}}

                  {{#rollBetween() turnunholy 12 13}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-rollname">Turn Range: 30'</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">1HD Creature: {{1HDCheck13}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">2HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">3-4HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">5-6HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">7-8HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">9-10HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">11-12HD Creature: No Effect</div>
                      </div>
                  {{/rollBetween() turnunholy 12 13}}

                  {{#rollBetween() turnunholy 14 17}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-rollname">Turn Range: 30'</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">1HD Creature: {{1HDCheck17}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">2HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">3-4HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">5-6HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">7-8HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">9-10HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">11-12HD Creature: No Effect</div>
                      </div>
                  {{/rollBetween() turnunholy 14 17}}

                  {{#rollBetween() turnunholy 18 19}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-rollname">Turn Range: 30'</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">1HD Creature: {{1HDCheck19}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">2HD Creature: {{2HDCheck19}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">3-4HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">5-6HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">7-8HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">9-10HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">11-12HD Creature: No Effect</div>
                      </div>
                  {{/rollBetween() turnunholy 18 19}}

                  {{#rollBetween() turnunholy 20 23}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-rollname">Turn Range: 60'</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">1HD Creature: {{1HDCheck23}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">2HD Creature: {{2HDCheck23}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">3-4HD Creature: {{4HDCheck23}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">5-6HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">7-8HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">9-10HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">11-12HD Creature: No Effect</div>
                      </div>
                  {{/rollBetween() turnunholy 20 23}}

                  {{#rollBetween() turnunholy 24 27}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-rollname">Turn Range: 60'</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-rollname">Holy Smite: {{HolySmiteCheck27}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">1HD Creature: {{1HDCheck27}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">2HD Creature: {{2HDCheck27}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">3-4HD Creature: {{4HDCheck27}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">5-6HD Creature: {{6HDCheck27}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">7-8HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">9-10HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">11-12HD Creature: No Effect</div>
                      </div>
                  {{/rollBetween() turnunholy 24 27}}

                  {{#rollBetween() turnunholy 28 29}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                           <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-rollname">Turn Range: 60'</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-rollname">Holy Smite: {{HolySmiteCheck29}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">1HD Creature: {{1HDCheck29}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">2HD Creature: {{2HDCheck29}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">3-4HD Creature: {{4HDCheck29}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">5-6HD Creature: {{6HDCheck29}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">7-8HD Creature: {{8HDCheck29}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">9-10HD Creature: No Effect</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">11-12HD Creature: No Effect</div>
                      </div>
                  {{/rollBetween() turnunholy 28 29}}

                  {{#rollBetween() turnunholy 30 31}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-rollname">Turn Range: 120'</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-rollname">Holy Smite: {{HolySmiteCheck31}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">1HD Creature: {{1HDCheck31}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">2HD Creature: {{2HDCheck31}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">3-4HD Creature: {{4HDCheck31}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">5-6HD Creature: {{6HDCheck31}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">7-8HD Creature: {{8HDCheck31}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">9-10HD Creature: {{10HDCheck31}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">11-12HD Creature: No Effect</div>
                      </div>
                  {{/rollBetween() turnunholy 30 31}}

                  {{#rollGreater() turnunholy 32}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                           <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-rollname">Turn Range: 240'</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-rollname">Holy Smite: {{HolySmiteCheck32}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">1HD Creature: {{1HDCheck32}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">2HD Creature: {{2HDCheck32}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">3-4HD Creature: {{4HDCheck32}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">5-6HD Creature: {{6HDCheck32}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">7-8HD Creature: {{8HDCheck32}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">9-10HD Creature: {{10HDCheck32}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">11-12HD Creature: {{12HDCheck32}}</div>
                      </div>
                  {{/rollGreater() turnunholy 32}}
                {{/^rollWasFumble() turnunholy}}
            {{/turnunholy}}

        <!-- Divine Aid -->
            {{#divineaid}}
                <div class="sheet-row">
                  <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-flareclass">{{deity}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-7-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-6-13 sheet-padr sheet-RollTemp-rollresult">{{divineaid}}</div>
                    <div class="sheet-col-1-1">&nbsp;</div>
                  <div class="sheet-col-23-24 sheet-RollTemp-fail">Increase Disapproval Rating by 10.</div>
                </div>
            {{/divineaid}}

        <!-- Lay On Hands -->
            {{#layonhands}}
                <div class="sheet-row">
                  <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-flareclass">{{deity}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-8-15 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-7-15 sheet-padr sheet-RollTemp-rollresult">{{layonhands}}</div>
                    <div class="sheet-col-9-15 sheet-padl sheet-padr sheet-RollTemp-rollname">Heal Condition : </div>
                    <div class="sheet-col-6-15 sheet-padr sheet-RollTemp-textSM">{{condition}}</div>
                </div>
                {{#rollWasFumble() layonhands}}
                <div class="sheet-row">
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">{{deity}} disapproves of your actions!</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Roll for Disapproval.</div>
                </div>
                {{/rollWasFumble() layonhands}}
                {{#^rollWasFumble() layonhands}}
                  {{#rollLess() layonhands 12}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Spell Check Failed!</div>
                          <div class="sheet-col-23-24 sheet-RollTemp-fail">Increase Disapproval Rating by 1.</div>
                      </div>
                  {{/rollLess() layonhands 12}}

                  {{#rollBetween() layonhands 12 13}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Same Alignment: 2 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Adjacent Alignment: 1 die</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Opposite Alignment: 1 die</div>
                      </div>
                  {{/rollBetween() layonhands 12 13}}

                  {{#rollBetween() layonhands 14 19}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Same Alignment: 3 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Adjacent Alignment: 2 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Opposite Alignment: 1 die</div>
                      </div>
                  {{/rollBetween() layonhands 14 19}}

                  {{#rollBetween() layonhands 20 21}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Same Alignment: 4 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Adjacent Alignment: 3 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Opposite Alignment: 2 dice</div>
                      </div>
                  {{/rollBetween() layonhands 20 21}}

                  {{#rollGreater() layonhands 21}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Same Alignment: 5 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Adjacent Alignment: 4 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Opposite Alignment: 3 dice</div>
                      </div>
                  {{/rollGreater() layonhands 21}}
                {{/^rollWasFumble() layonhands}}
            {{/layonhands}}

        <!-- Lay On Hands Paladin -->
            {{#layonhandspaly}}
                <div class="sheet-row">
                  <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-flareclass">{{deity}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-8-15 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-7-15 sheet-padr sheet-RollTemp-rollresult">{{layonhandspaly}}</div>
                    <div class="sheet-col-9-15 sheet-padl sheet-padr sheet-RollTemp-rollname">Heal Condition : </div>
                    <div class="sheet-col-6-15 sheet-padr sheet-RollTemp-textSM">{{condition}}</div>
                </div>
                {{#rollWasFumble() layonhandspaly}}
                <div class="sheet-row">
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">{{deity}} disapproves of your actions!</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Roll for Disapproval.</div>
                </div>
                {{/rollWasFumble() layonhandspaly}}
                {{#^rollWasFumble() layonhandspaly}}
                  {{#rollLess() layonhandspaly 12}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Spell Check Failed!</div>
                          <div class="sheet-col-23-24 sheet-RollTemp-fail">Increase Disapproval Rating by 1.</div>
                      </div>
                  {{/rollLess() layonhandspaly 12}}

                  {{#rollBetween() layonhandspaly 12 13}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Same Alignment: 1 die</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Adjacent Alignment: None</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Opposite Alignment: None</div>
                      </div>
                  {{/rollBetween() layonhandspaly 12 13}}

                  {{#rollBetween() layonhandspaly 14 19}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Same Alignment: 2 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Adjacent Alignment: 1 die</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Opposite Alignment: None</div>
                      </div>
                  {{/rollBetween() layonhandspaly 14 19}}

                  {{#rollBetween() layonhandspaly 20 21}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Same Alignment: 3 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Adjacent Alignment: 2 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Opposite Alignment: 1 die</div>
                      </div>
                  {{/rollBetween() layonhandspaly 20 21}}

                  {{#rollBetween() layonhandspaly 22 24}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Same Alignment: 4 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Adjacent Alignment: 3 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Opposite Alignment: 2 dice</div>
                      </div>
                  {{/rollBetween() layonhandspaly 22 24}}

                  {{#rollGreater() layonhandspaly 24}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Same Alignment: 4 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Adjacent Alignment: 3 dice</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Heal Opposite Alignment: 2 dice</div>
                      </div>
                  {{/rollGreater() layonhandspaly 24}}
                {{/^rollWasFumble() layonhandspaly}}
            {{/layonhandspaly}}

        <!-- Instill Bravery -->
            {{#bravery}}
                <div class="sheet-row">
                  <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-flareclass">{{deity}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-11-15 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-4-15 sheet-padr sheet-RollTemp-rollresult">{{bravery}}</div>
                </div>
                {{#rollWasFumble() bravery}}
                <div class="sheet-row">
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">{{deity}} disapproves of your actions!</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Roll for Disapproval.</div>
                </div>
                {{/rollWasFumble() bravery}}
                {{#^rollWasFumble() bravery}}
                  {{#rollLess() bravery 12}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Spell Check Failed!</div>
                          <div class="sheet-col-23-24 sheet-RollTemp-fail">Increase Disapproval Rating by 1.</div>
                      </div>
                  {{/rollLess() bravery 12}}

                  {{#rollBetween() bravery 12 13}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Fear Saving Throw Bonus: {{fearbonusCheck13}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Number of Targets affected: {{targetsCheck13}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Duration: {{duration}} minute(s)</div>
                      </div>
                  {{/rollBetween() bravery 12 13}}

                  {{#rollBetween() bravery 14 19}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Fear Saving Throw Bonus: {{fearbonusCheck19}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Number of Targets affected: {{targetsCheck19}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Duration: {{duration}} minute(s)</div>
                      </div>
                  {{/rollBetween() bravery 14 19}}

                  {{#rollBetween() bravery 20 21}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Fear Saving Throw Bonus: {{fearbonusCheck21}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Number of Targets affected: {{targetsCheck21}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Duration: {{duration}} minute(s)</div>
                      </div>
                  {{/rollBetween() bravery 20 21}}

                  {{#rollBetween() bravery 22 24}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Fear Saving Throw Bonus: {{fearbonusCheck24}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Number of Targets affected: {{targetsCheck24}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Duration: {{duration}} minute(s)</div>
                      </div>
                  {{/rollBetween() bravery 22 24}}

                  {{#rollGreater() bravery 24}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Fear Saving Throw Bonus: {{fearbonusCheck25}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Number of Targets affected: {{targetsCheck25}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Duration: {{duration}} minute(s)</div>
                      </div>
                  {{/rollGreater() bravery 24}}
                {{/^rollWasFumble() bravery}}
            {{/bravery}}

        <!-- Cause Fear -->
            {{#fear}}
                <div class="sheet-row">
                  <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-flareclass">{{deity}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-11-15 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-4-15 sheet-padr sheet-RollTemp-rollresult">{{fear}}</div>
                </div>
                {{#rollWasFumble() fear}}
                <div class="sheet-row">
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">{{deity}} disapproves of your actions!</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Roll for Disapproval.</div>
                </div>
                {{/rollWasFumble() fear}}
                {{#^rollWasFumble() fear}}
                  {{#rollLess() fear 12}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Spell Check Failed!</div>
                          <div class="sheet-col-23-24 sheet-RollTemp-fail">Increase Disapproval Rating by 1.</div>
                      </div>
                  {{/rollLess() fear 12}}

                  {{#rollBetween() fear 12 13}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Affects: HD {{number}} unholy creatures</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Number affected: {{targetsCheck13}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Duration: {{duration}} round(s)</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Will Save Against: {{fear}}</div>
                      </div>
                  {{/rollBetween() fear 12 13}}

                  {{#rollBetween() fear 14 19}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Affects: HD {{number}} unholy creatures</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Number of Targets affected: {{targetsCheck19}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Duration: {{duration}} round(s)</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Will Save Against: {{fear}}</div>
                      </div>
                  {{/rollBetween() fear 14 19}}

                  {{#rollBetween() fear 20 21}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Affects: HD {{number}} unholy creatures</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Number affected: {{targetsCheck21}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Duration: {{duration}} round(s)</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Will Save Against: {{fear}}</div>
                      </div>
                  {{/rollBetween() fear 20 21}}

                  {{#rollBetween() fear 22 24}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Affects: HD {{number}} unholy creatures</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Number affected: {{targetsCheck24}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Duration: {{duration}} round(s)</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Will Save Against: {{fear}}</div>
                      </div>
                  {{/rollBetween() fear 22 24}}

                  {{#rollGreater() fear 24}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Affects: HD {{number}} unholy creatures</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Number affected: {{targetsCheck25}}</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Duration: {{duration}} round(s)</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-success">Will Save Against: {{fear}}</div>
                      </div>
                  {{/rollGreater() fear 24}}
                {{/^rollWasFumble() fear}}
            {{/fear}}

          <!-- Disapproval -->
            {{#disapproval}}
                <div class="sheet-row">
                  <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-info">ATONE FOR YOUR ACTIONS!</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-4-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Roll : </div>
                    <div class="sheet-col-9-13 sheet-padr sheet-RollTemp-rollresult">{{disapproval}}</div>
                </div>
            {{/disapproval}}

          <!-- Monster/Retainer Morale Check -->
            {{#moralecheck}}
                <div class="sheet-row">
                    <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">Morale : </div>
                    <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{moralecheck}}</div>
                </div>
                {{#rollGreater() moralecheck chance}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-11-12 sheet-padl sheet-padr sheet-RollTemp-success">SUCCESS !</div>
                    </div>
                {{/rollGreater() moralecheck chance}}
                {{#rollBetween() moralecheck 1 chance}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-11-12 sheet-padl sheet-padr sheet-RollTemp-fail">FAILURE !</div>
                    </div>
                {{/rollBetween() moralecheck 1 chance}}
            {{/moralecheck}}

          <!-- Ability Checks -->
            {{#ability}}
                <div class="sheet-row">
                  {{#flavortext}}
                    <div class="sheet-col-12-13 sheet-RollTemp-infoNB">{{flavortext}}</div>
                    <div class="sheet-col-1-1">&nbsp;</div>
                  {{/flavortext}}
                  {{#rollLess() abilityscore warningthreshold}}
                    {{#warning}}
                      <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-warning">{{warning}}</div>
                    {{/warning}}
                  {{/rollLess() abilityscore warningthreshold}}
                  <div class="sheet-col-6-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                  <div class="sheet-col-7-13 sheet-padr sheet-RollTemp-rollresult">{{ability}}</div>
                  {{#reminders}}
                    <div class="sheet-row">
                      <div class="sheet-col-12-13 sheet-RollTemp-infoNB">
                        {{reminders}}
                      </div>
                    </div>
                  {{/reminders}}
                </div>
            {{/ability}}

          <!-- Saving Throws -->
            {{#savingthrow}}
                <div class="sheet-row">
                  {{#flavortext}}
                    <div class="sheet-col-12-13 sheet-RollTemp-infoNB">{{flavortext}}</div>
                    <div class="sheet-col-1-1">&nbsp;</div>
                  {{/flavortext}}
                  {{#rollLess() abilityscore warningthreshold}}
                    {{#warning}}
                      <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-warning">{{warning}}</div>
                    {{/warning}}
                  {{/rollLess() abilityscore warningthreshold}}
                  <div class="sheet-col-8-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                  <div class="sheet-col-5-13 sheet-padr sheet-RollTemp-rollresult">{{savingthrow}}</div>
                  {{#reminders}}
                    <div class="sheet-row">
                      <div class="sheet-col-12-13 sheet-RollTemp-infoNB">
                        {{reminders}}
                      </div>
                    </div>
                  {{/reminders}}
                </div>
            {{/savingthrow}}

          <!-- Class Abilities -->
            {{#classability}}
                <div class="sheet-row">
                  <div class="sheet-col-12-13 sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-9-15 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-6-15 sheet-padr sheet-RollTemp-rollresult">{{classability}}</div>
                </div>
            {{/classability}}

          <!-- LUCK Check -->
            {{#luckcheck}}
                <div class="sheet-row">
                  <div class="sheet-col-12-13 sheet-RollTemp-infoNB">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                  <div class="sheet-col-8-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype2}}</div>
                    <div class="sheet-col-5-13 sheet-padr sheet-RollTemp-rollresult">{{chance}}</div>
                    <div class="sheet-col-5-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-8-13 sheet-padr sheet-RollTemp-rollresult">{{luckcheck}}</div>
                </div>
                {{#rollGreater() luckcheck chance}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-11-12 sheet-padl sheet-padr sheet-RollTemp-fail">FAILURE !</div>
                    </div>
                {{/rollGreater() luckcheck chance}}
                {{#rollBetween() luckcheck 1 chance}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-11-12 sheet-padl sheet-padr sheet-RollTemp-success">SUCCESS !</div>
                    </div>
                {{/rollBetween() luckcheck 1 chance}}
            {{/luckcheck}}

          <!-- Learn a new spell Check -->
            {{#learnspellcheck}}
                <div class="sheet-row">
                  <div class="sheet-col-12-13 sheet-RollTemp-infoNB">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                  <div class="sheet-col-8-13 sheet-padl sheet-padr sheet-RollTemp-rollname">DC:</div>
                  <div class="sheet-col-5-13 sheet-padr sheet-RollTemp-rollresult">{{difficulty}}</div>
                  <div class="sheet-col-8-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                  <div class="sheet-col-5-13 sheet-padr sheet-RollTemp-rollresult">{{learnspellcheck}}</div>
                </div>
                {{#rollGreater() learnspellcheck difficulty}}
                  <div class="sheet-row">
                    <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-11-12 sheet-padl sheet-padr sheet-RollTemp-success">SUCCESS !</div>
                  </div>
                {{/rollGreater() learnspellcheck difficulty}}
                {{#rollLess() learnspellcheck difficulty}}
                  <div class="sheet-row">
                    <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-11-12 sheet-padl sheet-padr sheet-RollTemp-fail">FAILURE !</div>
                  </div>
                  <div class="sheet-row">
                    <div class="sheet-col-12-13 sheet-RollTemp-infoNB">
                      You may attempt to learn the spell again once you advance to the next level.
                    </div>
                  </div>
                {{/rollLess() learnspellcheck difficulty}}
            {{/learnspellcheck}}

        <!-- Self Repair -->
            {{#selfrepair}}
                <div class="sheet-row">
                  <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-8-15 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-7-15 sheet-padr sheet-RollTemp-rollresult">{{selfrepair}}</div>
                </div>
                {{#rollWasFumble() selfrepair}}
                <div class="sheet-row">
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">CATASTROPHIC SYSTEM FAILURE!</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Non-Meat Damage taken: {{selfrepairFumble}}</div>
                </div>
                {{/rollWasFumble() selfrepair}}
            {{/selfrepair}}

          <!-- Disable Traps -->
              {{#disabletrap}}
                  <div class="sheet-row">
                      <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                    <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-9-15 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-6-15 sheet-padr sheet-RollTemp-rollresult">{{disabletrap}}</div>
                  </div>
              {{/disabletrap}}
              {{#rollWasFumble() disabletrap}}
                <div class="sheet-row">
                    <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-23-24 sheet-center sheet-RollTemp-critfail">{{failtext}}</div>
                </div>
            {{/rollWasFumble() disabletrap}}

          <!-- Handle Poison -->
            {{#handlepoison}}
                <div class="sheet-row">
                    <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                  <div class="sheet-col-11-15 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                  <div class="sheet-col-4-15 sheet-padr sheet-RollTemp-rollresult">{{handlepoison}}</div>
                </div>
            {{/handlepoison}}
                {{#rollGreater() handlepoison 9}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-19-20 sheet-center sheet-RollTemp-success">{{successtext}}</div>
                    </div>
                {{/rollGreater() handlepoison 9}}
                {{#rollBetween() handlepoison -100 9}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-11-12 sheet-center sheet-RollTemp-fail">{{failtext}}</div>
                    </div>
                {{/rollBetween() handlepoison -100 9}}

        <!-- Luck Die -->
            {{#luckdie}}
                <div class="sheet-row">
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-6-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-7-13 sheet-padr sheet-RollTemp-rollresult">{{luckdie}}</div>
                </div>
            {{/luckdie}}

        <% if feature_lankhmar? %>
          <!-- Patron Die -->
          {{#patrondie}}
            <div class="sheet-row">
              <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
              <div class="sheet-col-1-1">&nbsp;</div>
              <div class="sheet-col-6-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
              <div class="sheet-col-7-13 sheet-padr sheet-RollTemp-rollresult">{{patrondie}}</div>
              {{#patron_comparison_die}}
                <div class="sheet-col-6-13 sheet-padl sheet-padr sheet-RollTemp-rollname">compare to:</div>
                <div class="sheet-col-7-13 sheet-padr sheet-RollTemp-rollresult">{{patron_comparison_die}}</div>
                <div class="sheet-col-1-1">&nbsp;</div>
                {{#rollGreater() patrondie patron_comparison_die}}
                  <div class="sheet-row sheet-RollTemp-fail">
                    <div class="sheet-col-1">
                      {{patron_name}} refuses to assist!
                    </div>
                  </div>
                {{/rollGreater() patrondie patron_comparison_die}}
                {{#^rollGreater() patrondie patron_comparison_die}}
                  <div class="sheet-row sheet-RollTemp-success">
                    <div class="sheet-col-1">
                      {{patron_name}} assists!
                    </div>
                  </div>
                  <div class="sheet-row sheet-RollTemp-fail">
                    <div class="sheet-col-1">
                      Increase all patron dice by +1d
                    </div>
                  </div>
                {{/^rollGreater() patrondie patron_comparison_die}}
              {{/patron_comparison_die}}
              <div class="sheet-col-1-1">&nbsp;</div>
              <% DccData::Lankhmar::PatronDie.new.entries.each do |entry| %>
                {{#<%= comparison_function(:patrondie, entry.lower, entry.upper) %>}}
                  {{#patrondie_action}}
                    <div class="sheet-row sheet-RollTemp-textresult" title="Applies to an attack, spell check, saving throw, or skill/ability check">
                      <div class="sheet-col-6-13 sheet-padl sheet-padr">Action die: </div>
                      <div class="sheet-col-7-13 sheet-padr"><%= entry.check_result %></div>
                    </div>
                  {{/patrondie_action}}
                  {{#patrondie_rejuvenation}}
                    {{#^rollGreater() patrondie patron_comparison_die}}
                      <div class="sheet-row sheet-RollTemp-success" title="Applies to healing and recuperation">
                        <div class="sheet-col-1"><%= entry.rejuvenation_result %></div>
                      </div>
                    {{/^rollGreater() patrondie patron_comparison_die}}
                  {{/patrondie_rejuvenation}}
                {{/<%= comparison_function(:patrondie, entry.lower, entry.upper) %>}}
              <% end %>
              {{#patrondie_action}}
                <div class="sheet-col-1-1">&nbsp;</div>
                <div class="sheet-col-1 sheet-RollTemp-info">
                  Now make the check (attack roll, spell check, skill check, saving throw, etc.).<br/>
                  If the patron die is greater than the unmodified check roll, the patron refuses to assist. If aid is received, all patron dice increase by +1d.
                </div>
              {{/patrondie_action}}
            </div>
          {{/patrondie}}
        <% end %>

        <!-- Survival Die -->
            {{#survivaldie}}
                <div class="sheet-row">
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-7-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-6-13 sheet-padr sheet-RollTemp-rollresult">{{survivaldie}}</div>
                </div>
            {{/survivaldie}}

        <!-- Jury Rigging -->
            {{#juryrig}}
                <div class="sheet-row">
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-8-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-5-13 sheet-padr sheet-RollTemp-rollresult">{{juryrig}}</div>
                    <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-10-13 sheet-padl sheet-padr sheet-RollTemp-fail">{{rolltype2}}</div>
                    <div class="sheet-col-2-13 sheet-padr sheet-RollTemp-fail">{{juryrigfailure}}</div>
                </div>
            {{/juryrig}}

          <!-- Percentile Abilities -->
            {{#percentability}}
                <div class="sheet-row">
                    <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                  <div class="sheet-col-11-15 sheet-padl sheet-padr sheet-RollTemp-rollname">{{neededroll}}</div>
                    <div class="sheet-col-4-15 sheet-RollTemp-rollresult">{{chance}}%</div>
                    <div class="sheet-col-4-15 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-11-15 sheet-RollTemp-rollresult">{{percentability}}%</div>
                </div>
                {{#rollGreater() percentability chance}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-11-12 sheet-padl sheet-padr sheet-RollTemp-fail">{{failtext}}</div>
                    </div>
                {{/rollGreater() percentability chance}}
                {{#rollBetween() percentability 1 chance}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-11-12 sheet-padl sheet-padr sheet-RollTemp-success">{{successtext}}</div>
                    </div>
                {{/rollBetween() percentability 1 chance}}
            {{/percentability}}

          <!--Spellcasting-->
            {{#spellmanifest}}
                <div class="sheet-row">
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-7-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-6-13 sheet-padr sheet-RollTemp-rollresult">{{spellmanifest}}</div>
                </div>
            {{/spellmanifest}}

            {{#spellmercurial}}
                <div class="sheet-row">
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-9-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
                    <div class="sheet-col-4-13 sheet-padr sheet-RollTemp-rollresult">{{spellmercurial}}</div>
                </div>
            {{/spellmercurial}}

    {{#spellcheckwizard}}
      <div class="sheet-row">
        {{#spellshowmanifest}}

          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-emote">{{spellshowmanifest}}</div>

                  {{/spellshowmanifest}}
                  {{#spellshowinfoblock}}
          <div class="sheet-row sheet-padb">

              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-right-dotted"><span class="sheet-RollTemp-key">Level</span><br><span class="sheet-RollTemp-value">{{spelllevel}}</span></div>
              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-left-dotted"><span class="sheet-RollTemp-key">Range</span><br><span class="sheet-RollTemp-value">{{spellrange}}</span></div>

            <div class="sheet-col-1 sheet-border-top-dotted"></div>

              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-right-dotted"><span class="sheet-RollTemp-key">Duration</span><br><span class="sheet-RollTemp-value">{{spellduration}}</span></div>
              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-left-dotted"><span class="sheet-RollTemp-key">Cast Time</span><br><span class="sheet-RollTemp-value">{{spellcasttime}}</span></div>

            <div class="sheet-col-1 sheet-border-top-dotted"></div>

              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-right-dotted"><span class="sheet-RollTemp-key">Save</span><br><span class="sheet-RollTemp-value">{{spellsave}}</span></div>
              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-left-dotted"><span class="sheet-RollTemp-key">Concentration</span><br><span class="sheet-RollTemp-value">{{spellconcentrate}}</span></div>

          </div>
        {{/spellshowinfoblock}}
        {{#spellshowmercurial}}
          <div class="sheet-row">
            <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-key">Mercurial Effect</div>
            <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-textbox">{{spellshowmercurial}}</div>
          </div>
        {{/spellshowmercurial}}
        {{#spellshowdesc}}
          <div class="sheet-row">
            <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-key">Spell Description</div>
            <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-textbox">{{spellshowdesc}}</div>
          </div>
        {{/spellshowdesc}}
          <div class="sheet-col-1-1">&nbsp;</div>
          <div class="sheet-col-7-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
          <div class="sheet-col-6-13 sheet-padr sheet-RollTemp-rollresult">{{spellcheckwizard}}</div>
        </div>

      {{#rollWasCrit() spellcheckwizard}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-center sheet-RollTemp-critsuccess">{{crit}}</div>
                    </div>
                {{/rollWasCrit() spellcheckwizard}}

      {{#^showfailure}}
        {{#rollWasFumble() spellcheckwizard}}
          <div class="sheet-row">
            <div class="sheet-col-1-1">&nbsp;</div>
            <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Lost, failure and worse!</div>
            <div class="sheet-col-1-1">&nbsp;</div>
            <div class="sheet-col-23-24 sheet-padl sheet-RollTemp-critfail">{{fumble}} for Misfire, Taint or Corruption</div>
          </div>
        {{/rollWasFumble() spellcheckwizard}}

        {{#^rollWasFumble() spellcheckwizard}}
          {{#rollLess() spellcheckwizard 12}}
            <div class="sheet-row">
              <div class="sheet-col-1-1">&nbsp;</div>
              <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Lost.  Failure.</div>
            </div>
          {{/rollLess() spellcheckwizard 12}}
        {{/^rollWasFumble() spellcheckwizard}}
      {{/^showfailure}}
    {{/spellcheckwizard}}

    {{#spellcheckwizardmulti}}
      <div class="sheet-row">
        {{#spellshowmanifest}}

          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-emote">{{spellshowmanifest}}</div>

                  {{/spellshowmanifest}}
                  {{#spellshowinfoblock}}
          <div class="sheet-row sheet-padb">

              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-right-dotted"><span class="sheet-RollTemp-key">Level</span><br><span class="sheet-RollTemp-value">{{spelllevel}}</span></div>
              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-left-dotted"><span class="sheet-RollTemp-key">Range</span><br><span class="sheet-RollTemp-value">{{spellrange}}</span></div>

            <div class="sheet-col-1 sheet-border-top-dotted"></div>

              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-right-dotted"><span class="sheet-RollTemp-key">Duration</span><br><span class="sheet-RollTemp-value">{{spellduration}}</span></div>
              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-left-dotted"><span class="sheet-RollTemp-key">Cast Time</span><br><span class="sheet-RollTemp-value">{{spellcasttime}}</span></div>

            <div class="sheet-col-1 sheet-border-top-dotted"></div>

              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-right-dotted"><span class="sheet-RollTemp-key">Save</span><br><span class="sheet-RollTemp-value">{{spellsave}}</span></div>
              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-left-dotted"><span class="sheet-RollTemp-key">Concentration</span><br><span class="sheet-RollTemp-value">{{spellconcentrate}}</span></div>

          </div>
        {{/spellshowinfoblock}}
        {{#spellshowmercurial}}
          <div class="sheet-row">
            <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-key">Mercurial Effect</div>
            <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-textbox">{{spellshowmercurial}}</div>
          </div>
        {{/spellshowmercurial}}
        {{#spellshowdesc}}
          <div class="sheet-row">
            <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-key">Spell Description</div>
            <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-textbox">{{spellshowdesc}}</div>
          </div>
        {{/spellshowdesc}}
          <div class="sheet-col-1-1">&nbsp;</div>
          <div class="sheet-col-7-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
          <div class="sheet-col-6-13 sheet-padr sheet-RollTemp-rollresult">{{spelldie1}}+{{spelldie2}}+{{spellbonus}}</div>
        </div>

      {{#rollWasCrit() spelldie1}}
        {{#rollWasCrit() spelldie2}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-center sheet-RollTemp-critsuccess">{{crit}}</div>
                      </div>
                    {{/rollWasCrit() spelldie2}}
                {{/rollWasCrit() spelldie1}}

      {{#rollWasFumble() spelldie1}}
        {{#rollWasFumble() spelldie2}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-fail">Lost, failure and worse!</div>
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-RollTemp-critfail">{{fumble}} for Misfire, Taint or Corruption</div>
                      </div>
                  {{/rollWasFumble() spelldie2}}
                {{/rollWasFumble() spelldie1}}
    {{/spellcheckwizardmulti}}

    {{#spellmisfire}}
      <div class="sheet-row">
        <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
        <div class="sheet-col-1-1">&nbsp;</div>
        <div class="sheet-col-8-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
        <div class="sheet-col-5-13 sheet-padr sheet-RollTemp-rollresult">{{spellmisfire}}</div>
      </div>
    {{/spellmisfire}}

    {{#spellcorruption}}
      <div class="sheet-row">
        <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-info">{{flavortext}}</div>
        <div class="sheet-col-1-1">&nbsp;</div>
        <div class="sheet-col-9-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
        <div class="sheet-col-4-13 sheet-padr sheet-RollTemp-rollresult">{{spellcorruption}}</div>
      </div>
    {{/spellcorruption}}

    {{#spellcheckcleric}}
      <div class="sheet-row">
        {{#spellshowmanifest}}

          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-RollTemp-emote">{{spellshowmanifest}}</div>

                  {{/spellshowmanifest}}
                  {{#spellshowinfoblock}}
          <div class="sheet-row sheet-padb">

              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-right-dotted"><span class="sheet-RollTemp-key">Level</span><br><span class="sheet-RollTemp-value">{{spelllevel}}</span></div>
              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-left-dotted"><span class="sheet-RollTemp-key">Range</span><br><span class="sheet-RollTemp-value">{{spellrange}}</span></div>

            <div class="sheet-col-1 sheet-border-top-dotted"></div>

              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-right-dotted"><span class="sheet-RollTemp-key">Duration</span><br><span class="sheet-RollTemp-value">{{spellduration}}</span></div>
              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-left-dotted"><span class="sheet-RollTemp-key">Cast Time</span><br><span class="sheet-RollTemp-value">{{spellcasttime}}</span></div>

            <div class="sheet-col-1 sheet-border-top-dotted"></div>

              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-right-dotted"><span class="sheet-RollTemp-key">Save</span><br><span class="sheet-RollTemp-value">{{spellsave}}</span></div>
              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-left-dotted"><span class="sheet-RollTemp-key">Concentration</span><br><span class="sheet-RollTemp-value">{{spellconcentrate}}</span></div>

          </div>
        {{/spellshowinfoblock}}

        {{#spellshowdesc}}
          <div class="sheet-row">
            <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-key">Spell Description</div>
            <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-textbox">{{spellshowdesc}}</div>
          </div>
        {{/spellshowdesc}}
          <div class="sheet-col-1-1">&nbsp;</div>
          <div class="sheet-col-7-13 sheet-padl sheet-padr sheet-RollTemp-rollname">{{rolltype}}</div>
          <div class="sheet-col-6-13 sheet-padr sheet-RollTemp-rollresult">{{spellcheckcleric}}</div>
        </div>

      {{#rollWasCrit() spellcheckcleric}}
                    <div class="sheet-row">
                        <div class="sheet-col-1-1">&nbsp;</div>
                        <div class="sheet-col-12-13 sheet-padl sheet-padr sheet-center sheet-RollTemp-critsuccess">{{crit}}</div>
                    </div>
                {{/rollWasCrit() spellcheckcleric}}

      {{#rollWasFumble() spellcheckcleric}}
                    <div class="sheet-row">
                  <div class="sheet-col-1-1">&nbsp;</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-center sheet-RollTemp-fail">{{deity}} disapproves of your actions!</div>
                    <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-center sheet-RollTemp-fail">Roll for Disapproval.</div>
                </div>
                {{/rollWasFumble() spellcheckcleric}}

                {{#^rollWasFumble() spellcheckcleric}}
                  {{#rollLess() spellcheckcleric 12}}
                      <div class="sheet-row">
                          <div class="sheet-col-1-1">&nbsp;</div>
                          <div class="sheet-col-23-24 sheet-padl sheet-padr sheet-center sheet-RollTemp-fail">Spell Check Failed!</div>
                          <div class="sheet-col-23-24 sheet-center sheet-RollTemp-fail">Increase Disapproval Rating by 1.</div>
                      </div>
                  {{/rollLess() spellcheckcleric 12}}
                {{/^rollWasFumble() spellcheckcleric}}

    {{/spellcheckcleric}}

  <!--Mutations-->
    {{#mutations}}
      <div class="sheet-row">

                  {{#mutationshowinfoblock}}
          <div class="sheet-row sheet-padb">

              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-right-dotted"><span class="sheet-RollTemp-key">Base Mutation</span><br><span class="sheet-RollTemp-value">{{basemutation}}</span></div>
              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-left-dotted"><span class="sheet-RollTemp-key">Mutation Type</span><br><span class="sheet-RollTemp-value">{{typemutation}}</span></div>

            <div class="sheet-col-1 sheet-border-top-dotted"></div>

              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-right-dotted"><span class="sheet-RollTemp-key">Sub-Mutation</span><br><span class="sheet-RollTemp-value">{{submutation}}</span></div>
              <!--<div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-left-dotted"><span class="sheet-RollTemp-key">Cast Time</span><br/><span class="sheet-RollTemp-value">{{spellcasttime}}</span></div>

            <div class="sheet-col-1 sheet-border-top-dotted"></div>

              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-right-dotted"><span class="sheet-RollTemp-key">Save</span><br/><span class="sheet-RollTemp-value">{{spellsave}}</span></div>
              <div class="sheet-col-1-2 sheet-padl sheet-padr sheet-center sheet-border-left-dotted"><span class="sheet-RollTemp-key">Concentration</span><br/><span class="sheet-RollTemp-value">{{spellconcentrate}}</span></div>-->

          </div>
        {{/mutationshowinfoblock}}

        {{#mutationshowdesc}}
          <div class="sheet-row">
            <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-key">Description</div>
            <div class="sheet-col-1 sheet-padl sheet-padr sheet-RollTemp-textbox">{{mutationshowdesc}}</div>
          </div>
        {{/mutationshowdesc}}
        </div>


    {{/mutations}}



      </div>

  {{#background}}
    </div>
  {{/background}}
  </div>
</rolltemplate>
