<h4 class="sheet-center">Melee Weapons </h4>

<div class="sheet-row sheet-sub-header">
  <div class="sheet-col-3-10 sheet-center sheet-small-label sheet-vert-bottom">Weapon</div>
  <div class="sheet-col-1-10 sheet-center sheet-small-label sheet-vert-bottom">Attack Die</div>
  <div class="sheet-col-1-10 sheet-center sheet-small-label sheet-vert-bottom">Crit Range</div>
  <div class="sheet-col-1-20 sheet-center sheet-small-label sheet-vert-bottom">To Hit Mod</div>
  <div class="sheet-col-1-20 sheet-center sheet-small-label sheet-vert-bottom">Damage Dice</div>
  <div class="sheet-col-1-20 sheet-center sheet-small-label sheet-vert-bottom">Dmg Mod</div>
  <div class="sheet-col-1-20 sheet-center sheet-small-label sheet-vert-bottom">Advanced</div>
</div>

<!-- BEGIN MELEE weapon repeating row -->
<fieldset class="repeating_meleeweapon">
  <div class="sheet-row">
    <div class="sheet-col-3-10"><input type="text" name="attr_meleeWeaponName"></div>
    <div class="sheet-col-1-10" title="If you are not trained in your weapon use, you take -1 die for your attack roll.  You will also take a minus to your dice chain if using two-weapon fighting.">
      <select name="attr_meleeAttackDice">
        <option value="d30">d30</option>
        <option value="d24">d24</option>
        <option value="d20" selected="selected">d20</option>
        <option value="d16">d16</option>
        <option value="d14">d14</option>
        <option value="d12">d12</option>
        <option value="d10">d10</option>
        <option value="d8">d8</option>
        <option value="d7">d7</option>
        <option value="d6">d6</option>
        <option value="d5">d5</option>
        <option value="d4">d4</option>
        <option value="d3">d3</option>
      </select>
    </div>

    <div class="sheet-col-1-10" title="Your critical threat range goes up, if your dice on the dice chain goes up.  For those dual wielding, your primary hand gets a critical threat at 16.  If you are a halfling, both weapons get a critical threat at 16.">
      <select name="attr_meleeCritThreat">
        <option value="30">30</option>
        <option value="29">29-30</option>
        <option value="28">28-30</option>
        <option value="27">27-30</option>
        <option value="24">24</option>
        <option value="23">23-24</option>
        <option value="22">22-24</option>
        <option value="21">21-24</option>
        <option value="20" selected="selected">20</option>
        <option value="19">19-20</option>
        <option value="18">18-20</option>
        <option value="17">17-20</option>
        <option value="16">16</option>
      </select>
    </div>

    <div class="sheet-col-1-20"><input class=" sheet-center" type="number" name="attr_meleeToHit" value="[[[[@{strMod}]] + @{meleeMagic} + @{meleeOtherToHitBonus} + @{allAtkLuckyRoll} + @{meleeAtkLuckyRoll} + @{ATK} + @{meleeAtkLuckyWeapon} + @{zeroWeaponLuckyRoll}]]" disabled="disabled"></div>

    <div class="sheet-col-1-20" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" value="1d4" type="text" name="attr_meleeDmg"></div>
    <div class="sheet-col-1-20"><input class="sheet-center" type="number" name="attr_meleeDmgBonus" value="[[[[@{strMod}]] + @{meleeMagic} + @{meleeOtherDamageBonus} + @{meleedmgLuckyRoll} + @{dmgLuckyRoll} + @{zeroWeaponLuckyRoll}]]" disabled="disabled"></div>

    <div class="sheet-col-1-20 sheet-checkbox-row" title="Check for advanced options">
      <input type="checkbox" value="@{meleeShowAdvanced}" name="attr_meleeShowAdvanced" class="sheet-melee-advanced">
    </div>

    <div class="sheet-col-1-14">
      <button type='roll' class="sheet-roll" name="roll_meleeWeaponAttack" title="Melee Weapon Attack" value="&{template:DccTabbed} {{background=[[0]]}} {{combat=1}} {{name=@{character_name}}} {{title=@{meleeWeaponName}}} {{wielded=@{meleeAttackWielded} }} {{attack=[[ @{meleeAttackDice}cs>@{meleeCritThreat} [To Hit Roll] + @{meleeToHit} [To Hit Bonus] + (?{Deed/Smite Die roll|0}) [Deed/Smite] + (?{Any Attack Bonus|0}) [Attack Bonus]  ]]  }} {{damage=[[ ({(@{meleeDmg} [Base damage] + @{meleeDmgBonus} [Damage Bonus] + (?{Deed/Smite Die roll|0}) [Deed/Smite Die]),1d1}kh1) ]]}} {{crit=[[ @{CritDie} + [[@{luckMod}]] + @{critLuckyRoll} ]]}} {{crittable=@{CritDie|max}}} {{fumble=[[ @{armorFumbleDie} + [[@{fumbleCheck}]] + [[@{fumbleLuckyRoll}]] ]]}} {{notes=@{meleeWeaponSpecial}}}">Attack</button>
    </div>

    <div class="sheet-col-1-12">
      <button type='roll' class="sheet-roll" name="roll_meleeWeaponAttackWithDeed" title="Melee Weapon Attack with Mighty Deed" value="&{template:DccTabbed} [[ @{meleeAttackDice}cs>@{meleeCritThreat} [To Hit Roll] + [[@{DeedDie}cs>3]] [Deed Die] + @{meleeToHit} [To Hit Bonus] + (?{Any Attack Bonus|0}) [Attack Bonus]  ]] {{background=[[0]]}} {{combat=1}} {{name=@{character_name}}} {{title=@{meleeWeaponName}}} {{wielded=@{meleeAttackWielded} }} {{attackWithDeed=$[[1]] }} {{deedroll=$[[0]] }} {{damage=[[ ({(@{meleeDmg} [Base damage] + @{meleeDmgBonus} [Damage Bonus]),1d1}kh1) ]] + $[[0]] [Deed]}} {{crit=[[ @{CritDie} + [[@{luckMod}]] + @{critLuckyRoll} ]]}} {{crittable=@{CritDie|max}}} {{fumble=[[ @{armorFumbleDie} + [[@{fumbleCheck}]] + [[@{fumbleLuckyRoll}]] ]]}} {{notes=@{meleeWeaponSpecial}}}">w/ Deed</button>
    </div>

    <div class="sheet-col-1-14">
      <button type='roll' class="sheet-roll" name="roll_meleeWeaponBackstab" title="Melee Weapon Backstab" value="&{template:DccTabbed} {{background=[[0]]}} {{combat=1}} {{name=@{character_name}}} {{title=Backstab with @{meleeWeaponName}}} {{flavortext=You attack the enemy from behind or when they are unaware.  If the attack hits, it is a critical hit.}} {{backstab=[[ @{meleeAttackDice} [To Hit Roll] + @{meleeToHit} [To Hit Bonus] + @{ThiefBackstabCheck} [Backstab Bonus] + (?{Any Attack Bonus|0}) [Attack Bonus]  ]]  }} {{damage=[[ @{meleeBackstabDmg} [Base backstab damage] + @{meleeDmgBonus} [Damage Bonus] ]]}} {{crit=[[ @{CritDie} + [[@{luckMod}]] + @{critLuckyRoll} ]]}} {{crittable=@{CritDie|max}}} {{fumble=[[ @{armorFumbleDie} + [[@{fumbleCheck}]] + [[@{fumbleLuckyRoll}]] ]]}} {{notes=@{meleeWeaponSpecial}}}">Backstab</button>
    </div>
    <input type="checkbox" value="@{meleeShowAdvanced}" name="attr_meleeShowAdvanced" class="sheet-melee-advanced2 sheet-hidden">

    <div class="sheet-melee-advanced sheet-row">
      <div class="sheet-row sheet-vert-middle">
        <div class="sheet-col-3-20 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Magic bonus:</div>
        <div class="sheet-col-1-20" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls">
          <input class=" sheet-center" type="number" name="attr_meleeMagic" value="0">
        </div>
        <div class="sheet-col-3-20 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">To Hit bonus:</div>
        <div class="sheet-col-1-20" title="Bonus added to ONLY hit rolls">
          <input class=" sheet-center" type="number" name="attr_meleeOtherToHitBonus" value="0">
        </div>
        <div class="sheet-col-3-20 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Backstab damage:</div>
        <div class="sheet-col-1-20" title="Enter the damage done on a backstab here. Usually this is the same as the normal damage dice"><input class="sheet-center" value="" type="text" name="attr_meleeBackstabDmg"></div>
        <div class="sheet-col-1-4 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Lucky Weapon:</div>
        <div class="sheet-col-1-20 sheet-left sheet-checkbox-row sheet-vert-middle" title="Check the box if this is your Lucky Weapon (Class ability)"><input type="checkbox" value="@{luckStartingMod}" name="attr_meleeAtkLuckyWeapon"></div>
      </div>
      <div class="sheet-row">
        <div class="sheet-col-7-20 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Damage bonus:</div>
        <div class="sheet-col-1-20" title="Bonus added to ONLY to damage rolls">
          <input class=" sheet-center" type="number" name="attr_meleeOtherDamageBonus" value="0">
        </div>
        <div class="sheet-col-3-20 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Wielded:</div>
        <div class="sheet-col-3-20" title="How is the weapon being wielded">
          <select name="attr_meleeAttackWielded">
            <option value="Primary Hand" selected="selected">Primary Hand</option>
            <option value="Two Handed">2 Handed</option>
            <option value="Off Hand">Off Hand</option>
            <option value="Off Hand (Halfling)">Off Hand (Half)</option>
          </select>
        </div>
        <div class="sheet-col-3-20 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Pack Hunter:</div>
        <div class="sheet-col-1-20 sheet-left sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for 0-level Starting weapon"><input type="checkbox" value="@{luckStartingMod}" name="attr_zeroWeaponLuckyRoll"></div>
      </div>
      <div class="sheet-row" title="Enter other notes here; they will be shown during attacks, and can include rolls. Ex: +1d4 damage vs trolls: [[1d4]]">
        <div class="sheet-col-3-20 sheet-right sheet-padr sheet-margin-top sheet-vert-middle"><span class="sheet-new-feature"> ❗ </span>Notes:</div>
        <% # the attribute name `weaponSpecial` is retained here for compatibility with the other DCC sheet %>
        <div class="sheet-col-2-5"><input value="" type="text" name="attr_meleeWeaponSpecial" placeholder="Enter notes here. Ex: +1d4 damage vs trolls: [[1d4]]"></div>
      </div>
      <hr>
    </div>

  </div>
</fieldset>
