<h4 class="sheet-center">Ranged Weapons</h4>

<div class="sheet-row sheet-sub-header">
  <div class="sheet-col-1-24 sheet-center sheet-small-label sheet-vert-bottom">Ammo</div>
  <div class="sheet-col-3-22 sheet-center sheet-small-label sheet-vert-bottom">Weapon</div>
  <div class="sheet-col-1-24 sheet-center sheet-small-label sheet-vert-bottom">Short Range</div>
  <div class="sheet-col-1-24 sheet-center sheet-small-label sheet-vert-bottom">Med Range</div>
  <div class="sheet-col-1-24 sheet-center sheet-small-label sheet-vert-bottom">Long Range</div>
  <div class="sheet-col-1-16 sheet-center sheet-small-label sheet-vert-bottom">Attack Die</div>
  <div class="sheet-col-1-13 sheet-center sheet-small-label sheet-vert-bottom">Crit Range</div>
  <div class="sheet-col-1-24 sheet-center sheet-small-label sheet-vert-bottom">To Hit Bonus</div>
  <div class="sheet-col-1-20 sheet-center sheet-small-label sheet-vert-bottom">Damage Dice</div>
  <div class="sheet-col-1-24 sheet-center sheet-small-label sheet-vert-bottom">Dmg Bonus</div>
  <div class="sheet-col-1-14 sheet-center sheet-small-label sheet-vert-bottom">Range to Attack</div>
  <div class="sheet-col-1-20 sheet-center sheet-small-label sheet-vert-bottom">Advanced</div>
</div>

<!-- BEGIN RANGED weapon repeating row -->
<fieldset class="repeating_rangedweapon">
  <div class="sheet-row">
    <input type="hidden" name="attr_thrownShortRangeBonus" value="0" readonly="readonly">
    <input type="hidden" name="attr_mediumRangePenalty" value="0" readonly="readonly">
    <input type="hidden" name="attr_rangedAttackEffectiveDice" value="0" readonly="readonly">
    <div class="sheet-col-1-24"><input class="sheet-center" type="text" name="attr_rangedAmmo" value="0"></div>
    <div class="sheet-col-3-22"><input type="text" name="attr_rangedWeaponName"></div>
    <div class="sheet-col-1-24"><input class="sheet-center" type="text" name="attr_rangedDistanceShort" value="0"></div>
    <div class="sheet-col-1-24"><input class="sheet-center" type="text" name="attr_rangedDistanceMed" value="0"></div>
    <div class="sheet-col-1-24"><input class="sheet-center" type="text" name="attr_rangedDistanceLong" value="0"></div>
    <div class="sheet-col-1-16" title="If you are not trained in your weapon use, you take -1 die for your attack roll.  You will also take a minus to your dice chain if using two-weapon fighting or shooting from long range.">
      <select name="attr_rangedAttackDice">
        <option value="d30">d30</option>
        <option value="d24">d24</option>
        <option value="d20" selected="selected">d20</option>
        <option value="d16">d16</option>
        <option value="d14">d14</option>
        <option value="d12">d12</option>
        <option value="d10">d10</option>
        <option value="d8">d8</option>
        <option value="d7">d7</option>
        <option value="d6">d6</option>
        <option value="d5">d5</option>
        <option value="d4">d4</option>
        <option value="d3">d3</option>
      </select>
    </div>
    <div class="sheet-col-1-13" title="Your critical threat range goes up, if your dice on the dice chain goes up.">
      <select name="attr_rangedCritThreat">
        <option value="30">30</option>
        <option value="29">29-30</option>
        <option value="28">28-30</option>
        <option value="27">27-30</option>
        <option value="24">24</option>
        <option value="23">23-24</option>
        <option value="22">22-24</option>
        <option value="21">21-24</option>
        <option value="20" selected="selected">20</option>
        <option value="19">19-20</option>
        <option value="18">18-20</option>
        <option value="17">17-20</option>
      </select>
    </div>
    <div class="sheet-col-1-24"><input class="sheet-center" type="number" name="attr_rangedToHit" value="[[ [[@{agiMod}]] + @{allAtkLuckyRoll} + @{rangedAtkLuckyRoll} + @{rangedMagic} + @{rangedAtkLuckyWeapon} + @{ATK} + @{zeroRangedWeaponLuckyRoll}]]" disabled="disabled"></div>
    <div class="sheet-col-1-20" title="Only enter the base damage roll here without any bonuses from stats or other sources"><input class="sheet-center" type="text" name="attr_rangedDmg" value="0"></div>
    <div class="sheet-col-1-24"><input class="sheet-center" type="number" name="attr_rangedDmgBonus" value="[[@{rangedMagic} + @{rangedDmgLuckyRoll} + @{dmgLuckyRoll} + @{zeroRangedWeaponLuckyRoll}]]" disabled="disabled"></div>
    <div class="sheet-col-1-14" title="Short range: no penalty&#10;Medium range: -2 on attack roll&#10;Long ranged: -1d on attack roll">
      <select name="attr_attackRange">
        <option value="Short">Short</option>
        <option value="Medium">Med</option>
        <option value="Long">Long</option>
      </select>
    </div>

    <div class="sheet-col-1-20 sheet-checkbox-row" title="Check for advanced options">
      <input type="checkbox" value="@{rangedShowAdvanced}" name="attr_rangedShowAdvanced" class="sheet-ranged-advanced">
    </div>

    <div class="sheet-col-1-21">
      <button type='roll' class="sheet-roll" name="roll_rangedWeaponAttack" title="Ranged Weapon"
              value="&{template:DccTabbed} {{background=[[0]]}} {{combat=1}} {{name=@{character_name} }} {{title=@{rangedWeaponName} \n @{rangedDistanceShort} / @{rangedDistanceMed} / @{rangedDistanceLong} }} {{range=@{attackRange} }} {{rangedtype=Ranged Type}} {{type=@{rangedWeaponType} }} {{rangedattack=[[ @{rangedAttackEffectiveDice}cs>@{rangedCritThreat} [To Hit Roll] + @{rangedToHit} [To Hit Bonus] + (?{Deed/Smite Die roll|0}) [Deed/Smite Die] + (?{Any Attack Bonus|0}) [Attack Bonus] - @{mediumRangePenalty} [Medium Range Penalty] ]] }} {{damage=[[ @{rangedDmg} [Base damage] + @{rangedDmgBonus} [Damage Bonus] + (?{Deed/Smite Die roll|0}) [Deed/Smite Die] + @{thrownShortRangeBonus} [Short Range Thrown Weapon STR Mod] ]] }} {{crit=[[ @{CritDie}[Dice Roll] + [[@{luckMod}]][Current Luck] + @{critLuckyRoll}[Crit Lucky Roll] ]] }} {{crittable=@{CritDie|max} }} {{fumble=[[ @{armorFumbleDie} + [[@{fumbleCheck}]] + [[@{fumbleLuckyRoll}]] ]] }}">Atk</button>
    </div>

    <div class="sheet-col-1-12">
      <button type='roll' class="sheet-roll" name="roll_rangedWeaponAttackWithDeed" title="Ranged Weapon Attack with Mighty Deed" value="&{template:DccTabbed} [[ @{rangedAttackEffectiveDice}cs>@{rangedCritThreat} [To Hit Roll] + [[@{DeedDie}cs>3]] [Deed Die] + @{rangedToHit} [To Hit Bonus] + (?{Any Attack Bonus|0}) [Attack Bonus]  ]] {{background=[[0]]}} {{combat=1}} {{name=@{character_name}}} {{title=@{rangedWeaponName} \n @{rangedDistanceShort} / @{rangedDistanceMed} / @{rangedDistanceLong}}} {{range=@{attackRange} }} {{rangedtype=Ranged Type}} {{type=@{rangedWeaponType} }} {{rangedAttackWithDeed=$[[1]] }} {{deedroll=$[[0]] }} {{damage=[[ ({(@{rangedDmg} [Base damage] + @{rangedDmgBonus} [Damage Bonus]),1d1}kh1) ]] + $[[0]] [Deed]}} {{crit=[[ @{CritDie} + [[@{luckMod}]] + @{critLuckyRoll} ]]}} {{crittable=@{CritDie|max}}} {{fumble=[[ @{armorFumbleDie} + [[@{fumbleCheck}]] + [[@{fumbleLuckyRoll}]] ]]}}">w/ Deed</button>
    </div>

    <div class="sheet-col-1-11">
      <button type='roll' class="sheet-roll" name="roll_rangedWeaponBackstab" title="Ranged Weapon Backstab"
              value="&{template:DccTabbed} {{background=[[0]]}} {{combat=1}} {{name=@{character_name} }} {{title=Backstab with @{rangedWeaponName} \n @{rangedDistanceShort} / @{rangedDistanceMed} / @{rangedDistanceLong} }} {{flavortext=You attack the enemy from behind or when they are unaware.  If the attack hits, it is a critical hit.}} {{range=@{attackRange} }} {{type=@{rangedWeaponType} }} {{rangedbackstab=[[ @{rangedAttackEffectiveDice} [To Hit Roll] + @{rangedToHit} [To Hit Bonus] + (?{Any Attack Bonus|0}) [Attack Bonus] - @{mediumRangePenalty} [Medium Range Penalty] ]] }} {{damage=[[ @{rangedDmg} [Base damage] + @{rangedDmgBonus} [Damage Bonus] + @{thrownShortRangeBonus} [Short Range Thrown Weapon STR Mod] ]] }} {{crit=[[ @{CritDie}[Dice Roll] + [[@{luckMod}]][Current Luck] + @{critLuckyRoll}[Crit Lucky Roll] ]] }} {{crittable=@{CritDie|max} }} {{fumble=[[ @{armorFumbleDie} + [[@{fumbleCheck}]] + [[@{fumbleLuckyRoll}]] ]] }}">Backstab</button>
    </div>



    <input type="checkbox" value="@{rangedShowAdvanced}" name="attr_rangedShowAdvanced" class="sheet-ranged-advanced2 sheet-hidden">

    <div class="sheet-ranged-advanced sheet-row">
      <div class="sheet-row">
        <div class="sheet-col-1-8 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Lucky Weapon:</div>
        <div class="sheet-col-1-22 sheet-checkbox-row sheet-vert-middle" title="Check the box if this is your Lucky Weapon (Class ability)"><input type="checkbox" value="@{luckStartingMod}" name="attr_rangedAtkLuckyWeapon"></div>
        <div class="sheet-col-1-9 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Missle Type:</div>
        <div class="sheet-col-2-23" title="Select Thrown or Missile weapon">
          <select name="attr_rangedWeaponType">
            <option value="Thrown">Thrown</option>
            <option value="Missile" selected="selected">Missile</option>
          </select>
        </div>
      </div>
      <div class="sheet-row">
        <div class="sheet-col-1-8 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Pack Hunter:</div>
        <div class="sheet-col-1-22 sheet-checkbox-row sheet-vert-middle" title="Check the box if you have the Lucky Roll for 0-level Starting weapon"><input type="checkbox" value="@{luckStartingMod}" name="attr_zeroRangedWeaponLuckyRoll"></div>
        <div class="sheet-col-1-9 sheet-right sheet-padr sheet-margin-top sheet-vert-middle">Magic Bonus:</div>
        <div class="sheet-col-1-20" title="The magic bonus will be added as a bonus to BOTH the attack and damage rolls">
          <input class=" sheet-center" type="number" name="attr_rangedMagic" value="0">
        </div>
      </div>
      <hr>
    </div>

  </div>
</fieldset>
