<div class="sheet-row">
  <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Deity<br></div>
  <div class="sheet-col-1-3 sheet-right" title="Enter your Deity"><input class="sheet-underline sheet-center" type="text" placeholder="Deity Name" name="attr_ClericDeity"></div>
</div>

<div class="sheet-col-1-1 sheet-center">&nbsp;</div>

<div class="sheet-row">
  <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Disapproval<br></div>
  <div class="sheet-col-1-10 sheet-right">
    <select name="attr_disapproval">
      <option value="1" selected="selected">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
    </select>
  </div>
  <div class="sheet-col-1-8 sheet-center">
    <button type="roll" class="sheet-roll" name="roll_ClericDisapproval"
    value="&{template:DccTabbed} {{background=[[4]]}} {{class=1}} {{name=@{character_name}}} {{title=Deity Disapproval}} {{deity=@{ClericDeity}}} {{disapproval=[[ (?{Natural Roll that resulted in Disapproval|1})@{disapprovalDie} [Die Roll] - ([[@{luckMod}]]) [Luck Mod] ]] }}">Disapproval</button>
  </div>
</div>
