<div class="sheet-row">
  <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Sneak silently : <br></div>
  <div class="sheet-col-1-13 sheet-right">
    <select name="attr_ThiefSneak">
      <option value="0" selected="selected">+0</option>
      <option value="1">+1</option>
      <option value="2">+2</option>
      <option value="3">+3</option>
      <option value="4">+4</option>
      <option value="5">+5</option>
      <option value="6">+6</option>
      <option value="7">+7</option>
      <option value="8">+8</option>
      <option value="9">+9</option>
      <option value="10">+10</option>
      <option value="11">+11</option>
      <option value="12">+12</option>
      <option value="13">+13</option>
      <option value="14">+14</option>
      <option value="15">+15</option>
    </select>
  </div>
  <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefSneakCheckMisc" value="0"><br>Misc Bonus</div>
  <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_thiefSneakCheck" value="[[[[@{agiMod}]] + @{ThiefSneak} + @{skillChecksLuckyRoll} + @{thiefSneakCheckMisc}]]" disabled="disabled">Total Bonus</div>
  <div class="sheet-col-1-6 sheet-padl">
    <button type="roll" class="sheet-roll" name="roll_thiefSneak"
    value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Sneak Silently}} {{flavortext=Attempts to move without making a sound}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{thiefSneakCheck} [Bonus]  + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }}">Sneak</button>
  </div>
</div>

