<div class="sheet-cleric-ability-grid">
  <div class="sheet-cleric-ability-name sheet-hd-row">Turn Unholy</div>
  <input type="hidden" name="attr_turnUnholyLevel" value="(@{Level})">
  <input class="sheet-underlined" type="number" name="attr_TurnUnholyCheckMisc" value="0" title="Add Misc bonus here">
  <div class="sheet-cleric-misc-bonus-label sheet-small-label">Misc Bonus</div>
  <input class="sheet-underlined sheet-center" type="number" name="attr_turnUnholyCheck" value="[[([[@{luckMod}]] + [[@{perMod}]] + @{turnUnholyLevel}) + @{TurnUnholyCheckMisc} + @{turnUnholyLuckyRoll} ]]" disabled="disabled" title="Bonus is Luck Mod + Personality Mod + Caster Level + Turn Unholy Lucky Roll">
  <div class="sheet-cleric-total-bonus-label sheet-small-label">Total Bonus</div>
  <button type="roll" class="sheet-roll" name="roll_TurnUnholy"
          value="&{template:DccTabbed} {{background=[[4]]}} {{class=1}} {{name=@{character_name} }} {{title=Turn Unholy}} {{flavortext=By the Power of }} {{rolltype=Turn Check : }} {{deity=@{ClericDeity}}} {{turnunholy=[[ @{ActionDie}cf<@{disapproval} [Dice Roll] + @{turnUnholyCheck} [Bonus] + ?{Misc Bonus|0} ]] }} {{1HDCheck13=Turn [[1d1]] }} {{1HDCheck17=Turn [[1d3+@{turnUnholyLevel}]] }} {{1HDCheck19=Turn [[1d4+@{turnUnholyLevel}]] }} {{2HDCheck19=Turn [[1d1]] }} {{1HDCheck23=Turn [[1d6+@{turnUnholyLevel}]] }} {{2HDCheck23=Turn [[1d3+@{turnUnholyLevel}]] }} {{4HDCheck23=Turn [[1d1]] }} {{HolySmiteCheck27=Beam 60' [[1d3]] dmg}} {{1HDCheck27=Turn [[1d8+@{turnUnholyLevel}]] Dmg [[1d4]]}} {{2HDCheck27=Turn [[1d4+@{turnUnholyLevel}]] }} {{4HDCheck27=Turn [[1d3+@{turnUnholyLevel}]] }} {{6HDCheck27=Turn [[1d1]] }} {{HolySmiteCheck29=Cone 30' [[1d4]] dmg}} {{1HDCheck29=Turn [[2d6+@{turnUnholyLevel}]] Dmg [[1d4]]}} {{2HDCheck29=Turn [[1d6+@{turnUnholyLevel}]] }} {{4HDCheck29=Turn [[1d4+@{turnUnholyLevel}]] }} {{6HDCheck29=Turn [[1d3+@{turnUnholyLevel}]] }} {{8HDCheck29=Turn [[1d1]] }} {{HolySmiteCheck31=Cone 60' [[1d5]] dmg}} {{1HDCheck31=Kill [[1d8+@{turnUnholyLevel}]] (no save) }} {{2HDCheck31=Turn [[1d8+@{turnUnholyLevel}]] Dmg [[1d4]]}} {{4HDCheck31=Turn [[1d6+@{turnUnholyLevel}]] }} {{6HDCheck31=Turn [[1d4+@{turnUnholyLevel}]] }} {{8HDCheck31=Turn [[1d3+@{turnUnholyLevel}]] }} {{10HDCheck31=Turn [[1d1]] }} {{HolySmiteCheck32=Cone 120' [[1d6]] dmg}} {{1HDCheck32=Kill [[2d6+@{turnUnholyLevel}]]  (no save)}} {{2HDCheck32=Turn [[2d6+@{turnUnholyLevel}]] Dmg [[1d4]]}} {{4HDCheck32=Turn [[1d8+@{turnUnholyLevel}]] Dmg[[1d4]]}} {{6HDCheck32=Turn [[1d6+@{turnUnholyLevel}]] }} {{8HDCheck32=Turn [[1d4+@{turnUnholyLevel}]] }} {{10HDCheck32=Turn [[1d3+@{turnUnholyLevel}]] }} {{12HDCheck32=Turn [[1d1]] }} {{reminders=@{TurnUnholyNotes}}}">
    Turn Unholy
  </button>
  <div class="sheet-cleric-notes sheet-textarea-wrapper">
    <textarea class="sheet-underline sheet-left" placeholder="Notes" name="attr_TurnUnholyNotes" title="Misc Notes" rows="2"></textarea>
  </div>
</div>
