<div class="sheet-maintab-content sheet-options">
  <div class="sheet-options-grid">

    <h5 class="sheet-center">Options</h5>

    <div class="sheet-center sheet-inspiration-label sheet-sub-header">
      Tools
    </div>

    <div class="sheet-hd-row">
      <button type="action" name="act_import_from_other_sheet" value="?{Confirm}">
        Import attributes from other DCC character sheet
      </button>
      <div class="sheet-small-label">
        <p>
          <span name="attr_import_from_other_sheet_status"></span>
        </p>
      </div>
    </div>
    <div class="sheet-hd-row sheet-padl">
      <p>
        If this character was originally created using the other DCC character sheet, pressing this button will copy over the old values to this character sheet. This will over-write values on this sheet, so if you have already entered data using this character sheet, <b>it may be lost!</b>
      </p>
      <p>
        The process is not perfect, but makes a best effort. For example, if you had a bard, your values for corruption can be found under the wizard class tab.
      </p>
    </div>

    <% if feature_lankhmar? %>
      <%= option_toggle "lankhmar", title: "Show Lankhmar fields in the character sheet" %>
      <div class="sheet-hd-row sheet-padl">
        <p>Lankhmar</p>
      </div>
    <% end %>

  </div>
</div>
