<div class="sheet-maintab-content sheet-options">
  <h5 class="sheet-center">Options</h5>
  <div class="sheet-row sheet-sub-header">
    <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">
      Tools
    </div>
  </div>
  <div class="sheet-row sheet-hd-row">
    <div class="sheet-col-1-3">
      <button type="action" name="act_import_from_other_sheet" value="?{Confirm}">
        Import attributes from other DCC character sheet
      </button>
      <div class="sheet-small-label">
        <p>
          <span name="attr_import_from_other_sheet_status"></span>
        </p>
      </div>
    </div>
    <div class="sheet-col-2-3 sheet-padl">
      <p>
        If this character was originally created using the other DCC character sheet, pressing this button will copy over the old values to this character sheet. This will over-write values on this sheet, so if you have already entered data using this character sheet, <b>it may be lost!</b>
      </p>
      <p>
        The process is not perfect, but makes a best effort. For example, if you had a bard, your values for corruption can be found under the wizard class tab.
      </p>
    </div>
  </div>
</div>
