<div class="sheet-bard">
  <ul>
      <li><b>Hit Points: </b> 1d6 per level<br> </li>
      <li><b>Weapons: </b> Club, dagger, hand axe, quarterstaff, spear, crossbow, shortbow, and sling.  Bards can add one new specific weapon proficiency per level.<br></li>
      <li><b>Armor: </b> Bards can use any armor or shields, but it affects the use of their spells and skills.<br></li>
      <li><b>Languages: </b> Knows Common.  Also knows one additional language for every point of Int modifier<br></li>
      <li><b>Alignment: </b> Law (common), Neutral (common), Chaos (uncommon)<br></li>
  </ul>
</div>
