<div class="sheet-bard">
  <h3>Bard Abilities</h3>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Secret Doors<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_secretDoorsCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Intelligence Mod + Secret Doors Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_secretDoorCheck" value="[[ ( [[@{intMod}]] + [[@{findSecretDoorsLuckyRoll}]] + [[@{secretDoorsCheckMisc}]]) ]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_FindSecretDoor"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Find Secret Doors}} {{flavortext=Looks around for secret or hidden doors.}} {{rolltype=Search Check : }} {{classability=[[ @{ActionDie} [Action Die] + @{secretDoorCheck} [Bonus] ]]  }}">Find Secret Doors</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-7 sheet-left sheet-vert-middle">Starting Luck Bonus : </div>
    <div class="sheet-col-2-11 sheet-checkbox-row sheet-vert-middle" title="Check the box if you want the Bonus to Bardic Talent Checks"><input type="checkbox" value="[[@{luckStartingMod}]]" name="attr_bardLuckTalent"><b> Bardic Talent Checks</b></div>
    <div class="sheet-col-1-24 sheet-center sheet-vert-middle">OR</div>
    <div class="sheet-col-2-15 sheet-checkbox-row sheet-vert-middle" title="Check the box if you want the Bonus to Lore Rolls"><input type="checkbox" value="[[@{luckStartingMod}]]" name="attr_bardLuckLore"><b> Lore Checks</b></div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Talent Die<br></div>
      <div class="sheet-col-1-10 sheet-right">
        <select name="attr_TalentDie">
          <option value="d0" selected="selected">--</option>
          <option value="d14">d14</option>
          <option value="d16">d16</option>
          <option value="d20">d20</option>
          <option value="d24">d24</option>
          <option value="d30">d30</option>
          <option value="d30+1">d30+1</option>
          <option value="d30+2">d30+2</option>
          <option value="d30+3">d30+3</option>
        </select>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Call to Arms<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_callToArmsCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Luck Talent (if chosen) + Personality Mod + Skill Checks Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_bardCallToArmsCheck" value="[[ ( [[@{bardLuckTalent}]] + [[@{perMod}]] + [[@{skillChecksLuckyRoll}]] + [[@{calltoArmsCheckMisc}]]) ]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-8 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_BardCalltoArms"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Call to Arms}} {{flavortext=Through oration or song, you can inspire your audience to greater deeds and supplant fears.}} {{rolltype=Talent Check : }} {{classability=[[ @{TalentDie} [Dice Roll] + @{bardCalltoArmsCheck} [Bonus] ]]  }}">Call to Arms</button>
      </div>
    </div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Challenge<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_challengeCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Luck Talent (if chosen) + Personality Mod + Skill Checks Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_bardChallengeCheck" value="[[([[@{bardLuckTalent}]] + [[@{perMod}]] + [[@{skillChecksLuckyRoll}]] + [[@{challengeCheckMisc}]] )]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-8 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_BardChallenge"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Challenge}} {{flavortext=Through act, song, oration, or instrument, you are able to lead or control your target’s rage and attacks.}} {{rolltype=Talent Check : }} {{classability=[[ @{TalentDie} [Dice Roll] + @{bardChallengeCheck} [Bonus] ]]  }}">Challenge</button>
      </div>
    </div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Calm<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_calmCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Luck Talent (if chosen) + Personality Mod + Skill Checks Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_bardCalmCheck" value="[[([[@{bardLuckTalent}]] + [[@{perMod}]] + [[@{skillChecksLuckyRoll}]] + [[@{calmCheckMisc}]]) ]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-8 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_BardCalm"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Calm}} {{flavortext=Whether performed by act, song, oration, or instrument, you can change the emotions of your targets.}} {{rolltype=Talent Check : }} {{classability=[[ @{TalentDie} [Dice Roll] + @{bardCalmCheck} [Bonus] ]]  }}">Calm</button>
      </div>
    </div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Lore<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_loreCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Luck Lore (if chosen) + Intelligence Mod + Skill Checks Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_bardLoreCheck" value="[[([[@{bardLuckLore}]] + [[@{intMod}]] + [[@{skillChecksLuckyRoll}]] + [[@{loreCheckMisc}]] )]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-8 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_BardLore"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Lore}} {{flavortext=Do you know?}} {{rolltype=Lore Check : }} {{classability=[[ @{TalentDie} [Dice Roll] + @{bardLoreCheck} [Bonus] ]]  }}">Lore</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Momentum<br></div>
      <div class="sheet-col-1-10 sheet-right">
        <select name="attr_Momentum" value="10">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10" selected="selected">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">
      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Spell Corruption</div>
      </div>
      <div class="sheet-row">
        <div class="sheet-col-1-1" title="Enter Spell Corruptions Here"><textarea name="attr_bardCorruption" placeholder="Enter your Spell Corruption(s) here"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">

      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Other Notes</div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-1" title="Enter other notes here"><textarea name="attr_bardNotes" placeholder="Other notes of Bardic Importance!"></textarea></div>
      </div>

    </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <ul>
          <li><b>Hit Points: </b> 1d6 per level<br> </li>
          <li><b>Weapons: </b> Club, dagger, hand axe, quarterstaff, spear, crossbow, shortbow, and sling.  Bards can add one new specific weapon proficiency per level.<br></li>
          <li><b>Armor: </b> Bards can use any armor or shields, but it affects the use of their spells and skills.<br></li>
          <li><b>Languages: </b> Knows Common.  Also knows one additional language for every point of Int modifier<br></li>
          <li><b>Alignment: </b> Law (common), Neutral (common), Chaos (uncommon)<br></li>
      </ul>
</div>
