<div class="sheet-cleric">
  <h3>Cleric Abilities</h3>

    <div class="sheet-row">
      <div class="sheet-col-1-7 sheet-right sheet-padr sheet-hd-row">Secret Doors<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_secretDoorsCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Intelligence Mod + Secret Doors Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_secretDoorCheck" value="[[ ( [[@{intMod}]] + [[@{findSecretDoorsLuckyRoll}]] + [[@{secretDoorsCheckMisc}]]) ]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_FindSecretDoor"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Find Secret Doors}} {{flavortext=Looks around for secret or hidden doors.}} {{rolltype=Search Check : }} {{classability=[[ @{ActionDie} [Action Die] + @{secretDoorCheck} [Bonus] ]]  }}">Find Secret Doors</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-7 sheet-right sheet-padr sheet-hd-row">Deity<br></div>
      <div class="sheet-col-1-3 sheet-right" title="Enter your Deity"><input class="sheet-underline sheet-center" type="text" placeholder="Deity Name" name="attr_ClericDeity"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-7 sheet-right sheet-padr sheet-hd-row">Disapproval<br></div>
      <div class="sheet-col-1-10 sheet-right">
        <select name="attr_disapproval">
          <option value="1" selected="selected">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
        </select>
      </div>
      <div class="sheet-col-1-8 sheet-center">
        <button type="roll" class="sheet-roll" name="roll_ClericDisapproval"
        value="&{template:DccTabbed} {{background=[[4]]}} {{class=1}} {{name=@{character_name}}} {{title=Deity Disapproval}} {{deity=@{ClericDeity}}} {{disapproval=[[ (?{Natural Roll that resulted in Disapproval|1})@{disapprovalDie} [Die Roll] - ([[@{luckMod}]]) [Luck Mod] ]] }}">Disapproval</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-7 sheet-right sheet-padr sheet-hd-row">Momentum<br></div>
      <div class="sheet-col-1-10 sheet-right">
        <select name="attr_Momentum" value="10">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10" selected="selected">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-cleric-grid">
      <div class="sheet-cleric-turnunholy sheet-hd-row">Turn Unholy</div>
      <input type="hidden" name="attr_turnUnholyLevel" value="(@{Level})">
      <input class="sheet-cleric-turnunholy-misc-bonus sheet-underlined" type="number" name="attr_TurnUnholyCheckMisc" value="0" title="Add Misc bonus here">
      <div class="sheet-cleric-turnunholy-misc-bonus sheet-small-label">Misc Bonus</div>
      <input class="sheet-cleric-turnunholy-total-bonus sheet-underlined sheet-center" type="number" name="attr_turnUnholyCheck" value="[[([[@{luckMod}]] + [[@{perMod}]] + @{turnUnholyLevel}) + @{TurnUnholyCheckMisc} + @{turnUnholyLuckyRoll} ]]" disabled="disabled" title="Bonus is Luck Mod + Personality Mod + Caster Level + Turn Unholy Lucky Roll">
      <div class="sheet-cleric-turnunholy-total-bonus sheet-small-label">Total Bonus</div>
      <button type="roll" class="sheet-cleric-turnunholy-roll sheet-roll" name="roll_TurnUnholy"
              value="&{template:DccTabbed} {{background=[[4]]}} {{class=1}} {{name=@{character_name} }} {{title=Turn Unholy}} {{flavortext=By the Power of }} {{rolltype=Turn Check : }} {{deity=@{ClericDeity}}} {{turnunholy=[[ @{ActionDie}cf<@{disapproval} [Dice Roll] + @{turnUnholyCheck} [Bonus] + ?{Misc Bonus|0} ]] }} {{1HDCheck13=Turn [[1d1]] }} {{1HDCheck17=Turn [[1d3+@{turnUnholyLevel}]] }} {{1HDCheck19=Turn [[1d4+@{turnUnholyLevel}]] }} {{2HDCheck19=Turn [[1d1]] }} {{1HDCheck23=Turn [[1d6+@{turnUnholyLevel}]] }} {{2HDCheck23=Turn [[1d3+@{turnUnholyLevel}]] }} {{4HDCheck23=Turn [[1d1]] }} {{HolySmiteCheck27=Beam 60' [[1d3]] dmg}} {{1HDCheck27=Turn [[1d8+@{turnUnholyLevel}]] Dmg [[1d4]]}} {{2HDCheck27=Turn [[1d4+@{turnUnholyLevel}]] }} {{4HDCheck27=Turn [[1d3+@{turnUnholyLevel}]] }} {{6HDCheck27=Turn [[1d1]] }} {{HolySmiteCheck29=Cone 30' [[1d4]] dmg}} {{1HDCheck29=Turn [[2d6+@{turnUnholyLevel}]] Dmg [[1d4]]}} {{2HDCheck29=Turn [[1d6+@{turnUnholyLevel}]] }} {{4HDCheck29=Turn [[1d4+@{turnUnholyLevel}]] }} {{6HDCheck29=Turn [[1d3+@{turnUnholyLevel}]] }} {{8HDCheck29=Turn [[1d1]] }} {{HolySmiteCheck31=Cone 60' [[1d5]] dmg}} {{1HDCheck31=Kill [[1d8+@{turnUnholyLevel}]] (no save) }} {{2HDCheck31=Turn [[1d8+@{turnUnholyLevel}]] Dmg [[1d4]]}} {{4HDCheck31=Turn [[1d6+@{turnUnholyLevel}]] }} {{6HDCheck31=Turn [[1d4+@{turnUnholyLevel}]] }} {{8HDCheck31=Turn [[1d3+@{turnUnholyLevel}]] }} {{10HDCheck31=Turn [[1d1]] }} {{HolySmiteCheck32=Cone 120' [[1d6]] dmg}} {{1HDCheck32=Kill [[2d6+@{turnUnholyLevel}]]  (no save)}} {{2HDCheck32=Turn [[2d6+@{turnUnholyLevel}]] Dmg [[1d4]]}} {{4HDCheck32=Turn [[1d8+@{turnUnholyLevel}]] Dmg[[1d4]]}} {{6HDCheck32=Turn [[1d6+@{turnUnholyLevel}]] }} {{8HDCheck32=Turn [[1d4+@{turnUnholyLevel}]] }} {{10HDCheck32=Turn [[1d3+@{turnUnholyLevel}]] }} {{12HDCheck32=Turn [[1d1]] }} {{reminders=@{TurnUnholyNotes}}}">
        Turn Unholy
      </button>
      <div class="sheet-cleric-turnunholy-notes sheet-textarea-wrapper">
        <textarea class="sheet-underline sheet-left" placeholder="Notes" name="attr_TurnUnholyNotes" title="Misc Notes" rows="2"></textarea>
      </div>

      <div class="sheet-cleric-divineaid sheet-hd-row">Divine Aid</div>
      <input type="hidden" name="attr_divineAidLevel" value="(@{Level})">
      <input class="sheet-cleric-divineaid-misc-bonus sheet-underlined" type="number" name="attr_DivineAidCheckMisc" value="0" title="Add Misc bonus here">
      <div class="sheet-cleric-divineaid-misc-bonus sheet-small-label">Misc Bonus</div>
      <input class="sheet-cleric-divineaid-total-bonus sheet-underlined" type="number" name="attr_divineAidCheck" value="[[([[@{perMod}]] + @{divineAidLevel}) + @{DivineAidCheckMisc}]]" disabled="disabled" title="Bonus is Personality Mod + Caster Level">
      <div class="sheet-cleric-divineaid-total-bonus sheet-small-label">Total Bonus</div>
      <button type="roll" class="sheet-cleric-divineaid-roll sheet-roll" name="roll_DivineAid"
              value="&{template:DccTabbed} {{background=[[4]]}} {{class=1}} {{name=@{character_name}}} {{title=Divine Aid}} {{flavortext=I beseech your aid, Oh Glorious}} {{rolltype=Spell Check : }} {{deity=@{ClericDeity} }} {{divineaid=[[ @{ActionDie} [Dice Roll] + @{divineAidCheck} [Bonus] ]]  }} {{reminders=@{DivineAidNotes}}}">
        Divine Aid
      </button>
      <div class="sheet-cleric-divineaid-notes sheet-textarea-wrapper">
        <textarea class="sheet-underline" placeholder="Notes" name="attr_DivineAidNotes" title="Misc Notes"></textarea>
      </div>

      <div class="sheet-cleric-layonhands sheet-hd-row">Lay On Hands</div>
      <input type="hidden" name="attr_layOnHandsLevel" value="(@{Level})">
      <input class="sheet-cleric-layonhands-misc-bonus sheet-underlined" type="number" name="attr_LayOnHandsCheckMisc" value="0" title="Add Misc bonus here">
      <div class="sheet-cleric-layonhands-misc-bonus sheet-small-label">Misc Bonus</div>
      <input class="sheet-cleric-layonhands-total-bonus sheet-underlined" type="number" name="attr_layOnHandsCheck" value="[[([[@{perMod}]] + @{layOnHandsLevel}) + @{LayOnHandsCheckMisc} + @{layOnHandsLuckyRoll}]]" disabled="disabled" title="Bonus is Personality Mod + Caster Level + Lay On Hands Lucky Roll">
      <div class="sheet-cleric-layonhands-total-bonus sheet-small-label">Total Bonus</div>
      <button type="roll" class="sheet-cleric-layonhands-roll sheet-roll" name="roll_LayOnHands"
              value="&{template:DccTabbed} {{background=[[4]]}} {{class=1}} {{name=@{character_name}}} {{title=Lay on Hands}} {{flavortext=Healing in the name of}} {{rolltype=Heal Check : }} {{deity=@{ClericDeity} }}  {{layonhands=[[ @{ActionDie}cf<@{disapproval} [Dice Roll] + @{layOnHandsCheck} [Bonus] ]]  }} {{condition=?{If healing a condition, enter condition name|None} }} {{reminders=@{LayOnHandsNotes}}}">
        Lay On Hands
      </button>
      <div class="sheet-cleric-layonhands-notes sheet-textarea-wrapper">
        <textarea class="sheet-underline" type="text" placeholder="Notes" name="attr_LayOnHandsNotes" title="Misc Notes"></textarea>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-hd-row">Lay on Hands Results Table
      <table>
        <tr>
          <th> Spell Check </th>
          <th> Same Alignment</th>
          <th> Adjacent Alignment</th>
          <th> Opposed Alignment</th>
        </tr>
        <tr>
          <td> 1-11 </td>
          <td> Failure </td>
          <td> Failure </td>
          <td> Failure </td>
        </tr>
        <tr>
          <td> 12-13 </td>
          <td> 2 dice </td>
          <td> 1 die </td>
          <td> 1 die </td>
        </tr>
        <tr>
          <td> 14-19 </td>
          <td> 3 dice </td>
          <td> 2 dice </td>
          <td> 1 die </td>
        </tr>
        <tr>
          <td> 20-21 </td>
          <td> 4 dice </td>
          <td> 3 dice </td>
          <td> 2 dice </td>
        </tr>
        <tr>
          <td> 22+ </td>
          <td> 5 dice </td>
          <td> 4 dice </td>
          <td> 3 dice </td>
        </tr>
      </table>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">
      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-3 sheet-center sheet-inspiration-label">PCs of Same Alignment</div>
        <div class="sheet-col-1-3 sheet-center sheet-inspiration-label">PCs of Adjacent Alignment</div>
        <div class="sheet-col-1-3 sheet-center sheet-inspiration-label">PCs of Opposed Alignment</div>
      </div>
      <div class="sheet-row">
        <div class="sheet-col-1-3"><textarea name="attr_clericAlignSame"></textarea></div>
        <div class="sheet-col-1-3"><textarea name="attr_clericAlignAdjacent"></textarea></div>
        <div class="sheet-col-1-3"><textarea name="attr_clericAlignOpposed"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">

      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Other Notes</div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-1" title="Enter other notes here"><textarea name="attr_clericNotes" placeholder="Other notes of Clerical Importance!"></textarea></div>
      </div>

    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <ul>
        <li><b>Hit Points:</b> 1d8 per level<br> </li>
        <li><b>Weapons: </b> Those allowed by chosen god<br></li>
        <li><b>Armor: </b> Any<br></li>
        <li><b>Alignment: </b> Same as chosen god<br></li>
        <li><b>Movement: </b> 30 feet<br></li>
    </ul>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-hd-row">Gods of the Eternal Struggle
      <table>
        <tr>
          <th> Alignment of Deity </th>
          <th> Weapons Useable by Cleric </th>
          <th> Unholy Creatures to Deity </th>
        </tr>
        <tr>
          <td> Law </td>
          <td> Club, mace, sling, staff, warhammer </td>
          <td> Un-dead, demons, devils, chaotic extraplanar creatures, monsters (e.g., basilisk or medusa), Chaos Primes, chaotic humanoids (e.g., orcs), chaotic dragons </td>
        </tr>
        <tr>
          <td> Neutral </td>
          <td> Dagger, mace, sling, staff, sword (any) </td>
          <td> Mundane animals, un-dead, demons, devils, monsters (e.g., basilisk or medusa), lycanthropes, perversions of nature (e.g., otyughs and slimes) </td>
        </tr>
        <tr>
          <td> Chaos </td>
          <td> Axe (any), bow (any), dagger, dart, flail </td>
          <td> Angels, paladins, lawful dragons, Lords of Law, Lawful Primes, and Law-aligned humanoids (e.g., goblins) </td>
        </tr>
      </table>
    </div>
</div>
