<div class="sheet-cyborg">
  <ul>
    <li><b>Hit Points:</b> 1d8 per level<br> </li>
      <li><b>Weapons: </b> Adept with any tech level of ranged/missile and 1-handed/built-in weapons<br></li>
      <li><b>Armor: </b> Any armor.  Rarely use shields<br></li>
      <li><b>Alignment: </b> Law (uncommon), Neutral (common), Chaos (uncommon)<br></li>
      <li><b>Languages: </b> Common<br></li>
      <li><b>Movement: </b> 30'<br></li>
  </ul>
</div>
