<%= shown_when_option_set(:has_jury_rig_die) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Jury Rig Die<br></div>
    <div class="sheet-col-1-13 sheet-right">
      <select name="attr_cyborgJuryRigDie">
        <option value="d0" selected="selected">--</option>
        <option value="d2">d2</option>
        <option value="d3">d3</option>
        <option value="d4">d4</option>
        <option value="d5">d5</option>
        <option value="d6">d6</option>
        <option value="d7">d7</option>
        <option value="d8">d8</option>
        <option value="d10">d10</option>
        <option value="d12">d12</option>
        <option value="d14">d14</option>
      </select>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:has_artifical_body_parts) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Artificial Body Parts<br></div>
    <div class="sheet-col-1-5 sheet-small-label sheet-center" Title="Damage to Humanoid Parts"><input class="sheet-underlined sheet-center" type="text" name="attr_meatDmg"><br>Meat Damage</div>
    <div class="sheet-col-1-5 sheet-small-label sheet-center" Title="Damage to Robot Parts"><input class="sheet-underlined sheet-center" type="text" name="attr_nonMeatDmg"><br>Non-Meat Damage</div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Cyber Upgrade<br></div>
    <div class="sheet-col-1-5 sheet-small-label sheet-center" Title="Cyber Upgrade (1st)"><input class="sheet-underlined sheet-center" type="text" name="attr_cyberUpgrade"><br>1st Level</div>
    <div class="sheet-col-1-5 sheet-small-label sheet-center" Title="Cyber Upgrade (4th)"><input class="sheet-underlined sheet-center" type="text" name="attr_cyberUpgrade2"><br>4th Level</div>
    <div class="sheet-col-1-5 sheet-small-label sheet-center" Title="Cyber Upgrade (7th)"><input class="sheet-underlined sheet-center" type="text" name="attr_cyberUpgrade3"><br>7th Level</div>
    <div class="sheet-col-1-5 sheet-small-label sheet-center" Title="Cyber Upgrade (10th)"><input class="sheet-underlined sheet-center" type="text" name="attr_cyberUpgrade4"><br>10th Level</div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Self Repair<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_selfRepairCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Skill Checks Lucky Roll + Intelligence Mod + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_cyborgSelfRepairCheck" value="[[ ( [[@{skillChecksLuckyRoll}]] + [[@{intMod}]] + [[@{selfRepairCheckMisc}]] ) ]]" disabled="disabled"><br>Total Bonus</div>
    <div class="sheet-col-1-8 sheet-center">
      <button type="roll" class="sheet-roll" name="roll_SelfRepair"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Self Repair}} {{flavortext=Repairing of Cybernetic Parts}} {{rolltype=Check :&nbsp;&nbsp;&nbsp;&nbsp; DC}} {{selfrepair=[[ @{ActionDie} [Action Die] + @{cyborgJuryRigDie}cf100cs101 [Jury Rig Roll] + [[@{cyborgSelfRepairCheck}]] [Bonus] ]]  }} {{selfrepairFumble=[[1d3]]}}">Self Repair</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:can_repair_tech) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Repair Tech<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_repairTechCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Skill Checks Lucky Roll + Intelligence Mod + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_cyborgRepairTechCheck" value="[[ ( [[@{skillChecksLuckyRoll}]] + [[@{intMod}]] + [[@{repairTechCheckMisc}]] ) ]]" disabled="disabled"><br>Total Bonus</div>
    <div class="sheet-col-1-8 sheet-center">
      <button type="roll" class="sheet-roll" name="roll_RepairTech"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Repair Tech}} {{flavortext=Repairing bits of Tech}} {{rolltype=Repair :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DC}} {{classability=[[ @{ActionDie} [Action Die] + @{cyborgJuryRigDie} [Jury Rig Roll] + [[@{cyborgRepairTechCheck}]] [Bonus] ]] }}">Repair Tech</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:can_find_salvage) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Find Salvage<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_findSalvageCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Skill Checks Lucky Roll + Intelligence Mod + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_cyborgFindSalvageCheck" value="[[ ( [[@{skillChecksLuckyRoll}]] + [[@{intMod}]] + [[@{findSalvageCheckMisc}]] ) ]]" disabled="disabled"><br>Total Bonus</div>
    <div class="sheet-col-1-8 sheet-center">
      <button type="roll" class="sheet-roll" name="roll_FindSalvage"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Find Salvage}} {{flavortext=Find salvageable pieces from a Technological Source}} {{rolltype=Salvage :&nbsp;&nbsp;&nbsp;&nbsp; DC}} {{classability=[[ @{ActionDie} [Action Die] + @{cyborgJuryRigDie} [Jury Rig Roll] + [[@{cyborgFindSalvageCheck}]] [Bonus] ]] }}">Find Salvage</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>
