<div class="sheet-dwarfpriest">
  <ul>
      <li><b>Hit Points:</b>1d8 per level<br> </li>
      <li><b>Weapons: </b> Battleaxe, club, handaxe, mace, spear, warhammer, crossbow, and sling<br></li>
      <li><b>Armor: </b> Any.  They also receive the Lucky Roll for Armor Class.<br></li>
      <li><b>Alignment: </b> Law (common), Neutral (very rare), Chaos (rare)<br></li>
      <li><b>Languages: </b> Knows Common, Dwarven, & Angelic (if lawful) or Demonic (if chaotic) [Player's choice between those two if Neutral].  Also knows one additional language for every point of Int modifier<br></li>
      <li><b>Infravision: </b> 60 feet<br></li>
      <li><b>Movement: </b> 20 feet<br></li>
      <li><b>Underground Skills </b><br>
        <ul>
            <li><b>Smell Gold/Gems </b><br>
              <ul>
                <li>Strong concentration within 100' <br></li>
                <li>Smaller concentrations, down to a single coin, as low as 40' (for a single coin or gem) <br></li>
              </ul>
            </li>
            <li><b>Find Construction: Bonus equal to Class Level</b><br></li>
        </ul>
      </li>
  </ul>

  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

  <div class="sheet-hd-row">Gods of the Eternal Struggle
    <table>
      <tr>
        <th> Alignment of Deity </th>
        <th> Unholy Creatures to Deity </th>
      </tr>
      <tr>
        <td> Law </td>
        <td> Un-dead, demons, devils, chaotic extraplanar creatures, monsters (e.g., basilisk or medusa), Chaos Primes, chaotic humanoids (e.g., orcs), chaotic dragons </td>
      </tr>
      <tr>
        <td> Neutral </td>
        <td> Mundane animals, un-dead, demons, devils, monsters (e.g., basilisk or medusa), lycanthropes, perversions of nature (e.g., otyughs and slimes) </td>
      </tr>
      <tr>
        <td> Chaos </td>
        <td> Angels, paladins, lawful dragons, Lords of Law, Lawful Primes, and Law-aligned humanoids (e.g., goblins) </td>
      </tr>
    </table>
  </div>
</div>
