<div class="sheet-dwarf">
  <h3>Dwarven Abilities</h3>

    <input type="hidden" name="attr_shieldBashDie" value="d14">
    <input type="hidden" name="attr_shieldBashDmgDie" value="d3">

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Secret Doors<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_secretDoorsCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Intelligence Mod + Secret Doors Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_secretDoorCheck" value="[[ ( [[@{intMod}]] + [[@{findSecretDoorsLuckyRoll}]] + [[@{secretDoorsCheckMisc}]]) ]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_FindSecretDoor"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Find Secret Doors}} {{flavortext=Looks around for secret or hidden doors.}} {{rolltype=Search Check : }} {{classability=[[ @{ActionDie} [Action Die] + @{secretDoorCheck} [Bonus] ]]  }}">Find Secret Doors</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Mighty Deeds of Arms<br></div>
      <div class="sheet-col-1-10 sheet-right">
        <select name="attr_DeedDie">
          <option value="d0" selected="selected">--</option>
          <option value="d3">d3</option>
          <option value="d4">d4</option>
          <option value="d5">d5</option>
          <option value="d6">d6</option>
          <option value="d7">d7</option>
          <option value="d8">d8</option>
          <option value="d10+1d1">d10+1</option>
          <option value="d10+2d1">d10+2</option>
          <option value="d10+3d1">d10+3</option>
          <option value="d10+4d1">d10+4</option>
        </select>
      </div>
      <div class="sheet-col-1-10 sheet-center">
        <button type="roll" class="sheet-roll" name="roll_DeedDie"
        value="&{template:DccTabbed} {{background=[[0]]}} {{combat=1}} {{name=@{character_name}}} {{title=Mighty Deed of Arms}} {{flavortext=Add this bonus to Attack and Damage roll.}} {{rolltype=Deed Die : }} {{deeddie=[[ @{DeedDie}cs>3 [Die Roll] ]] }} {{successtext=You accomplish a Mighty Deed (if attack roll also hits)!}}">Deed Die</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Lucky Weapon<br></div>
      <div class="sheet-col-1-4 sheet-right" title="The weapon must be specific ie Longsword or Shortsword instead of just swords"><input class="sheet-underline sheet-center" type="text" placeholder="Choose one Dwarven Weapon" name="attr_LuckyWeapon"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Shield bash (d14)<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Attack bonus here"><input class="sheet-underlined" type="number" name="attr_shieldBashAtkBonus" value="0"><br>Attack Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Strength Mod + Lucky Roll (if any) + Attack Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_shieldBashAtk" value="[[ ([[@{strMod}]] + @{shieldBashAtkBonus} + @{allAtkLuckyRoll} + @{meleeAtkLuckyRoll}) ]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Damage bonus here (ie. Spiked Shield)"><input class="sheet-underlined" type="number" name="attr_shieldBashDmgBonus" value="0"><br>Damage Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Strength Mod + Lucky Roll (if any) + Damage Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_shieldBashDmg" value="[[ ([[@{strMod}]] + @{shieldBashDmgBonus}  + @{dmgLuckyRoll} + @{meleeDmgLuckyRoll}) ]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-9">
                    <button type='roll' class="sheet-roll" title="Dwarven Shield Bash"
                    value="&{template:DccTabbed} {{background=[[0]]}} {{combat=1}} {{name=@{character_name}}} {{title=Dwarven Shield Bash}} {{attack=[[ @{shieldBashDie} [To Hit Roll] + (?{Deed/Smite Die roll|0}) [Deed/Smite] + @{shieldBashAtk} ]]}} {{damage=[[ @{shieldBashDmgDie} [Base damage] + (?{Deed/Smite Die roll|0}) [Deed/Smite Die] + @{shieldBashDmg} ]]}} {{fumble=[[ @{armorFumbleDie} + [[@{fumbleCheck}]] + [[@{fumbleLuckyRoll}]] ]]}}">Shield Bash</button>
                </div>

    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">

      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Other Notes</div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-1" title="Enter other notes here"><textarea name="attr_dwarfNotes" placeholder="Other notes of Dwarven Importance!"></textarea></div>
      </div>

    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <ul>
        <li><b>Hit Points:</b>1d10 per level<br> </li>
        <li><b>Weapons: </b> Battleaxe, club, dagger, handaxe, longsword, mace, short sword, spear, two-handed sword, warhammer, crossbow, javelin, shortbow, and sling<br></li>
        <li><b>Armor: </b> Any<br></li>
        <li><b>Alignment: </b> Law (common), Neutral (uncommon), Chaos (rare)<br></li>
        <li><b>Languages: </b> Knows Common, Dwarven, & one other language.  Also knows one additional language for every point of Int modifier<br></li>
        <li><b>Infravision: </b> 60 feet<br></li>
        <li><b>Movement: </b> 20 feet<br></li>
        <li><b>Underground Skills </b><br>
          <ul>
              <li><b>Smell Gold/Gems </b><br>
                <ul>
                  <li>Strong concentration within 100' <br></li>
                  <li>Smaller concentrations, down to a single coin, as low as 40' (for a single coin or gem) <br></li>
                </ul>
              </li>
              <li><b>Find Construction: Bonus equal to Class Level</b><br></li>
          </ul>
        </li>
    </ul>
</div>
