<%= shown_when_option_set(:has_heightened_senses) do %>
  <input type="hidden" name="attr_elfSensesBonus" value="4">

  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Heightened Senses<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_secretDoorsCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Elven Bonus + Intelligence Mod + Secret Doors Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_elfSensesCheck" value="[[ ( [[@{elfSensesBonus}]] + [[@{intMod}]] + [[@{findSecretDoorsLuckyRoll}]] + [[@{secretDoorsCheckMisc}]]) ]]" disabled="disabled"><br>Total Bonus</div>
    <div class="sheet-col-1-5 sheet-padl">
      <button type="roll" class="sheet-roll" name="roll_ElfSenses"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Heightened Senses}} {{flavortext=Looks around for secret or hidden doors.}} {{rolltype=Search Check : }} {{classability=[[ @{ActionDie} [Action Die] + @{elfSensesCheck} [Bonus] ]]  }}">Find Secret Doors (Elf)</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:has_lucky_spell) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Lucky Spell (1st level)<br></div>
    <div class="sheet-col-1-3 sheet-right" title="Enter your Lucky Spell"><input class="sheet-underline sheet-center" type="text" placeholder="Choose 1st level spell (if any)" name="attr_elfLuckySpell"></div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>
