<div class="sheet-elf">
  <h3>Elf Abilities</h3>

    <input type="hidden" name="attr_elfSensesBonus" value="4">

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Heightened Senses<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_secretDoorsCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Elven Bonus + Intelligence Mod + Secret Doors Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_elfSensesCheck" value="[[ ( [[@{elfSensesBonus}]] + [[@{intMod}]] + [[@{findSecretDoorsLuckyRoll}]] + [[@{secretDoorsCheckMisc}]]) ]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-5 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_ElfSenses"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Heightened Senses}} {{flavortext=Looks around for secret or hidden doors.}} {{rolltype=Search Check : }} {{classability=[[ @{ActionDie} [Action Die] + @{elfSensesCheck} [Bonus] ]]  }}">Find Secret Doors (Elf)</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Lucky Spell (1st level)<br></div>
      <div class="sheet-col-1-3 sheet-right" title="Enter your Lucky Spell"><input class="sheet-underline sheet-center" type="text" placeholder="Choose 1st level spell (if any)" name="attr_elfLuckySpell"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Momentum<br></div>
      <div class="sheet-col-1-10 sheet-right">
        <select name="attr_Momentum" value="10">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10" selected="selected">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row sheet-sub-header">
      <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Familiar</div>
    </div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Spell Check<br></div>
      <div class="sheet-col-1-16 sheet-right" title="Enter your Find Familiar Spell Check Roll"><input class="sheet-underline sheet-center" type="text" placeholder="0" name="attr_elfFamiliarCheck"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Name<br></div>
      <div class="sheet-col-1-4 sheet-right" title="Enter your Familiar's Name"><input class="sheet-underline sheet-center" type="text" placeholder="Familiar Name" name="attr_elfFamiliarName"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Type<br></div>
      <div class="sheet-col-1-4 sheet-right" title="Enter your Familiar Type"><input class="sheet-underline sheet-center" type="text" placeholder="Type of Familiar" name="attr_ElfFamiliar"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Physical Look<br></div>
      <div class="sheet-col-1-4 sheet-right" title="Enter your Familiar's Physical Look"><input class="sheet-underline sheet-center" type="text" placeholder="Physical Look" name="attr_elfFamiliarLook"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Personality<br></div>
      <div class="sheet-col-1-4 sheet-right" title="Enter your Familiar's Personality"><input class="sheet-underline sheet-center" type="text" placeholder="Personality" name="attr_elfFamiliarPersonality"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">
      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-hd-row">Benefit(s)<br></div>
        <div class="sheet-col-1-1" title="Enter your Familiar's Benefits"><textarea name="attr_elfFamiliarBenefit" placeholder="Enter your familiar's benefit(s) to you here"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row sheet-sub-header">
      <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Patron(s)</div>
    </div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Name(s)<br></div>
      <div class="sheet-col-1-2 sheet-right" title="Enter your Supernatural Patron"><input class="sheet-underline sheet-center" type="text" placeholder="Patron's Name" name="attr_ElfPatron"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">
      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-hd-row">Taint<br></div>
        <div class="sheet-col-1-1" title="Enter Patron Taints here"><textarea name="attr_elfPatronTaint" placeholder="Enter your Patron Taint(s) here"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1">
      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-hd-row">Notes<br></div>
        <div class="sheet-col-1-1" title="Enter Patron Bond notes here"><textarea name="attr_ElfPatronBondNotes" placeholder="Enter your Patron Bond notes here including your spell check roll for each bond"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">
      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Spell Corruption</div>
      </div>
      <div class="sheet-row">
        <div class="sheet-col-1-1" title="Enter Spell Corruptions Here"><textarea name="attr_ElfCorruption" placeholder="Enter your Spell Corruption(s) here"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <%= render "classes/shared/spells_heard_of" %>

    <div class="sheet-col-1-1">
      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Other Notes</div>
      </div>
      <div class="sheet-row">
        <div class="sheet-col-1-1" title="Enter other notes here"><textarea name="attr_ElfNotes" placeholder="Other notes of Elven Importance!"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <ul>
        <li><b>Hit Points:</b> 1d6 per level<br> </li>
        <li><b>Weapons: </b> Dagger, javelin, lance, longbow, longsword, shortbow, short sword, staff, spear, and two-handed sword<br></li>
        <li><b>Armor: </b> Elves often wear Mithril armor, even though it hinders spellcasting.<br></li>
        <li><b>Alignment: </b> Law (rare), Neutral (common), Chaos (common)<br></li>
        <li><b>Languages: </b> Knows Common, Elvish, & one other language.  Also knows one additional language for every point of Int modifier<br></li>
        <li><b>Infravision: </b> 60 feet<br></li>
        <li><b>Movement: </b> 30 feet<br></li>
        <li><b>Equipment: </b> At 1st level, purchase one piece of armor and one weapon made from mithril at no additional cost.<br></li>
        <li><b>Immunities: </b><br>
          <ul>
              <li>Immune to Magical Sleep<br></li>
              <li>Immune to Paralysis<br></li>
          </ul>
        </li>
        <li><b>Vulnerabilities: </b><br>
          <ul>
              <li>Elf may not wear iron armor or bear the touch of iron weapons for extended periods, this will cause 1 HP of damage per day of direct contact<br></li>
          </ul>
        </li>
    </ul>
</div>
