<%= shown_when_option_set(:has_lucky_skill) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Lucky Skill (1st level)<br></div>
    <div class="sheet-col-1-3 sheet-right" title="Enter your Lucky Skill"><input class="sheet-underline sheet-center" type="text" placeholder="Choose one of your Rogue skills (if any)" name="attr_elfRogueLuckySkill"></div>
  </div>
<% end %>
