<div class="sheet-elfrogue">
  <h3>Elf Rogue Abilities</h3>

    <input type="hidden" name="attr_elfRogueSensesBonus" value="4">

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Heightened Senses<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_secretDoorsCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Elven Bonus + Intelligence Mod + Secret Doors Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_elfRogueSensesCheck" value="[[ ( [[@{elfRogueSensesBonus}]] + [[@{intMod}]] + [[@{findSecretDoorsLuckyRoll}]] + [[@{secretDoorsCheckMisc}]]) ]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-5 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_ElfRogueSenses"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Heightened Senses}} {{flavortext=Looks around for secret or hidden doors.}} {{rolltype=Search Check : }} {{classability=[[ @{ActionDie} [Action Die] + @{elfRogueSensesCheck} [Bonus] ]]  }}">Find Secret Doors (Elf)</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Backstab<br></div>
      <div class="sheet-col-1-13 sheet-right">
        <select name="attr_elfRogueBackstab">
          <option value="0" selected="selected">+0</option>
          <option value="1">+1</option>
          <option value="2">+2</option>
          <option value="3">+3</option>
          <option value="4">+4</option>
          <option value="5">+5</option>
          <option value="6">+6</option>
          <option value="7">+7</option>
          <option value="8">+8</option>
          <option value="9">+9</option>
          <option value="10">+10</option>
          <option value="11">+11</option>
          <option value="12">+12</option>
          <option value="13">+13</option>
          <option value="14">+14</option>
          <option value="15">+15</option>
        </select>
      </div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_elfRogueBackstabCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds Lucky Roll + Bonus"><input class="sheet-center" type="number" name="attr_elfRogueBackstabCheck" value="[[@{skillChecksLuckyRoll} + @{elfRogueBackstab} + @{elfRogueBackstabCheckMisc}]]" disabled="disabled">Total Bonus</div>
      <div class="sheet-col-1-2 sheet-center sheet-small-label">(Added to Attack Roll when backstab used - check button on weapon table)</div>
    </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Sneak silently<br></div>
        <div class="sheet-col-1-13 sheet-right">
          <select name="attr_elfRogueSneak">
            <option value="0" selected="selected">+0</option>
            <option value="1">+1</option>
            <option value="2">+2</option>
            <option value="3">+3</option>
            <option value="4">+4</option>
            <option value="5">+5</option>
            <option value="6">+6</option>
            <option value="7">+7</option>
            <option value="8">+8</option>
            <option value="9">+9</option>
            <option value="10">+10</option>
            <option value="11">+11</option>
            <option value="12">+12</option>
            <option value="13">+13</option>
            <option value="14">+14</option>
            <option value="15">+15</option>
          </select>
        </div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_elfRogueSneakCheckMisc" value="0"><br>Misc Bonus</div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + Bonus"><input class="sheet-center" type="number" name="attr_elfRogueSneakCheck" value="[[[[@{agiMod}]] + @{elfRogueSneak} + @{skillChecksLuckyRoll} + @{elfRogueSneakCheckMisc}]]" disabled="disabled">Total Bonus</div>
        <div class="sheet-col-1-6 sheet-padl">
          <button type="roll" class="sheet-roll" name="roll_elfRogueSneak"
          value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Sneak Silently}} {{flavortext=Attempts to move without making a sound}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{elfRogueSneakCheck} [Bonus]  + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }}">Sneak</button>
        </div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Hide in Shadows<br></div>
        <div class="sheet-col-1-13 sheet-right">
          <select name="attr_elfRogueHide">
            <option value="0" selected="selected">+0</option>
            <option value="1">+1</option>
            <option value="2">+2</option>
            <option value="3">+3</option>
            <option value="4">+4</option>
            <option value="5">+5</option>
            <option value="6">+6</option>
            <option value="7">+7</option>
            <option value="8">+8</option>
            <option value="9">+9</option>
            <option value="10">+10</option>
            <option value="11">+11</option>
            <option value="12">+12</option>
            <option value="13">+13</option>
            <option value="14">+14</option>
            <option value="15">+15</option>
          </select>
        </div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_elfRogueHideCheckMisc" value="0"><br>Misc Bonus</div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + Bonus"><input class="sheet-center" type="number" name="attr_elfRogueHideCheck" value="[[[[@{agiMod}]] + @{elfRogueHide} + @{skillChecksLuckyRoll} + @{elfRogueHideCheckMisc}]]" disabled="disabled">Total Bonus</div>
        <div class="sheet-col-1-6 sheet-padl">
          <button type="roll" class="sheet-roll" name="roll_elfRogueHide"
          value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Hide in Shadows}} {{flavortext=Try to vanish}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{elfRogueHideCheck} [Bonus] ]]  }}">Hide</button>
        </div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Pick Pockets<br></div>
        <div class="sheet-col-1-13 sheet-right">
          <select name="attr_elfRoguePickPockets">
            <option value="0" selected="selected">+0</option>
            <option value="1">+1</option>
            <option value="2">+2</option>
            <option value="3">+3</option>
            <option value="4">+4</option>
            <option value="5">+5</option>
            <option value="6">+6</option>
            <option value="7">+7</option>
            <option value="8">+8</option>
            <option value="9">+9</option>
            <option value="10">+10</option>
            <option value="11">+11</option>
            <option value="12">+12</option>
            <option value="13">+13</option>
            <option value="14">+14</option>
            <option value="15">+15</option>
          </select>
        </div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_elfRoguePickPocketsCheckMisc" value="0"><br>Misc Bonus</div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + Bonus"><input class="sheet-center" type="number" name="attr_elfRoguePickPocketsCheck" value="[[[[@{agiMod}]] + @{elfRoguePickPockets} + @{skillChecksLuckyRoll} + @{elfRoguePickPocketsCheckMisc}]]" disabled="disabled">Total Bonus</div>
        <div class="sheet-col-1-6 sheet-padl">
          <button type="roll" class="sheet-roll" name="roll_elfRoguePickPockets"
          value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Pick Pockets}} {{flavortext=Look into someone's pocket}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{elfRoguePickPocketsCheck} [Bonus] + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }}">Pick Pockets</button>
        </div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Climb Sheer Surfaces<br></div>
        <div class="sheet-col-1-13 sheet-right">
          <select name="attr_elfRogueClimb">
            <option value="0" selected="selected">+0</option>
            <option value="1">+1</option>
            <option value="2">+2</option>
            <option value="3">+3</option>
            <option value="4">+4</option>
            <option value="5">+5</option>
            <option value="6">+6</option>
            <option value="7">+7</option>
            <option value="8">+8</option>
            <option value="9">+9</option>
            <option value="10">+10</option>
            <option value="11">+11</option>
            <option value="12">+12</option>
            <option value="13">+13</option>
            <option value="14">+14</option>
            <option value="15">+15</option>
          </select>
        </div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_elfRogueClimbCheckMisc" value="0"><br>Misc Bonus</div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + Bonus"><input class="sheet-center" type="number" name="attr_elfRogueClimbCheck" value="[[[[@{agiMod}]] + @{elfRogueClimb} + @{skillChecksLuckyRoll} + @{elfRogueClimbCheckMisc}]]" disabled="disabled">Total Bonus</div>
        <div class="sheet-col-1-6 sheet-padl">
          <button type="roll" class="sheet-roll" name="roll_elfRogueClimb"
          value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Climb Sheer Surfaces}} {{flavortext=Climbs up the steep surface}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{elfRogueClimbCheck} [Bonus] + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }}">Climb</button>
        </div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Pick Lock<br></div>
        <div class="sheet-col-1-13 sheet-right">
          <select name="attr_elfRoguePickLocks">
            <option value="0" selected="selected">+0</option>
            <option value="1">+1</option>
            <option value="2">+2</option>
            <option value="3">+3</option>
            <option value="4">+4</option>
            <option value="5">+5</option>
            <option value="6">+6</option>
            <option value="7">+7</option>
            <option value="8">+8</option>
            <option value="9">+9</option>
            <option value="10">+10</option>
            <option value="11">+11</option>
            <option value="12">+12</option>
            <option value="13">+13</option>
            <option value="14">+14</option>
            <option value="15">+15</option>
          </select>
        </div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_elfRoguePickLocksCheckMisc" value="0"><br>Misc Bonus</div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + bonus"><input class="sheet-center" type="number" name="attr_ElfRoguePickLocksCheck" value="[[[[@{agiMod}]] + @{elfRoguePickLocks} + @{skillChecksLuckyRoll} + @{elfRoguePickLocksCheckMisc}]]" disabled="disabled">Total Bonus</div>
        <div class="sheet-col-1-6 sheet-padl">
          <button type="roll" class="sheet-roll" name="roll_elfRoguePickLocks"
          value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Pick Lock}} {{flavortext=Tries to figure out the locking mechanism}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{elfRoguePickLocksCheck} [Bonus] + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }}">Pick Lock</button>
        </div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Find Trap<br></div>
        <div class="sheet-col-1-13 sheet-right">
          <select name="attr_elfRogueFindTraps">
            <option value="0" selected="selected">+0</option>
            <option value="1">+1</option>
            <option value="2">+2</option>
            <option value="3">+3</option>
            <option value="4">+4</option>
            <option value="5">+5</option>
            <option value="6">+6</option>
            <option value="7">+7</option>
            <option value="8">+8</option>
            <option value="9">+9</option>
            <option value="10">+10</option>
            <option value="11">+11</option>
            <option value="12">+12</option>
            <option value="13">+13</option>
            <option value="14">+14</option>
            <option value="15">+15</option>
          </select>
        </div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_elfRogueFindTrapsCheckMisc" value="0"><br>Misc Bonus</div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds INT mod + Lucky Roll + Bonus"><input class="sheet-center" type="number" name="attr_elfRogueFindTrapsCheck" value="[[[[@{intMod}]] + @{elfRogueFindTraps} + @{skillChecksLuckyRoll} + @{findDisableTrapsLuckyRoll} + @{elfRogueFindTrapsCheckMisc}]]" disabled="disabled">Total Bonus</div>
        <div class="sheet-col-1-6 sheet-padl">
          <button type="roll" class="sheet-roll" name="roll_elfRogueFindTraps"
          value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Find Trap}} {{flavortext=Looks around for likely traps}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{elfRogueFindTrapsCheck} [Bonus] ]]  }}">Find Trap</button>
        </div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Disable Trap<br></div>
        <div class="sheet-col-1-13 sheet-right">
          <select name="attr_elfRogueDisableTraps">
            <option value="0" selected="selected">+0</option>
            <option value="1">+1</option>
            <option value="2">+2</option>
            <option value="3">+3</option>
            <option value="4">+4</option>
            <option value="5">+5</option>
            <option value="6">+6</option>
            <option value="7">+7</option>
            <option value="8">+8</option>
            <option value="9">+9</option>
            <option value="10">+10</option>
            <option value="11">+11</option>
            <option value="12">+12</option>
            <option value="13">+13</option>
            <option value="14">+14</option>
            <option value="15">+15</option>
          </select>
        </div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_elfRogueDisableTrapsCheckMisc" value="0"><br>Misc Bonus</div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + Bonus"><input class="sheet-center" type="number" name="attr_elfRogueDisableTrapsCheck" value="[[[[@{agiMod}]] + @{elfRogueDisableTraps} + @{skillChecksLuckyRoll} + @{findDisableTrapsLuckyRoll} + @{elfRogueDisableTrapsCheckMisc}]]" disabled="disabled">Total Bonus</div>
        <div class="sheet-col-1-6 sheet-padl">
          <button type="roll" class="sheet-roll" name="roll_elfRogueDisableTraps"
          value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Disable Trap}} {{flavortext=Attempts to disable or jam the trap}} {{rolltype=Skill Check : DC}} {{disabletrap=[[ @{ActionDie} [Action Die] + @{elfRogueDisableTrapsCheck} [Bonus] + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }} {{failtext=You set off the trap!!}}">Disable Trap</button>
        </div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Forge Document<br></div>
        <div class="sheet-col-1-13 sheet-right">
          <select name="attr_elfRogueForgeDocuments">
            <option value="0" selected="selected">+0</option>
            <option value="1">+1</option>
            <option value="2">+2</option>
            <option value="3">+3</option>
            <option value="4">+4</option>
            <option value="5">+5</option>
            <option value="6">+6</option>
            <option value="7">+7</option>
            <option value="8">+8</option>
            <option value="9">+9</option>
          </select>
        </div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_elfRogueForgeDocumentsCheckMisc" value="0"><br>Misc Bonus</div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + Bonus"><input class="sheet-center" type="number" name="attr_elfRogueForgeDocumentsCheck" value="[[[[@{agiMod}]] + @{elfRogueForgeDocuments} + @{skillChecksLuckyRoll} + @{elfRogueForgeDocumentsCheckMisc}]]" disabled="disabled">Total Bonus</div>
        <div class="sheet-col-1-6 sheet-padl">
          <button type="roll" class="sheet-roll" name="roll_elfRogueForgeDocuments"
          value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Forge Document}} {{flavortext=Copies a document}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{elfRogueForgeDocumentsCheck} [Bonus] ]]  }}">Forge Document</button>
        </div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Disguise Self<br></div>
        <div class="sheet-col-1-13 sheet-right">
          <select name="attr_elfRogueDisguise">
            <option value="0" selected="selected">+0</option>
            <option value="1">+1</option>
            <option value="2">+2</option>
            <option value="3">+3</option>
            <option value="4">+4</option>
            <option value="5">+5</option>
            <option value="6">+6</option>
            <option value="7">+7</option>
            <option value="8">+8</option>
            <option value="9">+9</option>
            <option value="10">+10</option>
            <option value="11">+11</option>
            <option value="12">+12</option>
            <option value="13">+13</option>
          </select>
        </div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_elfRogueDisguiseCheckMisc" value="0"><br>Misc Bonus</div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds PER mod + Lucky Roll + Bonus"><input class="sheet-center" type="number" name="attr_ElfRogueDisguiseCheck" value="[[[[@{perMod}]] + @{elfRogueDisguise} + @{skillChecksLuckyRoll} + @{elfRogueDisguiseCheckMisc}]]" disabled="disabled">Total Bonus</div>
        <div class="sheet-col-1-6 sheet-padl">
          <button type="roll" class="sheet-roll" name="roll_elfRogueDisguise"
          value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Disguise Self}} {{flavortext=Puts on a disguise}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{elfRogueDisguiseCheck} [Bonus] ]]  }}">Disguise Self</button>
        </div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Read Languages<br></div>
        <div class="sheet-col-1-13 sheet-right">
          <select name="attr_elfRogueRead">
            <option value="0" selected="selected">+0</option>
            <option value="1">+1</option>
            <option value="2">+2</option>
            <option value="3">+3</option>
            <option value="4">+4</option>
            <option value="5">+5</option>
            <option value="6">+6</option>
            <option value="7">+7</option>
            <option value="8">+8</option>
            <option value="9">+9</option>
            <option value="10">+10</option>
            <option value="11">+11</option>
            <option value="12">+12</option>
            <option value="13">+13</option>
            <option value="14">+14</option>
            <option value="15">+15</option>
          </select>
        </div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_elfRogueReadCheckMisc" value="0"><br>Misc Bonus</div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds INT mod + Lucky Roll + Bonus"><input class="sheet-center" type="number" name="attr_elfRogueReadCheck" value="[[[[@{intMod}]] + @{elfRogueRead} + @{skillChecksLuckyRoll} + @{elfRogueReadCheckMisc}]]" disabled="disabled">Total Bonus</div>
        <div class="sheet-col-1-6 sheet-padl">
          <button type="roll" class="sheet-roll" name="roll_elfRogueRead"
          value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Read Languages}} {{flavortext=Attempts to puzzle out this language}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{elfRogueReadCheck} [Bonus] ]]  }}">Read Languages</button>
        </div>
      </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

      <div class="sheet-row">
        <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Handle Poison<br></div>
        <div class="sheet-col-1-13 sheet-right">
          <select name="attr_elfRoguePoison">
            <option value="0" selected="selected">+0</option>
            <option value="1">+1</option>
            <option value="2">+2</option>
            <option value="3">+3</option>
            <option value="4">+4</option>
            <option value="5">+5</option>
            <option value="6">+6</option>
            <option value="7">+7</option>
            <option value="8">+8</option>
            <option value="9">+9</option>
            <option value="10">+10</option>
            <option value="11">+11</option>
            <option value="12">+12</option>
            <option value="13">+13</option>
          </select>
        </div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_elfRoguePoisonCheckMisc" value="0"><br>Misc Bonus</div>
        <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds Lucky Roll + Bonus"><input class="sheet-center" type="number" name="attr_elfRoguePoisonCheck" value="[[@{elfRoguePoison} + @{skillChecksLuckyRoll} + @{elfRoguePoisonCheckMisc}]]" disabled="disabled">Total Bonus</div>
        <div class="sheet-col-1-6 sheet-padl">
          <button type="roll" class="sheet-roll" name="roll_elfRoguePoison"
          value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Handle Poison}} {{flavortext=Tries to apply a poison to an object}} {{rolltype=Safety Check : DC}} {{handlepoison=[[ @{ActionDie} [Action Die] + @{elfRoguePoisonCheck} [Bonus] ]]}} {{chance=9}} {{successtext=You have successfully applied the poison.}} {{failtext=You have poisoned yourself!!}}">Handle Poison</button>
        </div>
      </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Lucky Skill (1st level)<br></div>
      <div class="sheet-col-1-3 sheet-right" title="Enter your Lucky Skill"><input class="sheet-underline sheet-center" type="text" placeholder="Choose one of your Rogue skills (if any)" name="attr_elfRogueLuckySkill"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Momentum<br></div>
      <div class="sheet-col-1-10 sheet-right">
        <select name="attr_Momentum" value="10">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10" selected="selected">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row sheet-sub-header">
      <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Familiar</div>
    </div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Spell Check<br></div>
      <div class="sheet-col-1-16 sheet-right" title="Enter your Find Familiar Spell Check Roll"><input class="sheet-underline sheet-center" type="text" placeholder="0" name="attr_elfRogueFamiliarCheck"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Name<br></div>
      <div class="sheet-col-1-4 sheet-right" title="Enter your Familiar's Name"><input class="sheet-underline sheet-center" type="text" placeholder="Familiar Name" name="attr_elfRogueFamiliarName"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Type<br></div>
      <div class="sheet-col-1-4 sheet-right" title="Enter your Familiar Type"><input class="sheet-underline sheet-center" type="text" placeholder="Type of Familiar" name="attr_elfRogueFamiliar"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Physical Look<br></div>
      <div class="sheet-col-1-4 sheet-right" title="Enter your Familiar's Physical Look"><input class="sheet-underline sheet-center" type="text" placeholder="Physical Look" name="attr_elfRogueFamiliarLook"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Personality<br></div>
      <div class="sheet-col-1-4 sheet-right" title="Enter your Familiar's Personality"><input class="sheet-underline sheet-center" type="text" placeholder="Personality" name="attr_elfRogueFamiliarPersonality"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">
      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-hd-row">Benefit(s)<br></div>
        <div class="sheet-col-1-1" title="Enter your Familiar's Benefits"><textarea name="attr_elfRogueFamiliarBenefit" placeholder="Enter your familiar's benefit(s) to you here"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row sheet-sub-header">
      <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Patron(s)</div>
    </div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Name(s)<br></div>
      <div class="sheet-col-1-2 sheet-right" title="Enter your Supernatural Patron"><input class="sheet-underline sheet-center" type="text" placeholder="Patron's Name" name="attr_elfRoguePatron"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">
      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-hd-row">Taint<br></div>
        <div class="sheet-col-1-1" title="Enter Patron Taints here"><textarea name="attr_elfRoguePatronTaint" placeholder="Enter your Patron Taint(s) here"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1">
      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-hd-row">Notes<br></div>
        <div class="sheet-col-1-1" title="Enter Patron Bond notes here"><textarea name="attr_elfRoguePatronBondNotes" placeholder="Enter your Patron Bond notes here including your spell check roll for each bond"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">
      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Spell Corruption</div>
      </div>
      <div class="sheet-row">
        <div class="sheet-col-1-1" title="Enter Spell Corruptions Here"><textarea name="attr_elfRogueCorruption" placeholder="Enter your Spell Corruption(s) here"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <%= render "classes/shared/spells_heard_of" %>

    <div class="sheet-col-1-1">

      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Other Notes</div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-1" title="Enter other notes here"><textarea name="attr_elfRogueNotes" placeholder="Other notes of Elven Importance!"></textarea></div>
      </div>

    </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <ul>
        <li><b>Hit Points:</b> 1d6 per level<br> </li>
        <li><b>Weapons: </b> Dagger, javelin, lance, longbow, longsword, shortbow, short sword, staff, spear, and two-handed sword<br></li>
        <li><b>Armor: </b> Elves often wear Mithril armor, even though it hinders spellcasting.<br></li>
        <li><b>Languages: </b> Knows Common. Lawful/Neutral Rogues know Elvish, & their alignment tongue.  Chaotic rogues know Undercommon and either Elvish or their alignment tongue.  Also knows one additional language for every point of Int modifier<br></li>
        <li><b>Infravision: </b> 60 feet<br></li>
        <li><b>Movement: </b> 30 feet<br></li>
        <li><b>Alignment: </b><br>
          <ul>
            <li><b>Lawful (rare):</b><br>
                <ul>
                  <li>Great at: Read languages, Disable trap, Climb sheer surfaces<br></li>
                  <li>Good at: Sneak silently, Hide in shadow, Pick pocket, Find Trap<br></li>
                  <li>Average at: Pick lock, Disguise self, Handle poison<br></li>
                  <li>Okay at: Backstab, Forge Document<br></li>
                </ul>
              </li>
              <li><b>Chaotic (uncommon):</b><br>
                <ul>
                  <li>Great at: Backstab, Sneak silently, Hide in shadows<br></li>
                  <li>Good at: Climb sheer surfaces, Pick lock, Disguise self, Handle poison<br></li>
                  <li>Average at: Pick pocket, Find trap, Disable trap<br></li>
                  <li>Okay at: Forge Document, Read languages<br></li>
                </ul>
              </li>
              <li><b>Neutral (common):</b><br>
                <ul>
                  <li>Great at: Pick pocket, Pick lock, Disable trap<br></li>
                  <li>Good at: Sneak silently, Hide in shadows, Climb sheer surfaces, Find trap, Disguise self<br></li>
                  <li>Average at: Backstab, Forge document, Read languages<br></li>
                  <li>Okay at: Handle poison<br></li>
                </ul>
              </li>
          </ul>
        </li>
        <li><b>Immunities: </b><br>
          <ul>
              <li>Immune to Magical Sleep<br></li>
              <li>Immune to Paralysis<br></li>
          </ul>
        </li>
        <li><b>Vulnerabilities: </b><br>
          <ul>
              <li>Elf may not wear iron armor or bear the touch of iron weapons for extended periods, this will cause 1 HP of damage per day of direct contact<br></li>
          </ul>
        </li>
    </ul>
</div>
