<div class="sheet-elfrogue">
  <ul>
      <li><b>Hit Points:</b> 1d6 per level<br> </li>
      <li><b>Weapons: </b> Dagger, javelin, lance, longbow, longsword, shortbow, short sword, staff, spear, and two-handed sword<br></li>
      <li><b>Armor: </b> Elves often wear Mithril armor, even though it hinders spellcasting.<br></li>
      <li><b>Languages: </b> Knows Common. Lawful/Neutral Rogues know Elvish, & their alignment tongue.  Chaotic rogues know Undercommon and either Elvish or their alignment tongue.  Also knows one additional language for every point of Int modifier<br></li>
      <li><b>Infravision: </b> 60 feet<br></li>
      <li><b>Movement: </b> 30 feet<br></li>
      <li><b>Alignment: </b><br>
        <ul>
          <li><b>Lawful (rare):</b><br>
              <ul>
                <li>Great at: Read languages, Disable trap, Climb sheer surfaces<br></li>
                <li>Good at: Sneak silently, Hide in shadow, Pick pocket, Find Trap<br></li>
                <li>Average at: Pick lock, Disguise self, Handle poison<br></li>
                <li>Okay at: Backstab, Forge Document<br></li>
              </ul>
            </li>
            <li><b>Chaotic (uncommon):</b><br>
              <ul>
                <li>Great at: Backstab, Sneak silently, Hide in shadows<br></li>
                <li>Good at: Climb sheer surfaces, Pick lock, Disguise self, Handle poison<br></li>
                <li>Average at: Pick pocket, Find trap, Disable trap<br></li>
                <li>Okay at: Forge Document, Read languages<br></li>
              </ul>
            </li>
            <li><b>Neutral (common):</b><br>
              <ul>
                <li>Great at: Pick pocket, Pick lock, Disable trap<br></li>
                <li>Good at: Sneak silently, Hide in shadows, Climb sheer surfaces, Find trap, Disguise self<br></li>
                <li>Average at: Backstab, Forge document, Read languages<br></li>
                <li>Okay at: Handle poison<br></li>
              </ul>
            </li>
        </ul>
      </li>
      <li><b>Immunities: </b><br>
        <ul>
            <li>Immune to Magical Sleep<br></li>
            <li>Immune to Paralysis<br></li>
        </ul>
      </li>
      <li><b>Vulnerabilities: </b><br>
        <ul>
            <li>Elf may not wear iron armor or bear the touch of iron weapons for extended periods, this will cause 1 HP of damage per day of direct contact<br></li>
        </ul>
      </li>
  </ul>
</div>
