<div class="sheet-gnome">
  <ul>
      <li><b>Hit Points:</b> 1d5 per level<br> </li>
      <li><b>Weapons: </b> Dagger, dart, sling or staff.<br></li>
      <li><b>Armor: </b> Gnomes do not often wear armor due to their small size and because it hinders spellcasting.<br></li>
      <li><b>Alignment: </b> Law (rare), Neutral (common), Chaos (uncommon)<br></li>
      <li><b>Languages: </b> Knows Common, Gnomish, Elvish, and Dwarven.  Also knows one additional language for every point of Int modifier<br></li>
      <li><b>Infravision: </b> 60 feet<br></li>
      <li><b>Movement: </b> 20 feet<br></li>
      <li><b>Level Limitation: </b> Level 5<br></li>
      <li><b>Luck: </b> Add Luck modifier to saving throws against magic attacks and spells
  </ul>
</div>
