<%= shown_when_any_option_set(:can_cast_gnome_spells, :can_use_trick_die, :can_use_animal_trick) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Trick Die<br></div>
    <div class="sheet-col-1-10 sheet-right">
      <select name="attr_TrickDie">
        <option value="d0" selected="selected">--</option>
        <option value="d3">d3</option>
        <option value="d4">d4</option>
        <option value="d5">d5</option>
        <option value="d6">d6</option>
        <option value="d7">d7</option>
      </select>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:has_magic_resistance) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Magic Resistance<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Magic Resistance bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_magicResistance" value="[[(10*@{Level})]]" disabled="disabled"><br>% Bonus</div>
    <div class="sheet-col-1-8 sheet-center" title="Roll goes to the GM">
      <button type="roll" class="sheet-roll" name="roll_magicResistance"
      value="/w gm &{template:DccTabbed} {{background=[[1d3]]}} {{class=1}} {{name=@{character_name}}} {{title=Magic Resistance}} {{flavortext=Tries to resist the magic being cast.}} {{neededroll=Success Chance : }} {{rolltype=Roll : }} {{percentability=[[1d100]]}} {{chance=@{magicResistance}}} {{successtext=Player has resisted the magic.}} {{failtext=Player could not resist the magic}}">Resist Magic</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:can_use_animal_trick) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Animal Trick<br></div>
    <div class="sheet-col-1-4 sheet-left">
      <button type="roll" class="sheet-roll" name="roll_animalTrick"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Animal Trick}} {{flavortext=Try to befriend a small animal or insect}} {{rolltype=Trick Die : }} {{deeddie=[[@{TrickDie}cs>3 [Die Roll]]]  }} {{successtext=An animal or insect of less than 1 HD becomes “friendly”, protecting or performing a small task for you.}}">Befriend Small Animal/Insect</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>

<%= shown_when_option_set(:has_gem_affinity) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Gem Affinity<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Gem Affinity bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_gemAffinity" value="[[(10*@{Level})]]" disabled="disabled"><br>% Bonus</div>
    <div class="sheet-col-1-7 sheet-center" title="Roll goes to the GM">
      <button type="roll" class="sheet-roll" name="roll_gemAffinity"
      value="/w gm &{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Magic Resistance}} {{flavortext=Tries to locate gemstones.}} {{neededroll=Success Chance : }} {{rolltype=Roll : }} {{percentability=[[1d100]]}} {{chance=@{gemAffinity}}} {{successtext=Player locates a cache of gems or precious stones.}} {{failtext=Player finds nothing.}}">Find Gemstones</button>
    </div>
  </div>
  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>
