<div class="sheet-halflingburglar">
  <h3>Halfling Burglar Abilities</h3>

    <input type="hidden" name="attr_betaThiefSkillDie" value="d100">

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Secret Doors<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_secretDoorsCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Intelligence Mod + Secret Doors Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_secretDoorCheck" value="[[ ( [[@{intMod}]] + [[@{findSecretDoorsLuckyRoll}]] + [[@{secretDoorsCheckMisc}]]) ]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-5 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_FindSecretDoor"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Find Secret Doors}} {{flavortext=Looks around for secret or hidden doors.}} {{rolltype=Search Check : }} {{classability=[[ @{ActionDie} [Action Die] + @{secretDoorCheck} [Bonus] ]]  }}">Find Secret Doors</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Stealth Bonus<br></div>
      <div class="sheet-col-1-13 sheet-right">
        <select name="attr_HalflingStealth" title="Select your bonus for Sneak and Hide based on your level">
          <option value="0" selected="selected">--</option>
          <option value="3">+3</option>
          <option value="5">+5</option>
          <option value="7">+7</option>
          <option value="8">+8</option>
          <option value="9">+9</option>
          <option value="11">+11</option>
          <option value="12">+12</option>
          <option value="13">+13</option>
          <option value="14">+14</option>
          <option value="15">+15</option>
        </select>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Halfling Sneak<br></div>
      <div class="sheet-col-1-13 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_halflingStealthCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-13 sheet-small-label sheet-center" title="Adds Stealth Bonus + AGI mod + Lucky Roll + Bonus"><input class="sheet-center" type="number" name="attr_halflingStealthCheck" value="[[[[@{agiMod}]] + @{HalflingStealth} + @{skillChecksLuckyRoll} + @{halflingStealthCheckMisc}]]" disabled="disabled">Total Bonus</div>
      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_halflingSneak"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Sneak}} {{flavortext=The halfling attempts to move without making a sound}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{halflingStealthCheck} [Bonus] + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }}">Sneak</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Halfling Hide<br></div>
      <div class="sheet-col-1-13 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_halflingHideCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-13 sheet-small-label sheet-center" title="Adds Stealth Bonus + AGI mod + Lucky Roll + Bonus"><input class=" sheet-center" type="number" name="attr_halflingHideCheck" value="[[[[@{agiMod}]] + @{HalflingStealth} + @{skillChecksLuckyRoll} + @{halflingHideCheckMisc}]]" disabled="disabled">Total Bonus</div>
      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_HalflingHide"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Hide}} {{flavortext=The halfling tries to make themselves small enough so they seem to vanish}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{halflingHideCheck} [Bonus] ]]  }}">Hide</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Backstab : <br></div>
      <div class="sheet-col-1-13 sheet-right">
        <select name="attr_ThiefBackstab">
          <option value="0" selected="selected">+0</option>
          <option value="1">+1</option>
          <option value="2">+2</option>
          <option value="3">+3</option>
          <option value="4">+4</option>
          <option value="5">+5</option>
          <option value="6">+6</option>
          <option value="7">+7</option>
          <option value="8">+8</option>
          <option value="9">+9</option>
          <option value="10">+10</option>
          <option value="11">+11</option>
          <option value="12">+12</option>
          <option value="13">+13</option>
          <option value="14">+14</option>
          <option value="15">+15</option>
        </select>
      </div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefBackstabCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds Lucky Roll + Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_thiefBackstabCheck" value="[[@{skillChecksLuckyRoll} + @{ThiefBackstab} + @{thiefBackstabCheckMisc}]]" disabled="disabled">Total Bonus</div>
      <div class="sheet-col-1-2 sheet-center sheet-small-label">(Added to Attack Roll when backstab used - check button on weapon table)</div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Cast Spell from Scroll : <br></div>
      <div class="sheet-col-1-13 sheet-right">
        <select name="attr_ThiefCastScroll">
          <option value="d0" selected="selected">--</option>
          <option value="d10">d10</option>
          <option value="d12">d12</option>
          <option value="d14">d14</option>
          <option value="d16">d16</option>
          <option value="d20">d20</option>
        </select>
      </div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefCastScrollMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds INT mod, Lucky Roll"><input class="sheet-underlined sheet-center" input type="number" name="attr_thiefCastScrollCheck" value="[[[[@{intMod}]] + @{skillChecksLuckyRoll} + @{thiefCastScrollMisc}]]" disabled="disabled">Total Bonus</div>
      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_ThiefCastScroll"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Cast Spell from Scroll}} {{flavortext=Tries to read the arcane writings and cast the spell}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ThiefCastScroll} [Cast Die] + @{thiefCastScrollCheck} [Bonus] ]]  }}">Use Scroll</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <input type="radio" class="CoreHalflingBurglar" value="3" name="attr_classThief" checked><label class="sheet-subtabThief">Core Thief Skills (d20 based)</label>
    <input type="radio" class="BetaHalflingBurglar" value="4" name="attr_classThief"><label class="sheet-subtabThief">Beta Thief Skills (%d based)</label>

    <!-- Core Thief Skills -->
      <div class="sheet-CoreHalflingBurglar">

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Sneak silently : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_ThiefSneak">
              <option value="0" selected="selected">+0</option>
              <option value="1">+1</option>
              <option value="2">+2</option>
              <option value="3">+3</option>
              <option value="4">+4</option>
              <option value="5">+5</option>
              <option value="6">+6</option>
              <option value="7">+7</option>
              <option value="8">+8</option>
              <option value="9">+9</option>
              <option value="10">+10</option>
              <option value="11">+11</option>
              <option value="12">+12</option>
              <option value="13">+13</option>
              <option value="14">+14</option>
              <option value="15">+15</option>
            </select>
          </div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefSneakCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_thiefSneakCheck" value="[[[[@{agiMod}]] + @{ThiefSneak} + @{skillChecksLuckyRoll} + @{thiefSneakCheckMisc}]]" disabled="disabled">Total Bonus</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_thiefSneak"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Sneak Silently}} {{flavortext=Attempts to move without making a sound}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{thiefSneakCheck} [Bonus]  + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }}">Sneak</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Hide in Shadows : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_ThiefHide">
              <option value="0" selected="selected">+0</option>
              <option value="1">+1</option>
              <option value="2">+2</option>
              <option value="3">+3</option>
              <option value="4">+4</option>
              <option value="5">+5</option>
              <option value="6">+6</option>
              <option value="7">+7</option>
              <option value="8">+8</option>
              <option value="9">+9</option>
              <option value="10">+10</option>
              <option value="11">+11</option>
              <option value="12">+12</option>
              <option value="13">+13</option>
              <option value="14">+14</option>
              <option value="15">+15</option>
            </select>
          </div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefHideCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_thiefHideCheck" value="[[[[@{agiMod}]] + @{ThiefHide} + @{skillChecksLuckyRoll} + @{thiefHideCheckMisc}]]" disabled="disabled">Total Bonus</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_thiefHide"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Hide in Shadows}} {{flavortext=Try to vanish}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{thiefHideCheck} [Bonus] ]]  }}">Hide</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Pick Pockets : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_ThiefPickPockets">
              <option value="0" selected="selected">+0</option>
              <option value="1">+1</option>
              <option value="2">+2</option>
              <option value="3">+3</option>
              <option value="4">+4</option>
              <option value="5">+5</option>
              <option value="6">+6</option>
              <option value="7">+7</option>
              <option value="8">+8</option>
              <option value="9">+9</option>
              <option value="10">+10</option>
              <option value="11">+11</option>
              <option value="12">+12</option>
              <option value="13">+13</option>
              <option value="14">+14</option>
              <option value="15">+15</option>
            </select>
          </div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefPickPocketsCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_thiefPickPocketsCheck" value="[[[[@{agiMod}]] + @{ThiefPickPockets} + @{skillChecksLuckyRoll} + @{thiefPickPocketsCheckMisc}]]" disabled="disabled">Total Bonus</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_thiefPickPockets"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Pick Pockets}} {{flavortext=Look into someone's pocket}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{thiefPickPocketsCheck} [Bonus] + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }}">Pick Pockets</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Climb Sheer Surfaces : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_ThiefClimb">
              <option value="0" selected="selected">+0</option>
              <option value="1">+1</option>
              <option value="2">+2</option>
              <option value="3">+3</option>
              <option value="4">+4</option>
              <option value="5">+5</option>
              <option value="6">+6</option>
              <option value="7">+7</option>
              <option value="8">+8</option>
              <option value="9">+9</option>
              <option value="10">+10</option>
              <option value="11">+11</option>
              <option value="12">+12</option>
              <option value="13">+13</option>
              <option value="14">+14</option>
              <option value="15">+15</option>
            </select>
          </div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefClimbCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_thiefClimbCheck" value="[[[[@{agiMod}]] + @{ThiefClimb} + @{skillChecksLuckyRoll} + @{thiefClimbCheckMisc}]]" disabled="disabled">Total Bonus</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_thiefClimb"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Climb Sheer Surfaces}} {{flavortext=Climbs up the steep surface}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{thiefClimbCheck} [Bonus] + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }}">Climb</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Pick Lock : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_ThiefPickLocks">
              <option value="0" selected="selected">+0</option>
              <option value="1">+1</option>
              <option value="2">+2</option>
              <option value="3">+3</option>
              <option value="4">+4</option>
              <option value="5">+5</option>
              <option value="6">+6</option>
              <option value="7">+7</option>
              <option value="8">+8</option>
              <option value="9">+9</option>
              <option value="10">+10</option>
              <option value="11">+11</option>
              <option value="12">+12</option>
              <option value="13">+13</option>
              <option value="14">+14</option>
              <option value="15">+15</option>
            </select>
          </div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefPickLocksCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_thiefPickLocksCheck" value="[[[[@{agiMod}]] + @{ThiefPickLocks} + @{skillChecksLuckyRoll} + @{thiefPickLocksCheckMisc}]]" disabled="disabled">Total Bonus</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_thiefPickLocks"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Pick Lock}} {{flavortext=Tries to figure out the locking mechanism}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{thiefPickLocksCheck} [Bonus] + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }}">Pick Lock</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Find Trap : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_ThiefFindTraps">
              <option value="0" selected="selected">+0</option>
              <option value="1">+1</option>
              <option value="2">+2</option>
              <option value="3">+3</option>
              <option value="4">+4</option>
              <option value="5">+5</option>
              <option value="6">+6</option>
              <option value="7">+7</option>
              <option value="8">+8</option>
              <option value="9">+9</option>
              <option value="10">+10</option>
              <option value="11">+11</option>
              <option value="12">+12</option>
              <option value="13">+13</option>
              <option value="14">+14</option>
              <option value="15">+15</option>
            </select>
          </div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefFindTrapsCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds INT mod + Lucky Roll + Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_thiefFindTrapsCheck" value="[[[[@{intMod}]] + @{ThiefFindTraps} + @{skillChecksLuckyRoll} + @{findDisableTrapsLuckyRoll} + @{thiefFindTrapsCheckMisc}]]" disabled="disabled">Total Bonus</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_thiefFindTraps"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Find Trap}} {{flavortext=Looks around for likely traps}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{thiefFindTrapsCheck} [Bonus] ]]  }}">Find Trap</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Disable Trap : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_ThiefDisableTraps">
              <option value="0" selected="selected">+0</option>
              <option value="1">+1</option>
              <option value="2">+2</option>
              <option value="3">+3</option>
              <option value="4">+4</option>
              <option value="5">+5</option>
              <option value="6">+6</option>
              <option value="7">+7</option>
              <option value="8">+8</option>
              <option value="9">+9</option>
              <option value="10">+10</option>
              <option value="11">+11</option>
              <option value="12">+12</option>
              <option value="13">+13</option>
              <option value="14">+14</option>
              <option value="15">+15</option>
            </select>
          </div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefDisableTrapsCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_thiefDisableTrapsCheck" value="[[[[@{agiMod}]] + @{ThiefDisableTraps} + @{skillChecksLuckyRoll} + @{findDisableTrapsLuckyRoll} + @{thiefDisableTrapsCheckMisc}]]" disabled="disabled">Total Bonus</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_thiefDisableTraps"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Disable Trap}} {{flavortext=Attempts to disable or jam the trap}} {{rolltype=Skill Check : DC}} {{disabletrap=[[ @{ActionDie} [Action Die] + @{thiefDisableTrapsCheck} [Bonus] + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }} {{failtext=You set off the trap!!}}">Disable Trap</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Forge Document : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_ThiefForgeDocuments">
              <option value="0" selected="selected">+0</option>
              <option value="1">+1</option>
              <option value="2">+2</option>
              <option value="3">+3</option>
              <option value="4">+4</option>
              <option value="5">+5</option>
              <option value="6">+6</option>
              <option value="7">+7</option>
              <option value="8">+8</option>
              <option value="9">+9</option>
              <option value="10">+10</option>
              <option value="11">+11</option>
              <option value="12">+12</option>
              <option value="13">+13</option>
              <option value="14">+14</option>
              <option value="15">+15</option>
            </select>
          </div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefForgeDocumentsCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod + Lucky Roll + Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_thiefForgeDocumentsCheck" value="[[[[@{agiMod}]] + @{ThiefForgeDocuments} + @{skillChecksLuckyRoll} + @{thiefForgeDocumentsCheckMisc}]]" disabled="disabled">Total Bonus</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_thiefForgeDocuments"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Forge Document}} {{flavortext=Copies a document}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{thiefForgeDocumentsCheck} [Bonus] ]]  }}">Forge Document</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Disguise Self : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_ThiefDisguise">
              <option value="0" selected="selected">+0</option>
              <option value="1">+1</option>
              <option value="2">+2</option>
              <option value="3">+3</option>
              <option value="4">+4</option>
              <option value="5">+5</option>
              <option value="6">+6</option>
              <option value="7">+7</option>
              <option value="8">+8</option>
              <option value="9">+9</option>
              <option value="10">+10</option>
              <option value="11">+11</option>
              <option value="12">+12</option>
              <option value="13">+13</option>
              <option value="14">+14</option>
              <option value="15">+15</option>
            </select>
          </div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefDisguiseCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds PER mod + Lucky Roll + Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_thiefDisguiseCheck" value="[[[[@{perMod}]] + @{ThiefDisguise} + @{skillChecksLuckyRoll} + @{thiefDisguiseCheckMisc}]]" disabled="disabled">Total Bonus</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_thiefDisguise"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Disguise Self}} {{flavortext=Puts on a disguise}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{thiefDisguiseCheck} [Bonus] ]]  }}">Disguise Self</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Read Languages : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_ThiefRead">
              <option value="0" selected="selected">+0</option>
              <option value="1">+1</option>
              <option value="2">+2</option>
              <option value="3">+3</option>
              <option value="4">+4</option>
              <option value="5">+5</option>
              <option value="6">+6</option>
              <option value="7">+7</option>
              <option value="8">+8</option>
              <option value="9">+9</option>
            </select>
          </div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefReadCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds INT mod + Lucky Roll + Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_thiefReadCheck" value="[[[[@{intMod}]] + @{ThiefRead} + @{skillChecksLuckyRoll} + @{thiefReadCheckMisc}]]" disabled="disabled">Total Bonus</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_thiefRead"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Read Languages}} {{flavortext=Attempts to puzzle out this language}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Action Die] + @{thiefReadCheck} [Bonus] ]]  }}">Read Languages</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Handle Poison : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_ThiefPoison">
              <option value="0" selected="selected">+0</option>
              <option value="1">+1</option>
              <option value="2">+2</option>
              <option value="3">+3</option>
              <option value="4">+4</option>
              <option value="5">+5</option>
              <option value="6">+6</option>
              <option value="7">+7</option>
              <option value="8">+8</option>
              <option value="9">+9</option>
              <option value="10">+10</option>
              <option value="11">+11</option>
              <option value="12">+12</option>
              <option value="13">+13</option>
              <option value="14">+14</option>
              <option value="15">+15</option>
            </select>
          </div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_thiefPoisonCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds Lucky Roll + Bonus"><input class="sheet-underlined sheet-center" type="number" name="attr_thiefPoisonCheck" value="[[@{ThiefPoison} + @{skillChecksLuckyRoll} + @{thiefPoisonCheckMisc}]]" disabled="disabled">Total Bonus</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_thiefPoison"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Handle Poison}} {{flavortext=Tries to apply a poison to an object}} {{rolltype=Safety Check : DC}} {{handlepoison=[[ @{ActionDie} [Action Die] + @{thiefPoisonCheck} [Bonus] ]]}} {{chance=9}} {{successtext=You have successfully applied the poison.}} {{failtext=You have poisoned yourself!!}}">Handle Poison</button>
          </div>
        </div>

        <div class="sheet-col-1-1">

          <div class="sheet-row sheet-sub-header">
            <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Other Notes</div>
          </div>

          <div class="sheet-row">
            <div class="sheet-col-1-1" title="Enter other notes here"><textarea name="attr_halflingNotes" placeholder="Other notes of Halfling Importance!"></textarea></div>
          </div>

        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <ul>
          <li><b>Hit Points:</b> 1d6 per level<br> </li>
          <li><b>Weapons: </b> Club, dagger, handaxe, staff, short sword, crossbow, javelin, shortbow, and sling<br></li>
            <li><b>Armor: </b> Burglars are careful in their choice of armor, as it affects the use of their skills.<br></li>
          <li><b>Alignment: </b> Law (common), Neutral (uncommon), Chaos (extremely rare)<br></li>
          <li><b>Languages: </b> Knows Common, Halfling, & one other language.  Also knows one additional language for every point of Int modifier<br></li>
          <li><b>Infravision: </b> 30 feet<br></li>
          <li><b>Movement: </b> 20 feet<br></li>
        </ul>
      </div>

    <!-- Beta Thief Skills -->
      <div class="sheet-BetaHalflingBurglar">

        <input type="hidden" name="attr_betaThiefArmorCheck" value="[[([[@{armorCheck}]] * 5)]]">

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Sneak silently : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_betaThiefSneak">
              <option value="0" selected="selected">0%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
              <option value="55">55%</option>
              <option value="60">60%</option>
              <option value="65">65%</option>
              <option value="70">70%</option>
            </select>
          </div>
          <input type="hidden" name="attr_betaThiefSneakBonus" value="[[(([[@{agiMod}]] + @{skillChecksLuckyRoll}) * 5)]]">
          <input type="hidden" name="attr_betaThiefSneakMiscBonus" value="[[((@{betaThiefSneakCheckMisc}) * 5)]]">
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_betaThiefSneakCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod, Lucky Roll as % mods"><input class="sheet-underlined sheet-center" input type="number" name="attr_betaThiefSneakCheck" value="[[@{betaThiefSneakBonus} + @{betaThiefSneak} + @{betaThiefSneakMiscBonus}]]" disabled="disabled">Success %</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_betaThiefSneak"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Sneak Silently}} {{flavortext=Attempts to move without making a sound.}} {{neededroll=Success Chance : }} {{rolltype=Roll : }} {{percentability=[[1d100]]}} {{chance=[[@{betaThiefSneakCheck} + @{betaThiefArmorCheck} [Armor Check Penalty] ]]}} {{successtext=You think you have succeeded.}} {{failtext=You have most likely failed.}}">Sneak</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Hide in Shadows : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_betaThiefHide">
              <option value="0" selected="selected">0%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
              <option value="55">55%</option>
              <option value="60">60%</option>
              <option value="65">65%</option>
              <option value="70">70%</option>
            </select>
          </div>

          <input type="hidden" name="attr_betaThiefHideBonus" value="[[(([[@{agiMod}]] + @{skillChecksLuckyRoll}) * 5)]]">
          <input type="hidden" name="attr_betaThiefHideMiscBonus" value="[[((@{betaThiefHideCheckMisc}) * 5)]]">
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_betaThiefHideCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod, Lucky Roll as % mods"><input class="sheet-underlined sheet-center" input type="number" name="attr_betaThiefHideCheck" value="[[@{betaThiefHideBonus} + @{betaThiefHide} + @{betaThiefHideMiscBonus}]]" disabled="disabled">Success %</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_betaThiefHide"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Hide in Shadows}} {{flavortext=Attempts to Hide in Shadows.}} {{neededroll=Success Chance : }} {{rolltype=Roll : }} {{percentability=[[1d100]]}} {{chance=@{betaThiefHideCheck} }} {{successtext=You think you have succeeded.}} {{failtext=You have most likely failed.}}">Hide</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Pick Pockets : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_betaThiefPickPockets">
              <option value="0" selected="selected">0%</option>
              <option value="15">15%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
              <option value="55">55%</option>
              <option value="60">60%</option>
              <option value="65">65%</option>
              <option value="70">70%</option>
            </select>
          </div>

          <input type="hidden" name="attr_betaThiefPickPocketsBonus" value="[[(([[@{agiMod}]] + @{skillChecksLuckyRoll}) * 5)]]">
          <input type="hidden" name="attr_betaThiefPickPocketsMiscBonus" value="[[((@{betaThiefPickPocketsCheckMisc}) * 5)]]">
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_betaThiefPickPocketsCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod, Lucky Roll as % mods"><input class="sheet-underlined sheet-center" input type="number" name="attr_betaThiefPickPocketsCheck" value="[[@{betaThiefPickPocketsBonus} + @{betaThiefPickPockets} + @{betaThiefPickPocketsMiscBonus}]]" disabled="disabled">Success %</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_betaThiefPickPockets"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Pick Pockets}} {{flavortext=Attempts to Pick Pockets.}} {{neededroll=Success Chance : }} {{rolltype=Roll : }} {{percentability=[[1d100]]}} {{chance=[[@{betaThiefPickPocketsCheck} + ([[@{betaThiefArmorCheck})]]) [Armor Check Penalty] ]]}} {{successtext=You think you have succeeded.}} {{failtext=You have most likely failed.}}">Pick Pockets</button>
          </div>

        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Climb Sheer Surfaces : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_betaThiefClimb">
              <option value="0" selected="selected">0%</option>
              <option value="85">85%</option>
              <option value="86">86%</option>
              <option value="87">87%</option>
              <option value="88">88%</option>
              <option value="89">89%</option>
              <option value="90">90%</option>
              <option value="91">91%</option>
              <option value="92">92%</option>
              <option value="93">93%</option>
              <option value="94">94%</option>
              <option value="95">95%</option>
              <option value="96">96%</option>
              <option value="97">97%</option>
              <option value="98">98%</option>
              <option value="99">99%</option>
            </select>
          </div>

          <input type="hidden" name="attr_betaThiefClimbBonus" value="[[(([[@{agiMod}]] + @{skillChecksLuckyRoll}) * 1)]]">
          <input type="hidden" name="attr_betaThiefClimbMiscBonus" value="[[((@{betaThiefClimbCheckMisc}) * 1)]]">
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_betaThiefClimbCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod, Lucky Roll as % mods"><input class="sheet-underlined sheet-center" input type="number" name="attr_betaThiefClimbCheck" value="[[@{betaThiefClimbBonus} + @{betaThiefClimb} + @{betaThiefClimbMiscBonus}]]" disabled="disabled">Success %</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_betaThiefClimb"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Climb Sheer Surfaces}} {{flavortext=Attempts to Climb a Sheer Surface.}} {{neededroll=Success Chance : }} {{rolltype=Roll : }} {{percentability=[[1d100]]}} {{chance=[[@{betaThiefClimbCheck} + ([[@{betaThiefArmorCheck}]]) [Armor Check Penalty] ]]}} {{successtext=You climb successfully.}} {{failtext=You fall.}}">Climb</button>
          </div>

        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Pick Lock : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_betaThiefPickLocks">
              <option value="0" selected="selected">0%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
              <option value="55">55%</option>
              <option value="60">60%</option>
              <option value="65">65%</option>
              <option value="70">70%</option>
              <option value="75">75%</option>
              <option value="80">80%</option>
              <option value="85">85%</option>
              <option value="90">90%</option>
            </select>
          </div>

          <input type="hidden" name="attr_betaThiefPickLocksBonus" value="[[(([[@{agiMod}]] + @{skillChecksLuckyRoll}) * 5)]]">
          <input type="hidden" name="attr_betaThiefPickLocksMiscBonus" value="[[((@{betaThiefPickLocksCheckMisc}) * 5)]]">
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_betaThiefPickLocksCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod, Lucky Roll as % mods"><input class="sheet-underlined sheet-center" input type="number" name="attr_betaThiefPickLocksCheck" value="[[@{betaThiefPickLocksBonus} + @{betaThiefPickLocks} + @{betaThiefPickLocksMiscBonus}]]" disabled="disabled">Success %</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_betaThiefPickLocks"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Pick Locks}} {{flavortext=Attempts to Pick a Lock.}} {{neededroll=Success Chance : }} {{rolltype=Roll : }} {{percentability=[[1d100]]}} {{chance=[[@{betaThiefPickLocksCheck} + ([[@{betaThiefArmorCheck}]]) [Armor Check Penalty] ]]}} {{successtext=The lock opens.}} {{failtext=You have been confounded by the complexity of this lock.}}">Pick Lock</button>
          </div>

        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Find Trap : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_betaThiefFindTraps">
              <option value="0" selected="selected">0%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
              <option value="55">55%</option>
              <option value="60">60%</option>
              <option value="65">65%</option>
              <option value="70">70%</option>
            </select>
          </div>

          <input type="hidden" name="attr_betaThiefFindTrapsBonus" value="[[(([[@{intMod}]] + @{skillChecksLuckyRoll} + @{findDisableTrapsLuckyRoll}) * 5)]]">
          <input type="hidden" name="attr_betaThiefFindTrapsMiscBonus" value="[[((@{betaThiefFindTrapsCheckMisc}) * 5)]]">
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_betaThiefFindTrapsCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds INT mod, Lucky Roll as % mods"><input class="sheet-underlined sheet-center" input type="number" name="attr_betaThiefFindTrapsCheck" value="[[@{betaThiefFindTrapsBonus} + @{betaThiefFindTraps} + @{betaThiefFindTrapsMiscBonus}]]" disabled="disabled">Success %</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_betaThiefFindTraps"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Find Traps}} {{flavortext=Looks around for traps.}} {{neededroll=Success Chance : }} {{rolltype=Roll : }} {{percentability=[[1d100]]}} {{chance=@{betaThiefFindTrapsCheck} }} {{successtext=You think you could possibly have found a trap.}} {{failtext=No Traps Here!.}}">Find Trap</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Disable Trap : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_betaThiefDisableTraps">
              <option value="0" selected="selected">0%</option>
              <option value="15">15%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
              <option value="55">55%</option>
              <option value="60">60%</option>
              <option value="65">65%</option>
              <option value="70">70%</option>
            </select>
          </div>

          <input type="hidden" name="attr_betaThiefDisableTrapsBonus" value="[[(([[@{agiMod}]] + @{skillChecksLuckyRoll} + @{findDisableTrapsLuckyRoll}) * 5)]]">
          <input type="hidden" name="attr_betaThiefDisableTrapsMiscBonus" value="[[((@{betaThiefDisableTrapsCheckMisc}) * 5)]]">
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_betaThiefDisableTrapsCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod, Lucky Roll as % mods"><input class="sheet-underlined sheet-center" input type="number" name="attr_betaThiefDisableTrapsCheck" value="[[@{betaThiefDisableTrapsBonus} + @{betaThiefDisableTraps} + @{betaThiefDisableTrapsMiscBonus}]]" disabled="disabled">Success %</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_betaThiefDisableTraps"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Disable Traps}} {{flavortext=Attempts to Disable the Trap.}} {{neededroll=Success Chance : }} {{rolltype=Roll : }} {{percentability=[[1d100]]}} {{chance=[[@{betaThiefDisableTrapsCheck} + ([[@{betaThiefArmorCheck}]]) [Armor Check Penalty] ]]}} {{successtext=You think you have disabled the trap.}} {{failtext=Trap is not disabled and you might have set it off.}}">Disable Trap</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Forge Document : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_betaThiefForgeDocuments">
              <option value="0" selected="selected">0%</option>
              <option value="15">15%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
              <option value="55">55%</option>
              <option value="60">60%</option>
              <option value="65">65%</option>
              <option value="70">70%</option>
            </select>
          </div>

          <input type="hidden" name="attr_betaThiefForgeDocumentsBonus" value="[[(([[@{agiMod}]] + @{skillChecksLuckyRoll}) * 5)]]">
          <input type="hidden" name="attr_betaThiefForgeDocumentsMiscBonus" value="[[((@{betaThiefForgeDocumentsCheckMisc}) * 5)]]">
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_betaThiefForgeDocumentsCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds AGI mod, Lucky Roll as % mods"><input class="sheet-underlined sheet-center" input type="number" name="attr_betaThiefForgeDocumentsCheck" value="[[@{betaThiefForgeDocumentsBonus} + @{betaThiefForgeDocuments} + @{betaThiefForgeDocumentsMiscBonus}]]" disabled="disabled">Success %</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_betaThiefForgeDocuments"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Forge Documents}} {{flavortext=Attempts to Forge a Document.}} {{neededroll=Success Chance : }} {{rolltype=Roll : }} {{percentability=[[1d100]]}} {{chance=@{betaThiefForgeDocumentsCheck} }} {{successtext=You think you have copied the documents perfectly.}} {{failtext=You hope that no one will notice all the errors.}}">Forge Document</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Disguise Self : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_betaThiefDisguise">
              <option value="0" selected="selected">0%</option>
              <option value="15">15%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
              <option value="55">55%</option>
              <option value="60">60%</option>
              <option value="65">65%</option>
              <option value="70">70%</option>
            </select>
          </div>

          <input type="hidden" name="attr_betaThiefDisguiseBonus" value="[[(([[@{perMod}]] + @{skillChecksLuckyRoll}) * 5)]]">
          <input type="hidden" name="attr_betaThiefDisguiseMiscBonus" value="[[((@{betaThiefDisguiseCheckMisc}) * 5)]]">
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_betaThiefDisguiseCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds PER mod, Lucky Roll as % mods"><input class="sheet-underlined sheet-center" input type="number" name="attr_betaThiefDisguiseCheck" value="[[@{betaThiefDisguiseBonus} + @{betaThiefDisguise} + @{betaThiefDisguiseMiscBonus}]]" disabled="disabled">Success %</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_betaThiefDisguise"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Disguise Self}} {{flavortext=Attempts to Disguise themselves.}} {{neededroll=Success Chance : }} {{rolltype=Roll : }} {{percentability=[[1d100]]}} {{chance=@{betaThiefDisguiseCheck} }} {{successtext=No one should notice it's you.}} {{failtext=Did your mustache just fall off?.}}">Disguise Self</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Read Languages : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_betaThiefRead">
              <option value="0" selected="selected">0%</option>
              <option value="5">5%</option>
              <option value="10">10%</option>
              <option value="15">15%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
            </select>
          </div>

          <input type="hidden" name="attr_betaThiefReadBonus" value="[[(([[@{perMod}]] + @{skillChecksLuckyRoll}) * 5)]]">
          <input type="hidden" name="attr_betaThiefReadMiscBonus" value="[[((@{betaThiefReadCheckMisc}) * 5)]]">
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_betaThiefReadCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds PER mod, Lucky Roll as % mods"><input class="sheet-underlined sheet-center" input type="number" name="attr_betaThiefReadCheck" value="[[@{betaThiefReadBonus} + @{betaThiefRead} + @{betaThiefReadMiscBonus}]]" disabled="disabled">Success %</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_betaThiefRead"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Read Languages}} {{flavortext=Sounds out the language.}} {{neededroll=Success Chance : }} {{rolltype=Roll : }} {{percentability=[[1d100]]}} {{chance=@{betaThiefReadCheck} }} {{successtext=You can understand this.}} {{failtext=You have no idea what this language says.}}">Read Language</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-row">
          <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Handle Poison : <br></div>
          <div class="sheet-col-1-13 sheet-right">
            <select name="attr_betaThiefPoison">
              <option value="0" selected="selected">0%</option>
              <option value="15">15%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
              <option value="55">55%</option>
              <option value="60">60%</option>
              <option value="65">65%</option>
              <option value="70">70%</option>
            </select>
          </div>

          <input type="hidden" name="attr_betaThiefPoisonBonus" value="[[((@{skillChecksLuckyRoll}) * 5)]]">
          <input type="hidden" name="attr_betaThiefPoisonMiscBonus" value="[[((@{betaThiefPoisonCheckMisc}) * 5)]]">
          <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_betaThiefPoisonCheckMisc" value="0"><br>Misc Bonus</div>
          <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds bonus, Lucky Roll as % mods"><input class="sheet-underlined sheet-center" input type="number" name="attr_betaThiefPoisonCheck" value="[[@{betaThiefPoisonBonus} + @{betaThiefPoison} + @{betaThiefPoisonMiscBonus}]]" disabled="disabled">Success %</div>
          <div class="sheet-col-1-6 sheet-padl">
            <button type="roll" class="sheet-roll" name="roll_betaThiefPoison"
            value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Handle Poison}} {{flavortext=Tries to apply a poison to an object.}} {{neededroll=Success Chance : }} {{rolltype=Roll : }} {{percentability=[[1d100]]}} {{chance=@{betaThiefPoisonCheck} }} {{successtext=You have successfully coated the blade.}} {{failtext=You have failed to coat the blade properly and maybe even poisoned yourself.}}">Handle Poison</button>
          </div>
        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <div class="sheet-col-1-1">

          <div class="sheet-row sheet-sub-header">
            <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Other Notes</div>
          </div>

          <div class="sheet-row">
            <div class="sheet-col-1-1" title="Enter other notes here"><textarea name="attr_halflingNotes" placeholder="Other notes of Halfling Importance!"></textarea></div>
          </div>

        </div>

        <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

        <ul>
          <li><b>Hit Points:</b> 1d6 per level<br> </li>
          <li><b>Weapons: </b> Club, dagger, handaxe, staff, short sword, crossbow, javelin, shortbow, and sling<br></li>
            <li><b>Armor: </b> Burglars are careful in their choice of armor, as it affects the use of their skills.<br></li>
          <li><b>Alignment: </b> Law (common), Neutral (uncommon), Chaos (extremely rare)<br></li>
          <li><b>Languages: </b> Knows Common, Halfling, & one other language.  Also knows one additional language for every point of Int modifier<br></li>
          <li><b>Infravision: </b> 30 feet<br></li>
          <li><b>Movement: </b> 20 feet<br></li>
        </ul>
    </div>
</div>
