<div class="sheet-halflingburglar">
  <ul>
    <li><b>Hit Points:</b> 1d6 per level<br> </li>
    <li><b>Weapons: </b> Club, dagger, handaxe, staff, short sword, crossbow, javelin, shortbow, and sling<br></li>
      <li><b>Armor: </b> Burglars are careful in their choice of armor, as it affects the use of their skills.<br></li>
    <li><b>Alignment: </b> Law (common), Neutral (uncommon), Chaos (extremely rare)<br></li>
    <li><b>Languages: </b> Knows Common, Halfling, & one other language.  Also knows one additional language for every point of Int modifier<br></li>
    <li><b>Infravision: </b> 30 feet<br></li>
    <li><b>Movement: </b> 20 feet<br></li>
  </ul>
</div>
