<%= shown_when_option_set(:can_halfling_stealth) do %>
  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Stealth Bonus<br></div>
    <div class="sheet-col-1-14 sheet-right">
      <select name="attr_HalflingStealth" title="Select your bonus for Sneak and Hide based on your level">
        <option value="0" selected="selected">--</option>
        <option value="3">+3</option>
        <option value="5">+5</option>
        <option value="7">+7</option>
        <option value="8">+8</option>
        <option value="9">+9</option>
        <option value="11">+11</option>
        <option value="12">+12</option>
        <option value="13">+13</option>
        <option value="14">+14</option>
        <option value="15">+15</option>
      </select>
    </div>
  </div>

  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Halfling Sneak<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_halflingStealthCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds Stealth Bonus + AGI mod + Lucky Roll + Bonus"><input class="sheet-center" type="number" name="attr_halflingStealthCheck" value="[[[[@{agiMod}]] + @{HalflingStealth} + @{skillChecksLuckyRoll} + @{halflingStealthCheckMisc}]]" disabled="disabled">Total Bonus</div>
    <div class="sheet-col-1-6 sheet-padl">
      <button type="roll" class="sheet-roll" name="roll_halflingSneak"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Sneak}} {{flavortext=The halfling attempts to move without making a sound}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{halflingStealthCheck} [Bonus] + ([[@{armorCheck}]]) [Armor Check Penalty] ]]  }}">Sneak</button>
    </div>
  </div>

  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

  <div class="sheet-row">
    <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Halfling Hide<br></div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_halflingHideCheckMisc" value="0"><br>Misc Bonus</div>
    <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Adds Stealth Bonus + AGI mod + Lucky Roll + Bonus"><input class=" sheet-center" type="number" name="attr_halflingHideCheck" value="[[[[@{agiMod}]] + @{HalflingStealth} + @{skillChecksLuckyRoll} + @{halflingHideCheckMisc}]]" disabled="disabled">Total Bonus</div>
    <div class="sheet-col-1-6 sheet-padl">
      <button type="roll" class="sheet-roll" name="roll_HalflingHide"
      value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Hide}} {{flavortext=The halfling tries to make themselves small enough so they seem to vanish}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{halflingHideCheck} [Bonus] ]]  }}">Hide</button>
    </div>
  </div>

  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
<% end %>
