<div class="sheet-kith">
  <h3>Kith Abilities</h3>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Secret Doors<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_secretDoorsCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Intelligence Mod + Secret Doors Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_secretDoorCheck" value="[[ ( [[@{intMod}]] + [[@{findSecretDoorsLuckyRoll}]] + [[@{secretDoorsCheckMisc}]]) ]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_findSecretDoor"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Find Secret Doors}} {{flavortext=Looks around for secret or hidden doors.}} {{rolltype=Search Check : }} {{classability=[[ @{ActionDie} [Action Die] + @{secretDoorCheck} [Bonus] ]]  }}">Find Secret Doors</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Lucky Weapons<br></div>
      <div class="sheet-col-1-4 sheet-right"><input class="sheet-underline sheet-center" type="text" value="Javelins, Spears, Axes" name="attr_LuckyWeapon"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Force of Will<br></div>
      <div class="sheet-col-1-10 sheet-right">
        <select name="attr_PersonalityBurnDie">
          <option value="d0" selected="selected">--</option>
          <option value="d2">d2</option>
          <option value="d3">d3</option>
          <option value="d4">d4</option>
          <option value="d5">d5</option>
          <option value="d6">d6</option>
          <option value="d7">d7</option>
          <option value="d8">d8</option>
          <option value="d10">d10</option>
          <option value="d12">d12</option>
          <option value="d14">d14</option>
        </select>
      </div>
      <div class="sheet-col-1-6 sheet-center">
        <button type="roll" class="sheet-roll" name="roll_personalityBurnDie"
        value="&{template:DccTabbed} {{background=[[0]]}} {{combat=1}} {{name=@{character_name}}} {{title=Force of Will}} {{flavortext=Add this bonus to any single Hit or Damage roll, Strength Check, or FORT save.}} {{rolltype=Burn Die : }} {{deeddie=[[ (?{Amount of Personality to burn|1}@{PersonalityBurnDie}cs20) [Die Roll] ]] }} {{successtext=You accomplish a Mighty Deed (if attack roll also hits)!}}">Personality Burn</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Find Outdoor Traps<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_kithFindTrapsCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Bonus is Intelligence Mod + Kith Level + Born Under the Loom or Fox's Cunning Lucky Roll (if applicable) + Bonus"><input class="sheet-underlined sheet-center" input type="number" name="attr_kithFindTrapsCheck" value="[[[[@{intMod}]] + @{Level} + @{skillChecksLuckyRoll} + @{findDisableTrapsLuckyRoll} + @{kithFindTrapsCheckMisc}]]" disabled="disabled">Total Bonus</div>
      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_kithFindTraps"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Find Outdoor Traps}} {{flavortext=Looks around for hidden traps in the wilds}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{kithFindTrapsCheck} [Bonus] ]]  }}">Find Trap</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Detect Foes (Outdoors)<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_kithDetectCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Bonus is Intelligence Mod + Kith Level + Born Under the Loom Lucky Roll (if applicable) + Bonus"><input class="sheet-underlined sheet-center" input type="number" name="attr_kithDetectCheck" value="[[[[@{intMod}]] + @{Level} + @{skillChecksLuckyRoll} + @{kithDetectCheckMisc}]]" disabled="disabled">Total Bonus</div>
      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_kithDetect"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Detect Foes (Wilderness)}} {{flavortext=Searches the forest for their hidden enemy}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{kithDetectCheck} [Bonus] ]]  }}">Detect</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Track (Outdoors)<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_kithTrackCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" title="Bonus is Intelligence Mod + Kith Level + Born Under the Loom Lucky Roll (if applicable) + Bonus"><input class="sheet-underlined sheet-center" input type="number" name="attr_kithTrackingCheck" value="[[[[@{intMod}]] + @{Level} + @{skillChecksLuckyRoll} + @{kithTrackCheckMisc}]]" disabled="disabled">Total Bonus</div>
      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_KithTrack"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Wilderness Tracking}} {{flavortext=Uses wilderness skills to track their prey}} {{rolltype=Skill Check : DC}} {{classability=[[ @{ActionDie} [Dice Roll] + @{kithTrackingCheck} [Bonus] ]]  }}">Track</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">

      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Other Notes</div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-1" title="Enter other notes here"><textarea name="attr_kithNotes" placeholder="Other notes of Kith Importance!"></textarea></div>
      </div>

    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <ul>
      <li><b>Hit Points:</b> 1d10 per level<br> </li>
        <li><b>Weapons: </b> battleaxe, club, dagger, handaxe, javelin, longsword, mace, shortbow, shortsword, sling, spear, two-handed sword, and warhammer<br></li>
        <li><b>Armor: </b> For armor heavier than hide, they suffer an additional Check Penalty of +3.<br></li>
        <li><b>Alignment: </b> Law (common), Neutral (uncommon), Chaos (uncommon)<br></li>
        <li><b>Languages: </b> Planetary Common (Kith).  Knows one additional languages for every point of Int modifier.  May not learn any "off-planet" languages until coming in contact with speakers.<br></li>
        <li><b>Movement: </b> 30'<br></li>
    </ul>
</div>
