<div class="sheet-kith">
  <ul>
    <li><b>Hit Points:</b> 1d10 per level<br> </li>
      <li><b>Weapons: </b> battleaxe, club, dagger, handaxe, javelin, longsword, mace, shortbow, shortsword, sling, spear, two-handed sword, and warhammer<br></li>
      <li><b>Armor: </b> For armor heavier than hide, they suffer an additional Check Penalty of +3.<br></li>
      <li><b>Alignment: </b> Law (common), Neutral (uncommon), Chaos (uncommon)<br></li>
      <li><b>Languages: </b> Planetary Common (Kith).  Knows one additional languages for every point of Int modifier.  May not learn any "off-planet" languages until coming in contact with speakers.<br></li>
      <li><b>Movement: </b> 30'<br></li>
      <li><b>Luck: </b>At 1st level, add starting luck modifier to attack rolls with axes, javelins, and spears.<br></li>
  </ul>
</div>
