<div class="sheet-paladin">
  <ul>
      <li><b>Hit Points:</b> 1d10 per level<br> </li>
      <li><b>Weapons: </b> Those allowed by chosen god.  In addition, they can use the following melee and ranged weapons: battleaxe, club, crossbow, dagger, handaxe, javelin, longbow, longsword, mace, short sword, shortbow, sling, spear, two-handed sword, and warhammer.<br></li>
      <li><b>Armor: </b> Any<br></li>
      <li><b>Alignment: </b> Same as chosen god<br></li>
      <li><b>Languages: </b> Knows Common.  Also knows one additional language for every point of Int modifier<br></li>
      <li><b>Movement: </b> 30 feet<br></li>
  </ul>

  <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

  <div class="sheet-hd-row">Gods of the Eternal Struggle
    <table>
      <tr>
        <th> Alignment of Deity </th>
        <th> Weapons Useable by Cleric </th>
        <th> Unholy Creatures to Deity </th>
      </tr>
      <tr>
        <td> Law </td>
        <td> Club, mace, sling, staff, warhammer </td>
        <td> Un-dead, demons, devils, chaotic extraplanar creatures, monsters (e.g., basilisk or medusa), Chaos Primes, chaotic humanoids (e.g., orcs), chaotic dragons </td>
      </tr>
      <tr>
        <td> Neutral </td>
        <td> Dagger, mace, sling, staff, sword (any) </td>
        <td> Mundane animals, un-dead, demons, devils, monsters (e.g., basilisk or medusa), lycanthropes, perversions of nature (e.g., otyughs and slimes) </td>
      </tr>
      <tr>
        <td> Chaos </td>
        <td> Axe (any), bow (any), dagger, dart, flail </td>
        <td> Angels, paladins, lawful dragons, Lords of Law, Lawful Primes, and Law-aligned humanoids (e.g., goblins) </td>
      </tr>
    </table>
  </div>
</div>
