<div class="sheet-petrolhead">
  <ul>
    <li><b>Hit Points:</b> 1d7 per level<br> </li>
      <li><b>Weapons: </b> Any ranged/missile and 1-handed weapons<br></li>
      <li><b>Armor: </b> Any shields and armor with a penalty die of d8 or less.<br></li>
      <li><b>Alignment: </b> Law (rare), Neutral (rare), Chaos (common)<br></li>
      <li><b>Languages: </b> Common.<br></li>
      <li><b>Movement: </b> 30'<br></li>
      <li><b>Equipment: </b> Starts with a Beater level Buggy or Small Car with a full tank of fuel.<br></li>
      <li><b>Fuel Hound </b><br>
        <ul>
            <li><b>Smell Petroleum or alcohol based fuels </b><br>
              <ul>
                <li>Strong concentration within 100' <br></li>
                <li>Smaller amounts, down to a single pint, have scent ranges as low as 20' (requires concentration) <br></li>
              </ul>
            </li>
        </ul>
      </li>
  </ul>
</div>
