<div class="sheet-petrolhead">
  <h3>Petrol Head Abilities</h3>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Secret Doors<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_secretDoorsCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Intelligence Mod + Secret Doors Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_secretDoorCheck" value="[[ ( [[@{intMod}]] + [[@{findSecretDoorsLuckyRoll}]] + [[@{secretDoorsCheckMisc}]]) ]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_findSecretDoor"
        value="&{template:DccTabbed} {{class=1}} {{name=@{character_name}}} {{title=Find Secret Doors}} {{flavortext=Looks around for secret or hidden doors.}} {{rolltype=Search Check : }} {{classability=[[ @{ActionDie} [Action Die] + @{secretDoorCheck} [Bonus] ]]  }}">Find Secret Doors</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Ace Die<br></div>
      <div class="sheet-col-1-13 sheet-right">
        <select name="attr_aceDie">
          <option value="d0" selected="selected">--</option>
          <option value="d3">d3</option>
          <option value="d4">d4</option>
          <option value="d5">d5</option>
          <option value="d6">d6</option>
          <option value="d7">d7</option>
          <option value="d8">d8</option>
          <option value="d10">d10</option>
          <option value="d12">d12</option>
          <option value="d14">d14</option>
          <option value="d16">d16</option>
        </select>
      </div>

      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_aceDie"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Ace Die}} {{flavortext=Add this bonus to vehicle-related checks.}} {{rolltype=Ace Die : }} {{luckdie=[[@{aceDie} [Die Roll] ]] }}">Ace Die</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-right sheet-padr sheet-hd-row">Mojo Die<br></div>
      <div class="sheet-col-1-13 sheet-right">
        <select name="attr_mojoDie">
          <option value="d0" selected="selected">--</option>
          <option value="d2">d2</option>
          <option value="d3">d3</option>
          <option value="d4">d4</option>
          <option value="d5">d5</option>
          <option value="d6">d6</option>
          <option value="d7">d7</option>
          <option value="d8">d8</option>
        </select>
      </div>

      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_mojoDie"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Mojo Die}} {{flavortext=Add this Mojo bonus to any roll.}} {{rolltype=Mojo Die : }} {{luckdie=[[ ?{How many points of luck spent|1}@{mojoDie} [Die Roll] ]] }}">Mojo Die</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">

      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Other Notes</div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-1" title="Enter other notes here"><textarea name="attr_petrolHeadNotes" placeholder="Other notes of Automotive Importance!"></textarea></div>
      </div>

    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <ul>
      <li><b>Hit Points:</b> 1d7 per level<br> </li>
        <li><b>Weapons: </b> Any ranged/missile and 1-handed weapons<br></li>
        <li><b>Armor: </b> Any shields and armor with a penalty die of d8 or less.<br></li>
        <li><b>Alignment: </b> Law (rare), Neutral (rare), Chaos (common)<br></li>
        <li><b>Languages: </b> Common.<br></li>
        <li><b>Movement: </b> 30'<br></li>
        <li><b>Equipment: </b> Starts with a Beater level Buggy or Small Car with a full tank of fuel.<br></li>
        <li><b>Fuel Hound </b><br>
          <ul>
              <li><b>Smell Petroleum or alcohol based fuels </b><br>
                <ul>
                  <li>Strong concentration within 100' <br></li>
                  <li>Smaller amounts, down to a single pint, have scent ranges as low as 20' (requires concentration) <br></li>
                </ul>
              </li>
          </ul>
        </li>
    </ul>
</div>
