<div class="sheet-ranger">
  <ul>
    <li><b>Hit Points:</b> 1d10 per level<br> </li>
      <li><b>Weapons: </b> club, crossbow, dagger, dart, handaxe, javelin, longbow, longsword, mace, shortbow, shortsword, sling, spear, staff<br></li>
      <li><b>Armor: </b> Any shield and armor with a total Check Penalty less than -6.<br></li>
      <li><b>Alignment: </b> Law (uncommon), Neutral (common), Chaos (uncommon)<br></li>
      <li><b>Languages: </b> Common.  Knows two additional languages for every point of Int modifier.  These languages must be one of his favored enemies or an animal one.<br></li>
      <li><b>Movement: </b> 30'<br></li>
      <li><b>Ranger Paths </b><br>
        <ul>
            <li><b>Archery Expert </b><br>
              <ul>
                <li>When firing into melee, the ranger may ignore the 50% chance to hit an ally engaged in the melee.<br></li>
                <li>Uses Mighty Deed die when attacking with Crossbow, Longbow or Shortbow <br></li>
              </ul>
            </li>
            <li><b>Two-Weapon Expert</b><br>
              <ul>
                <li>A ranger can fight effectively with 2 equal-sized one-handed weapons as if his Agility was 16. <br></li>
                <li>Uses Mighty Deed die when attacking with two-weapons <br></li>
              </ul>
            </li>
        </ul>
      </li>
  </ul>
</div>
