<div class="sheet-technologist">
  <ul>
      <li><b>Hit Points:</b>1d6 per level<br> </li>
      <li><b>Weapons: </b> Daggers, Clubs, Staves, Hand Axes, Crossbows, Pistols and Rifles of any Era, Grenades and Explosives of any Era<br></li>
      <li><b>Armor: </b> Any<br></li>
      <li><b>Languages: </b> Common<br></li>
      <li><b>Movement: </b> 30'<br></li>
      <li><b>Alignment: </b><br>
        <ul>
            <li><b>Neutral (common):</b> Has unbiased nature of scientific understanding<br>
              <ul>
                <li>Great at: Vehicle Repair<br></li>
                <li>Good at: Use Alien Tech, Weapon Tinkering<br></li>
                <li>Average at: Computer Use, General Tech<br></li>
                <li>Okay at: Bot Repair<br></li>
              </ul>
            </li>
            <li><b>Lawful (uncommon):</b> Obsessed with theoretical science<br>
              <ul>
                <li>Great at: General Tech, Use Alien Tech<br></li>
                <li>Good at: Computer Use<br></li>
                <li>Average at: Bot Repair, Vehicle Repair<br></li>
                <li>Okay at: Weapon Tinkering<br></li>
              </ul>
            </li>
            <li><b>Chaotic (uncommon):</b> Prone to be called mad scientists<br>
              <ul>
                <li>Great at: Weapon Tinkering<br></li>
                <li>Good at: Bot Repair<br></li>
                <li>Average at: Computer Use, Vehicle Repair, Use Alien Tech<br></li>
                <li>Okay at: General Tech<br></li>
              </ul>
            </li>
        </ul>
      </li>
  </ul>
</div>
