<div class="sheet-thief">
  <ul>
    <li><b>Hit Points:</b>1d6 per level<br> </li>
    <li><b>Weapons: </b> Blackjack, blowgun, crossbow, dagger, dart, garrote, longsword, short sword, sling, and staff<br></li>
    <li><b>Armor: </b> Thieves are careful in their choice of armor, as it affects the use of their skills.<br></li>
    <li><b>Languages: </b> Common, Thieves Cant<br></li>
    <li><b>Movement: </b> 30'<br></li>
    <li><b>Alignment: </b><br>
      <ul>
          <li><b>Neutral (common):</b> Path of the Swindler<br>
            <ul>
              <li>Great at: Sneak, Pick pocket, Climb, Forge document<br></li>
              <li>Good at: Hide, Pick lock, Find trap, Disable trap, Cast spell from scroll<br></li>
              <li>Average at: Backstab, Read languages<br></li>
              <li>Okay at: Disguise self, Handle poison<br></li>
            </ul>
          </li>
          <li><b>Lawful (common):</b> Path of the Boss<br>
            <ul>
              <li>Great at: Hide, Climb, Find trap, Disable trap<br></li>
              <li>Good at: Backstab, Sneak, Pick pocket, Pick lock<br></li>
              <li>Average at: Disguise self, Handle poison, Cast spell from scroll<br></li>
              <li>Okay at: Forge document, Read languages<br></li>
            </ul>
          </li>
          <li><b>Chaotic (common):</b> Path of the Assassin<br>
            <ul>
              <li>Great at: Backstab, Sneak, Disguise self, Handle poison<br></li>
              <li>Good at: Hide, Climb, Pick lock, Find trap<br></li>
              <li>Average at: Pick pocket, Disable trap, Cast spell from scroll<br></li>
              <li>Okay at: Forge document, Read languages<br></li>
            </ul>
          </li>
      </ul>
    </li>
  </ul>
</div>
