<div class="sheet-wizard">
  <h3>Wizard Abilities</h3>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Secret Doors<br></div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Add Misc bonus here"><input class="sheet-underlined" type="number" name="attr_secretDoorsCheckMisc" value="0"><br>Misc Bonus</div>
      <div class="sheet-col-1-14 sheet-small-label sheet-center" Title="Bonus is Intelligence Mod + Secret Doors Lucky Roll + Misc Bonus (if any)"><input class="sheet-underlined sheet-center" type="number" name="attr_secretDoorCheck" value="[[ ( [[@{intMod}]] + [[@{findSecretDoorsLuckyRoll}]] + [[@{secretDoorsCheckMisc}]]) ]]" disabled="disabled"><br>Total Bonus</div>
      <div class="sheet-col-1-6 sheet-padl">
        <button type="roll" class="sheet-roll" name="roll_FindSecretDoor"
        value="&{template:DccTabbed} {{background=[[5]]}} {{class=1}} {{name=@{character_name}}} {{title=Find Secret Doors}} {{flavortext=Looks around for secret or hidden doors.}} {{rolltype=Search Check : }} {{classability=[[ @{ActionDie} [Action Die] + @{secretDoorCheck} [Bonus] ]]  }}">Find Secret Doors</button>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>
    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Momentum<br></div>
      <div class="sheet-col-1-10 sheet-right">
        <select name="attr_Momentum" value="10">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10" selected="selected">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row sheet-sub-header">
      <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Familiar</div>
    </div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Spell Check<br></div>
      <div class="sheet-col-1-16 sheet-right" title="Enter your Find Familiar Spell Check Roll"><input class="sheet-underline sheet-center" type="text" placeholder="0" name="attr_wizardFamiliarCheck"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Name<br></div>
      <div class="sheet-col-1-4 sheet-right" title="Enter your Familiar's Name"><input class="sheet-underline sheet-center" type="text" placeholder="Familiar Name" name="attr_wizardFamiliarName"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Type<br></div>
      <div class="sheet-col-1-4 sheet-right" title="Enter your Familiar Type"><input class="sheet-underline sheet-center" type="text" placeholder="Type of Familiar" name="attr_WizardFamiliar"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Physical Look<br></div>
      <div class="sheet-col-1-4 sheet-right" title="Enter your Familiar's Physical Look"><input class="sheet-underline sheet-center" type="text" placeholder="Physical Look" name="attr_wizardFamiliarLook"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Personality<br></div>
      <div class="sheet-col-1-4 sheet-right" title="Enter your Familiar's Personality"><input class="sheet-underline sheet-center" type="text" placeholder="Personality" name="attr_wizardFamiliarPersonality"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">
      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-hd-row">Benefit(s)<br></div>
        <div class="sheet-col-1-1" title="Enter your Familiar's Benefits"><textarea name="attr_wizardFamiliarBenefit" placeholder="Enter your familiar's benefit(s) to you here"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-row sheet-sub-header">
      <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Patron(s)</div>
    </div>

    <div class="sheet-row">
      <div class="sheet-col-1-8 sheet-right sheet-padr sheet-hd-row">Name(s)<br></div>
      <div class="sheet-col-1-2 sheet-right" title="Enter your Supernatural Patron"><input class="sheet-underline sheet-center" type="text" placeholder="Patron's Name" name="attr_WizardPatron"></div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">
      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-hd-row">Taint<br></div>
        <div class="sheet-col-1-1" title="Enter Patron Taints here"><textarea name="attr_wizardPatronTaint" placeholder="Enter your Patron Taint(s) here"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1">
      <div class="sheet-row">
        <div class="sheet-col-1-6 sheet-hd-row">Notes<br></div>
        <div class="sheet-col-1-1" title="Enter Patron Bond notes here"><textarea name="attr_wizardPatronBondNotes" placeholder="Enter your Patron Bond notes here including your spell check roll for each bond"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1">
      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Spell Corruption</div>
      </div>
      <div class="sheet-row">
        <div class="sheet-col-1-1" title="Enter Spell Corruptions Here"><textarea name="attr_WizardCorruption" placeholder="Enter your Spell Corruption(s) here"></textarea></div>
      </div>
    </div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <%= render "classes/shared/spells_heard_of" %>

    <div class="sheet-col-1-1">

      <div class="sheet-row sheet-sub-header">
        <div class="sheet-col-1-5 sheet-center sheet-inspiration-label">Other Notes</div>
      </div>

      <div class="sheet-row">
        <div class="sheet-col-1-1" title="Enter other notes here"><textarea name="attr_WizardNotes" placeholder="Other notes of Wizarding Importance!"></textarea></div>
      </div>

    </div>

      <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <div class="sheet-col-1-1 sheet-center">&nbsp;</div>

    <ul>
        <li><b>Hit Points:</b> 1d4 per level<br> </li>
        <li><b>Weapons: </b> Dagger, longbow, longsword, shortbow, short sword, and staff<br></li>
        <li><b>Armor: </b> Wizards rarely wear armor, as it hinders spellcasting.<br></li>
        <li><b>Alignment: </b> Chaotic wizards study black magic. Neutral or lawful wizards seek control over elements. Wizards of all persuasions practice enchantment.<br></li>
        <li><b>Languages: </b> Common. Knows two additional languages for every point of Int modifier<br></li>
        <li><b>Movement: </b> 30'<br></li>
    </ul>
</div>
