<div class="sheet-wizard">
  <ul>
      <li><b>Hit Points:</b> 1d4 per level<br> </li>
      <li><b>Weapons: </b> Dagger, longbow, longsword, shortbow, short sword, and staff<br></li>
      <li><b>Armor: </b> Wizards rarely wear armor, as it hinders spellcasting.<br></li>
      <li><b>Alignment: </b> Chaotic wizards study black magic. Neutral or lawful wizards seek control over elements. Wizards of all persuasions practice enchantment.<br></li>
      <li><b>Languages: </b> Common. Knows two additional languages for every point of Int modifier<br></li>
      <li><b>Movement: </b> 30'<br></li>
  </ul>
</div>
